/*
                                        I       I
                                        I       I
                                        I       I 
                                        I I I I I
                                        I       I
                                        I       I
                                        I       I
*/

.hero-banner {
    background: #F1F6F7;
    position: relative;
    margin-bottom: 10px
}

@media (min-width: 991px) {
    .hero-banner {
        z-index: 111
    }
}

.hero-banner::before {
    content: "";
    display: block;
    width: 5%;
    height: 100%;
    background: #384aeb;
    position: absolute;
    top: 0;
    left: 0
}

@media (min-width: 575px) {
    .hero-banner::before {
        width: 20%
    }
}

@media (min-width: 991px) {
    .hero-banner::before {
        width: 35%
    }
}

.hero-banner__img {
    position: relative;
    top: 1px
}

@media (max-width: 575px) {
    .hero-banner__content {
        padding-bottom: 50px
    }
}

@media (min-width: 1000px) {
    .hero-banner__content {
        max-width: 495px
    }
}

.hero-banner__content h4 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #555555;
    margin-bottom: 12px
}

.hero-banner__content h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px
}

@media (min-width: 767px) {
    .hero-banner__content h1 {
        font-size: 30px;
        margin-bottom: 25px
    }
}

@media (min-width: 991px) {
    .hero-banner__content h1 {
        font-size: 50px
    }
}

.hero-banner__content p {
    margin-bottom: 10px
}

@media (min-width: 767px) {
    .hero-banner__content p {
        margin-bottom: 40px
    }
}

.hero-carousel__slide {
    position: relative
}

.hero-carousel__slide::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(50px);
    opacity: 0;
    transition: all .4s ease
}

.hero-carousel__slideOverlay {
    position: absolute;
    bottom: 50px;
    background: #384aeb;
    padding: 23px 90px 23px 25px;
    transform: translateY(50px);
    opacity: 0;
    z-index: -1;
    transition: all .4s ease-in-out
}

.hero-carousel__slideOverlay h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff
}

.hero-carousel__slideOverlay p {
    color: #fff;
    margin: 0
}

.hero-carousel__slide:hover::after {
    transform: translateY(0);
    opacity: 1
}

.hero-carousel__slide:hover .hero-carousel__slideOverlay {
    transform: translateY(0);
    opacity: 1;
    z-index: 2
}

.card-product {
    border: 0;
    margin-bottom: 30px
}

.card-product p {
    margin-bottom: 0
}

.card-product__img {
    position: relative
}

.card-product__imgOverlay {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 5px;
    transform: translateY(30px);
    opacity: 0;
    z-index: -1;
    transition: all .48s ease
}

.card-product__imgOverlay li {
    display: inline-block
}

.card-product__imgOverlay li button {
    border: 0;
    border-radius: 0;
    padding: 7px 12px;
    background: #8894ff
}

.card-product__imgOverlay li button i, .card-product__imgOverlay li button span {
    font-size: 15px;
    color: #fff;
    vertical-align: middle
}

.card-product__imgOverlay li button:hover {
    background: #384aeb
}

.card-product__imgOverlay li:not(:last-child) {
    margin-right: 5px
}

.card-product__title a {
    color: #222
}

.card-product__price {
    font-size: 18px;
    font-weight: 500
}

.card-product:hover .card-product__imgOverlay {
    opacity: 1;
    z-index: 1;
    transform: translateY(0)
}

.card-product:hover .card-product__title a {
    color: #384aeb
}

.banner-2 {
    display: block;
    position: relative;
    width: 100%;
    height: 580px;
}

.banner-2-bg {
    background: url(../../assets/img/banner_2_background.jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.banner-2-container {
    position: relative;
    display: block;
}

.banner-2-item {
    height: 100%;
}

.banner-2-category {
    font-size: 12px;
    color: #8e8e8e;
}

.banner-2-title {
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    margin-top: 11px;
}

.banner-2-text {
    font-size: 16px;
    font-weight: 300;
    color: #828282;
    line-height: 1.5;
    margin-top: 9px;
}

.banner-2-rating {
    margin-top: 18px;
}

.banner-2-rating i {
    color: #ffc107;
}

.banner-2-button {
    margin-top: 43px;
}

.banner-2-button a {
    color: #fff;
    background: #5785ff;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #5caeff;
}

