﻿
@{
    string avatar = "nophoto.gif";
    string _uname = "";
    string _permission = "";
    string _authen = "";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;

    try
    {

        _permission = Request.Cookies["Vlogin"]["permission"];
        _uname = Request.Cookies["Vlogin"]["uname"];
        _authen = Request.Cookies["Vlogin"]["authen"];

        if (Request.Cookies["Vlogin"]["picture"] == "")
        {
            avatar = "nophoto.gif";
        }
        else
        {
            avatar = Request.Cookies["Vlogin"]["picture"];
        }
    }
    catch
    {

    }

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/fevicon.png">
    <link rel="icon" type="image/png" href="~/assets/img/fevicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDEV Soft</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <!-- css -->
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/assets/vendors/nouislider/nouislider.min.css">


    @RenderSection("Styles", false)

    <style>
        .newboxshadow {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        }

        .mobilefooter {
            overflow: hidden;
            background-color: #f3f3f5;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
        }

            .mobilefooter a {
                float: left;
                display: block;
                color: #767b7f;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }

                .mobilefooter a:hover {
                    background-color: #d6d8d6;
                }
    </style>

</head>

<body>
    <div>
        <header class="header_area">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand logo_h" href="@Url.Content("~/")Home/Index2"><img src="~/img/logovdev.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item @Html.IsActive("Home","Index2")"><a class="nav-link" href="@Url.Content("~/")Home/Index2">โปรโมชั่น</a></li>
                                <li class="nav-item @Html.IsActive("Product","ProductListIOT")"><a class="nav-link" href="@Url.Content("~/")Product/ProductListIOT">สินค้า Iot</a></li>
                                @*<li class="nav-item @Html.IsActive("Product","ProductListFARM")"><a class="nav-link" href="http://203.170.129.207/kasetdealweb" target="_blank">สินค้าพืชผัก</a></li>*@
                                <li class="nav-item @Html.IsActive("Order","HowtoOrder")"><a class="nav-link" href="@Url.Content("~/")Order/HowtoOrder">วิธีการสั่งซื้อ</a></li>
                                @*<li class="nav-item @Html.IsActive("BackEnd","ApproveOrder")"><a class="nav-link" href="@Url.Content("~/")BackEnd/ApproveOrder">แอดมิน</a></li>*@

                            </ul>

                            <ul class="nav-shop">
                                <li class="nav-item" id="gotocart" style="cursor:pointer;">
                                    <a class="button button-header">
                                        <i class="fas fa-shopping-cart"></i>
                                        Cart
                                        <span class="nav-shop__circle" id="maincartitem">0</span>
                                    </a>
                                </li>
                            </ul>


                            <ul class="nav-shop" id="btregister">
                                <button type="button" id="btregister" class="btn btn-primary btn-sm">ลงทะเบียน/เข้าสู่ระบบ</button>
                            </ul>
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto" id="btuserprofile">
                                <li class="nav-item submenu dropdown">
                                    <a class="navbar-brand logo_h" href="#">
                                        <img id="layoutimg" class="img-circle img-t" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmggFbNsxZWQkEd0rSGR-FIRJKH_tNOO4TzYEzoDFqImz4T7Ro&s" alt=""><a id="lbusername" style="cursor:pointer;"> chintoben </a>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Login/UserProfile">แก้ไขข้อมูลผู้ใช้งาน</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Order/MyOrder">คำสั่งซื้อของฉัน</a></li>

                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")BackEnd/ApproveOrder"> สินค้าที่ชื่นชอบ<i class="ti-heart text-danger"></i></a></li>

                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Login/Logout" style="background-color:#f75118ba;color:white;">ออกจากระบบ</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!-- main content -->
    <main class="site-main">
        <!-- ================ start banner area ================= -->
        @*<section class="blog-banner-area" id="category">
                <div class="container h-100">

                </div>
            </section>*@
        <!-- ================ end banner area ================= -->
        <!-- ================ category section start ================= -->
        <section class="mb-5">

            @*<header class="masthead masthead-page mb-5">
                <img class="d-block w-100" src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/grid_computing-s.jpg?itok=lHW1Qggn" alt="Second slide" style="height:200px;object-fit:cover;object-position:center;filter:brightness(0.5)">
            </header>*@

            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5" id="leftsidebar" hidden>

                        <div class="sidebar-filter" style="margin-top:0px; margin-bottom:20px;" id="sidebarcategory">
                            <div class="top-filter-head">หมวดหมู่สินค้า</div>
                            <div class="common-filter">
                                <div class="head">สินค้าพืชผัก</div>
                                <form action="#">
                                    <ul>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="ALL" type="radio" name="brand"><label>ทั้งหมด<span> (19)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="ผัก" type="radio" name="brand"><label>ผัก<span> (7)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="ผลไม้" type="radio" name="brand"><label>ผลไม้<span> (1)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="เกษตรบก" type="radio" name="brand"><label>เกษตรบก<span> (1)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="เกษตรน้ำ" type="radio" name="brand"><label>เกษตรน้ำ<span> (1)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="ปศุสัตว์" type="radio" name="brand"><label>ปศุสัตว์<span> (1)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="อาหารทะเล" type="radio" name="brand"><label for="electronics">อาหารทะเล<span> (1)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="อาหารแปรรูป" type="radio" name="brand"><label for="food">อาหารแปรรูป<span> (1)</span></label>
                                        </li>
                                    </ul>
                                </form>

                            </div>
                            <div class="common-filter">
                                <div class="head">สินค้า IOT</div>
                                <form action="#">
                                    <ul>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="ALL" type="radio" name="color"><label for="black">ทั้งหมด<span>(6)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="Kaset deal Platform" type="radio" name="color"><label for="black">Kaset deal Platform<span>(1)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="Any Sync Platform" type="radio" name="color"><label for="balckleather">Any Sync Platform<span>(4)</span></label>
                                        </li>
                                        <li class="filter-list">
                                            <input class="pixel-radio" data-value="AVE Platform" type="radio" name="color"><label for="blackred">AVE Platform<span>(1)</span></label>
                                        </li>

                                    </ul>
                                </form>
                            </div>

                        </div>





                        <div class="sidebar-categories text-center" style="background-color:#f1f6f7;margin-bottom:20px; ">
                            <div class="head">Add Friend</div>
                            <img src="~/assets/img/kasetdealqr.jpg" alt="" width="179" height="177">
                        </div>

                        <div class="sidebar-categories text-center" style="background-color:white;margin-bottom:20px; ">
                            <div class="head">เช็คสถานะส่งของ</div>
                            <a href="https://th.kerryexpress.com/th/track/" title="เช็ค Kerry" target="_blank" rel="noopener noreferrer">
                                <img src="https://ft.lnwfile.com/_/ft/_raw/41/4t/t6.gif" alt="" width="216" height="151">
                            </a><a href="https://track.thailandpost.co.th/" target="_blank" rel="noopener noreferrer" title="เช็คEMS">
                                <img src="https://ft.lnwfile.com/_/ft/_raw/nd/ae/tj.gif" alt="" width="206" height="169">
                            </a>
                        </div>


                        <div class="sidebar-categories" style="background-color:#f1f6f7;margin-bottom:20px; ">
                            <div class="head">สถิติการเข้าชม</div>
                            <div class="smini-hide" style="margin-top:20px;padding-bottom:20px;">
                                <ul class="nav-main">
                                    <li class="nav-main-item">
                                        <svg width="98%" height="90" id="besucherzaehler2" style="fill: #ffffff00;">
                                            <g>
                                                <rect width="98%" height="90" x="0" y="0" style="fill: #ffffff00;" fill-opacity="1.0">
                                                </rect>
                                                <text x="19" y="44" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="counttotal">ทั้งหมด : </text>
                                                <text x="19" y="62" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="counttoday">วันนี้ : </text>
                                                <text x="19" y="80" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="countyesterday">เมื่อวาน :</text>
                                                <rect width="5" height="9" x="19" y="14" style="fill: #777;"></rect>
                                                <rect width="5" height="17" x="27" y="6" style="fill: #777;"></rect>
                                                <rect width="5" height="13" x="35" y="10" style="fill: #777;"></rect>
                                                <text x="47" y="23" style="font-weight: bold;" font-family="Roboto, sans-serif" font-size="14" fill="#777">ผู้เข้าชม</text>
                                            </g>
                                        </svg>
                                    </li>
                                    <li class="nav-main-item">
                                        <svg width="98%" height="45" id="besucherzaehler2" style="fill: #ffffff00;">
                                            <g>
                                                <rect width="98%" height="45" x="0" y="0" style="fill: #ffffff00;" fill-opacity="1.0">
                                                </rect>
                                                <rect width="5" height="9" x="19" y="14" style="fill: #777;"></rect>
                                                <rect width="5" height="17" x="27" y="6" style="fill: #777;"></rect>
                                                <rect width="5" height="13" x="35" y="10" style="fill: #777;"></rect>
                                                <text x="47" y="23" style="font-weight: bold;" font-family="Roboto, sans-serif" font-size="14" fill="#777">เข้าสู่ระบบ</text>
                                                <text x="19" y="44" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="logintotal">ทั้งหมด : 7,789 ครั้ง</text>
                                            </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    @*<div class="col-xl-9 col-lg-8 col-md-7">*@
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <!-- Start Filter Bar -->

                        @*@RenderBody()*@



                    </div>
                </div>
            </div>
            @RenderBody()
        </section>
        <!-- ================ category section end ================= -->
        <!-- ================ สินค้าขายดีในร้านค้า ================= -->
        <section class="related-product-area section-margin--small mt-0" style="padding-top: 50px;" hidden>
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>สินค้าขายดีในร้านค้า</p>
                    <h2>สินค้า <span class="section-intro__style">ยอดนิยม</span></h2>
                </div>
                <div class="row mt-30">
                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product1.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">มะละกอ</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product2.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">มะเขือเทศ</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product4.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">ผักชี</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product5.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">มะนาว</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product7.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">ผักกาดขาว</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product8.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">แตงกวา</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                        <div class="single-search-product-wrapper">
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product2.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">มะเขือเทศ</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>
                            <div class="single-search-product d-flex">
                                <a href="#"><img src="~/img/product/product3.png" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">คะน้า</a>
                                    <div class="price">$170.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================ สินค้าขายดีในร้านค้า ================= -->



    </main>
    @*<section class="contact-container">
            <div class="card-contact">
                <div>
                    <a>สอบถามเพิ่มเติมได้ที่ <span>LINE@@</span></a>
                    <img src="~/assets/img/qrcode.png">
                    <label>หรือ <span>@@vdev_soft</span></label>
                    <img src="~/assets/img/line-icon.png">
                </div>
            </div>
        </section>*@
    <section class="newletter">
        <div class="newsletter">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="height:150px;">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/assets/img/banner1.png" style="object-fit:cover;object-position:center;" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://www.sciencepark.or.th/images/Leasehold-Land_1078px.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://www.scurvehub.com/upload/thumb/article/af51c13621eaefa854a22947342d0b54.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    @*<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo"><a href="#">บริษัท วีเดฟซอฟท์ จำกัด</a></div>
                            </div>
                            <div class="footer_contact_text">อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 ห้อง 231-232</div>
                            <div class="footer_contact_text">เลขที่ 141 หมู่ 9 ถนนพหลโยธิน ตำบลคลองหนึ่ง อำเภอคลองหลวง จังหวัดปทุมธานี 12120</div>
                            <div class="footer_contact_text">
                                <p>17 Princess Road, London</p>
                                <p>Grester London NW18JR, UK</p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Find it Fast</div>
                            <ul class="footer_list">
                                <li><a href="#">Computers &amp; Laptops</a></li>
                                <li><a href="#">Cameras &amp; Photos</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Smartphones &amp; Tablets</a></li>
                                <li><a href="#">TV &amp; Audio</a></li>
                            </ul>
                            <div class="footer_subtitle">Gadgets</div>
                            <ul class="footer_list">
                                <li><a href="#">Car Electronics</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <ul class="footer_list footer_list_2">
                                <li><a href="#">Video Games &amp; Consoles</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Cameras &amp; Photos</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Computers &amp; Laptops</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Customer Care</div>
                            <ul class="footer_list">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Customer Services</a></li>
                                <li><a href="#">Returns / Exchange</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Product Support</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>*@
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                        <div class="copyright_content">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            by Vdev Soft
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="logos ml-sm-auto">
                            <ul class="logos_list">
                                <li><a href="#"><img src="#" alt=""></a></li>
                                <li><a href="#"><img src="#" alt=""></a></li>
                                <li><a href="#"><img src="#" alt=""></a></li>
                                <li><a href="#"><img src="#" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobilefooter" href="#">
        <div class="row">
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="@Url.Content("~/")Home/Index"><i class="fa fa-home"></i><br />HOME</a> </div>
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="@Url.Content("~/")Product/ProductListIOT"><i class="fa fa-tags"></i><br />iot product</a> </div>
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="http://203.170.129.207/kasetdealweb"><i class="fas fa-shopping-cart"></i><br />kasetdeal</a> </div>
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="#"><i class="fa fa-user"></i><br />USER</a> </div>
        </div>
    </div>

    <!-- js -->
    <script src="~/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendor/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/vendor/mail-script.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/jquery.number.js"></script> @* จัด Format ลูกน้ำ ตัวเลข หลักพัน *@
    <script>
        var webapi = "@UrlServices";
         var _uname = "@_uname";
        var _authen = "@_authen";

        var layout_cartdata = new Array();
        layout_cartdata = { 'order': [], "detail": [] };
        $(function () {

            var parts = window.location.pathname.split('/');
            var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
            if (lastSegment != "ProductListFARM" && lastSegment != "ProductListIOT") {
                $("#sidebarcategory").hide();
            }


            var w = window.innerWidth;
            if (w > 500) {
                $(".mobilefooter").hide();
            }

            if (localStorage.getItem("cartdata") != null) {
                layout_cartdata = JSON.parse(localStorage.getItem("cartdata"));
                var num = 0
                for (i = 0; i < layout_cartdata.detail.length; i++) {
                    num += layout_cartdata.detail[i].p_qty
                }
                $("#maincartitem").html(num);
            }


            $("#gotocart").click(function () {
                 location.href='@Url.Action("cart", "product")';
            });
             $("#btregister").click(function () {
               location.href='@Url.Action("register", "login")';
            });

           $('#layoutimg').attr('src', webapi + "/assets/img/Avatar/@avatar");
            if (_authen === "OK") {
                $("#btregister").prop('hidden', true);
                $("#btuserprofile").prop('hidden', false);
                $("#lbusername").html("@_uname");
            }
            else {
                $("#btregister").prop('hidden', false);
                $("#btuserprofile").prop('hidden', true);
            }

            LoadDataCounter();

        });



        function LoadDataCounter() {
            $.ajax({
                type: "get",
                url: "http://www.xn--12cfsxwzpdhs1afud2b6iscg8h.com/kasettrackingservices/GetSummaryCount/1212312121",
                data: {},
                dataType: "json",
                success: function (response) {
                    $("#counttotal").html("ทั้งหมด : " + response[0].total + " คน");
                    $("#counttoday").html("วันนี้ : " + response[0].today + " คน");
                    $("#countyesterday").html("เมื่อวาน : " + response[0].yesterday + " คน");
                    $("#logintotal").html("ทั้งหมด : " + $.number(response[0].alllogin) + " ครั้ง");
                }
            });
        }




    </script>
    <script type="text/javascript">
        function flyToElement(flyer, flyingTo) {
            var divider = 3;
            var flyerClone = $(flyer).clone();
            console.log('flyerClone  ' + flyerClone);
            $(flyerClone).css({
                position: 'absolute',
                "font-size": "50px",
                top: $(flyer).offset().top + "px",
                left: $(flyer).offset().left + "px",
                opacity: 1,
                'z-index': 1000
            });
            $('body').append($(flyerClone));
            var gotoX = $(flyingTo).offset().left + ($(flyingTo).width() / 2) - ($(flyer).width() / divider) / 2;
            var gotoY = $(flyingTo).offset().top + ($(flyingTo).height() / 2) - ($(flyer).height() / divider) / 2;

            $(flyerClone).animate({
                opacity: 0.1,
                left: gotoX,
                top: gotoY,
                width: $(flyer).width() / divider,
                height: $(flyer).height() / divider
            }, 1400,
                function () {
                    $(flyingTo).fadeOut('fast', function () {
                        $(flyingTo).fadeIn('fast', function () {
                            $(flyerClone).fadeOut('fast', function () {
                                $(flyerClone).remove();
                            });
                        });
                    });
                });
        }
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5dc1653d154bf74666b79601/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    @RenderSection("Scripts", false)



</body>

</html>