﻿
@{
    string avatar = "nophoto.gif";
    string _uname = "";
    string _permission = "";
    string _authen = "";
    string _loginid = "";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;

    try
    {
        _loginid = Request.Cookies["Vlogin"]["loginid"];
        _authen = Request.Cookies["Vlogin"]["authen"];

        _uname = Request.Cookies["Vlogin"]["uname"];
        _permission = Request.Cookies["Vlogin"]["permission"];

        if (Request.Cookies["Vlogin"]["picture"] == "")
        {
            avatar = "nophoto.gif";
        }
        else
        {
            avatar = Request.Cookies["Vlogin"]["picture"];
        }
    }
    catch (Exception ex)
    {

    }

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/fevicon.png">
    <link rel="icon" type="image/png" href="~/assets/img/fevicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDEV Soft</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>

    <!-- css -->
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/assets/vendors/nouislider/nouislider.min.css">


    @RenderSection("Styles", false)

    <style>
        .newboxshadow {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        }

        .mobilefooter {
            overflow: hidden;
            background-color: #f3f3f5;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
        }

            .mobilefooter a {
                float: left;
                display: block;
                color: #767b7f;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }

                .mobilefooter a:hover {
                    background-color: #d6d8d6;
                }
    </style>

</head>

<body>
    <div>
        <header class="header_area">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand logo_h" href="@Url.Content("~/")Home/Index"><img src="~/assets/img/logovdev.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item @Html.IsActive("Home","Index")"><a class="nav-link" href="@Url.Content("~/")Home/Index">หน้าแรก</a></li>
                                <li class="nav-item submenu dropdown @Html.IsActive("Home","History") @Html.IsActive("Home","Vision") @Html.IsActive("Home","Information") @Html.IsActive("Home","CSR")">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">ข้อมูลบริษัท</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/History">ประวัติบริษัท</a></li>
                                        @*<li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/Vision">วิศัยทัศน์ พันธกิจ</a></li>*@
                                        @*<li class="nav-item"><a class="nav-link" href="~/assets/pdf/profile.pdf">Profile บริษัท</a></li>*@
                                        @*<li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/Index">ธรรมเนียบผู้บริหาร</a></li>*@
                                        @*<li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/CompanyRegister">การจดทะเบียน</a></li>*@
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/Information">ข่าวสาร</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/CSR">กิจกรรม</a></li>
                                    </ul>
                                </li>


                                <li class="nav-item submenu dropdown  @Html.IsActive("Home","MyProject") @Html.IsActive("Home","ScropeOfService") @Html.IsActive("Home","MyCustomer")">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">ผลงานบริษัท</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/MyProject">ผลงานของเรา</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/ScropeOfService">ขอบเขตการให้บริการ</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/MyCustomer">ลูกค้า</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item @Html.IsActive("Home","Recruitment")"><a class="nav-link" href="@Url.Content("~/")Home/Recruitment">รับสมัครพนักงาน</a></li>
                                <li class="nav-item @Html.IsActive("Home","Contact")"><a class="nav-link" href="@Url.Content("~/")Home/Contact">ติดต่อเรา</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Home/Index2" target="_blank">สินค้าของเรา</a></li>
                            </ul>
                            <ul class="nav-shop" id="btregister">
                                <button type="button" id="btregister" class="btn btn-primary btn-sm">ลงทะเบียน/เข้าสู่ระบบ</button>
                            </ul>
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto" id="btuserprofile">
                                <li class="nav-item submenu dropdown">
                                    <a class="navbar-brand logo_h" href="@Url.Content("~/")Home/Index">
                                        <img id="layoutimg" class="img-circle img-t" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmggFbNsxZWQkEd0rSGR-FIRJKH_tNOO4TzYEzoDFqImz4T7Ro&s" alt=""><a id="lbusername"> chintoben </a>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Login/UserProfile">Edit Profile</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Order/MyOrder">My Order</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/")Login/Logout" style="background-color:#f75118ba;color:white;">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!-- main content -->
    <main class="site-main">
        <!-- ================ start banner area ================= -->
        @*<div class="blog-banner-area" style="background-image: url('http://www.omahaadvisors.com/wp-content/uploads/2017/06/blogbanner.jpg');"></div>*@
        <!-- ================ end banner area ================= -->
        @RenderBody()

    </main>
    @*<section class="contact-container">
            <div class="card-contact">
                <div>
                    <a>สอบถามเพิ่มเติมได้ที่ <span>LINE@@</span></a>
                    <img src="~/assets/img/qrcode.png">
                    <label>หรือ <span>@@vdev_soft</span></label>
                    <img src="~/assets/img/line-icon.png">
                </div>
            </div>
        </section>*@
    <section class="newletter">
        <div class="newsletter">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="height:150px;">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/banner1.png" style="object-fit:cover;object-position:center;" alt="First slide">
                        </div>
                        <div class="carousel-item img-thumbnail">
                            <img class="d-block w-100" src="https://www.sciencepark.or.th/images/Leasehold-Land_1078px.png" alt="Second slide">
                        </div>
                        <div class="carousel-item img-thumbnail">
                            <img class="d-block w-100" src="https://www.scurvehub.com/upload/thumb/article/af51c13621eaefa854a22947342d0b54.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>



    @*<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo"><a href="#">บริษัท วีเดฟซอฟท์ จำกัด</a></div>
                            </div>
                            <div class="footer_contact_text">อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 ห้อง 231-232</div>
                            <div class="footer_contact_text">เลขที่ 141 หมู่ 9 ถนนพหลโยธิน ตำบลคลองหนึ่ง อำเภอคลองหลวง จังหวัดปทุมธานี 12120</div>
                            <div class="footer_contact_text"> Support:Vdefsoft@Vdefsoft.com</div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Find it Fast</div>
                            <ul class="footer_list">
                                <li><a href="#">Computers &amp; Laptops</a></li>
                                <li><a href="#">Cameras &amp; Photos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <ul class="footer_list footer_list_2">
                                <li><a href="#">Video Games &amp; Consoles</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Customer Care</div>
                            <ul class="footer_list">
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>*@
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                        <div class="copyright_content">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            by Vdev Soft
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="logos ml-sm-auto">
                            <ul class="logos_list">
                                <li><a href="#"><img src="#" alt=""></a></li>
                                <li><a href="#"><img src="#" alt=""></a></li>
                                <li><a href="#"><img src="#" alt=""></a></li>
                                <li><a href="#"><img src="#" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobilefooter" href="#">
        <div class="row">
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="@Url.Content("~/")Home/Index"><i class="fa fa-home"></i><br />หน้าแรก</a> </div>
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="@Url.Content("~/")Home/Information"><i class="fa fa-tags"></i><br />ข่าวสาร</a> </div>
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="@Url.Content("~/")Home/CSR"><i class="fas fa-shopping-cart"></i><br />อัลบั้ม</a> </div>
            <div class="col col-md-3 col-sm-3 col-3 text-center" style="text-align:center;display: grid;margin-bottom:10px;">  <a href="@Url.Content("~/")Home/Contact"><i class="fa fa-user"></i><br />ติดต่อเรา</a> </div>
        </div>
    </div>

    <!-- js -->
    <script src="~/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendor/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/vendor/mail-script.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/jquery.number.js"></script> @* จัด Format ลูกน้ำ ตัวเลข หลักพัน *@
    <script>
        var webapi = "@UrlServices";
        var _uname = "@_uname";
        var _authen = "@_authen";
        $(function () {


            if (location.hostname === "vdevsoft.co.th") {
                window.location.replace("http://www.vdevsoft.co.th");
            }

            var w = window.innerWidth;

            if (w > 500) {
                $(".mobilefooter").hide();
            }
               $("#gotocart").click(function () {
                 location.href='@Url.Action("cart", "product")';
            });
             $("#btregister").click(function () {
               location.href='@Url.Action("register", "login")';
            });

            $('#layoutimg').attr('src', webapi + "/assets/img/Avatar/@avatar");

            if (_authen === "OK") {
                $("#btregister").prop('hidden', true);
                $("#btuserprofile").prop('hidden', false);
                $("#lbusername").html("@_uname");
            }
            else {
                $("#btregister").prop('hidden', false);
                $("#btuserprofile").prop('hidden', true);
            }


        });



    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5dc1653d154bf74666b79601/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    @RenderSection("Scripts", false)
</body>

</html>