﻿
@{
    ViewBag.Title = "HowtoOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/assets/css/main.css" rel="stylesheet" />
}

@section Scripts {

}


    <div class="container">
        <div class="row">
            <div>
                <h4 style="margin-top:40px; margin-bottom:30px;">ขั้นตอน<span class="section-intro__style">การสั่งซื้อ</span></h4>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12" style="margin:15px;">
                <img class="d-block w-100 img-thumbnail" src="~/assets/img/how1.jpg" style="object-fit:cover;object-position:center;" alt="First slide">
            </div>
            @*<div class="col-xl-12 col-lg-12 col-md-12" style="margin:15px;">
            <img class="d-block w-100 img-thumbnail" src="~/assets/img/how2.png" style="object-fit:cover;object-position:center;" alt="First slide">
        </div>*@

        </div>
      
       
    </div>



