﻿
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}

@section Styles {

    <style>



        .list_container {
            overflow: auto;
        }

        .smpl-step {
            margin-top: 40px;
        }

        .smpl-step {
            border-bottom: solid 1px #e0e0e0;
            padding: 0 0 10px 0;
        }

            .smpl-step > .smpl-step-step {
                padding: 0;
                position: relative;
            }

                .smpl-step > .smpl-step-step .smpl-step-num {
                    font-size: 17px;
                    margin-top: -20px;
                    margin-left: 47px;
                }

                .smpl-step > .smpl-step-step .smpl-step-info {
                    font-size: 14px;
                    padding-top: 27px;
                }

                .smpl-step > .smpl-step-step > .smpl-step-icon {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    display: block;
                    background: #5CB85C;
                    top: 45px;
                    left: 50%;
                    margin-top: -35px;
                    margin-left: -15px;
                    border-radius: 50%;
                }

                .smpl-step > .smpl-step-step > .progress {
                    position: relative;
                    border-radius: 0px;
                    height: 8px;
                    box-shadow: none;
                    margin-top: 37px;
                }

                    .smpl-step > .smpl-step-step > .progress > .progress-bar {
                        width: 0px;
                        box-shadow: none;
                        background: #428BCA;
                    }

                .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
                    width: 100%;
                }

                .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
                    width: 50%;
                }

                .smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
                    width: 0%;
                }

                .smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
                    width: 100%;
                }

                .smpl-step > .smpl-step-step.disabled > .smpl-step-icon {
                    background-color: #f5f5f5;
                }

                    .smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {
                        opacity: 0;
                    }

                .smpl-step > .smpl-step-step:first-child > .progress {
                    left: 50%;
                    width: 50%;
                }

                .smpl-step > .smpl-step-step:last-child > .progress {
                    width: 50%;
                }

                .smpl-step > .smpl-step-step.disabled a.smpl-step-icon {
                    pointer-events: none;
                }

        .modal-dialog {
            top: calc(200px);
        }

        .rating {
            display: inline-block;
            position: relative;
            height: 50px;
            line-height: 50px;
            font-size: 35px;
        }

            .rating label {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                cursor: pointer;
            }

                .rating label:last-child {
                    position: static;
                }

                .rating label:nth-child(1) {
                    z-index: 5;
                }

                .rating label:nth-child(2) {
                    z-index: 4;
                }

                .rating label:nth-child(3) {
                    z-index: 3;
                }

                .rating label:nth-child(4) {
                    z-index: 2;
                }

                .rating label:nth-child(5) {
                    z-index: 1;
                }

                .rating label input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                .rating label .icon {
                    float: left;
                    color: transparent;
                }

                .rating label:last-child .icon {
                    color: #000;
                }

            .rating:not(:hover) label input:checked ~ .icon,
            .rating:hover label:hover input ~ .icon {
                color: #09f;
            }

            .rating label input:focus:not(:checked) ~ .icon:last-child {
                color: #000;
                text-shadow: 0 0 5px #09f;
            }
    </style>
    <link href="~/assets/css/main.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
    <script>
        var _loginid = "@Request.Cookies["Vlogin"]["loginid"]";
        var webapi = "@UrlServices";
        var cartdata = new Array();
        var date = moment(); //Get the current date
        var _billname = "@Request.Cookies["Vlogin"]["uname"]";


        $(function () {


            $(".pixel-radio").prop("disabled", true);
            $(".pixel-radio").click(function () {
                alert("กรุณากลับไปที่หน้าสินค้าก่อนทำการเลือกข้อมูล");
            });

            getmyorder(0, 0);
            getmyorder(1, 1);
            getmyorder(2, 4);
            getmyorder(5, 5);


            $("#uploadfile1").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded1;
                    reader.readAsDataURL(this.files[0]);
                }
                else {
                    $('#showimage1').attr('src', webapi + "/assets/img/payment/nophoto.png");
                }
            });

            $("#btnconfirm").click(function () {
                uploadpicture($(this).attr("data-orderid"));
            });

            $('input[name="number"]').keyup(function (e) {
                if (/\D/g.test(this.value)) {
                    this.value = this.value.replace(/\D/g, '');
                }
            });

            $(':radio').change(function () {
                console.log('New star rating: ' + this.value);
            });




            send_email("chintoben@hotmail.com", "แจ้งสถานะการสั่งซื้อของ", "")


        });
        function send_email(sendto, sendsubject, senddata) {
            var _billname = sendto
            var orderid = "99999"
            var html = ""; //เนื้อหา mail
            html += " < h4>สวัสดี คุณ  < a>" + _billname + "< /a>< /h4> ";
            html += " < h4>รายการสั่งซื้อของท่านเลขที่ # < a class='orderno'>" + orderid + "< /a>< /h4> ";
            html += " < div>สั่งซื้อ ณ วันที่ : < a>" + date.format('DD/MM/YYYY') + "< /a>< /div>  ";
            html += " < div>อยู่ในสถานะ : < a id='orderstatus'>รอการชำระเงิน < /a>< /div>  ";
            html += " < img name='image' class='img img-thumbnail center' src='http://119.59.112.188/vdevwebdemo/assets/img/step2.png'>  ";
            html += " < br /> < br />  < h4>ขอบคุณที่ใช้บริการ < /h4> ";
            html += " < div> บริษัท วีเดฟซอฟท์ จำกัด < /div>  ";
            html += " < div> อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 < /div>  ";
            html += " < div>  ห้อง 213 เลขที่ 141 หมู่ 9 ถนนพหลโยธิน < /div>  ";
            html += " < div> ตำบลคลองหนึ่ง อำเภอคลองหลวง < /div>  ";
            html += " < div> จังหวัดปทุมธานี 12120 < /div>  ";
            html += " < div> email : webmaster@vdevsoft.co.th < /div>  ";
            html += " < div> โทร : 0875621040 < /div>  ";


            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("sendto", sendto);
            dataForm.append("sendsubject", sendsubject);
            dataForm.append("senddata", html );

            $.ajax({
                type: "POST",
                url: webapi + "/Order/sendmail/",
                contentType: false,
                processData: false,
                data: dataForm,
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }
        function uploadpicture(orderid) {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("orderid", orderid);
            dataForm.append("paymentamt", $('#txtpayamt').val());
            dataForm.append("paymentremark", $('#txtremark').val());
            if ($('#uploadfile1')[0].files[0] === undefined || $('#uploadfile1')[0].files[0] === null) {
                dataForm.append("paymentpic", null);
            } else {

                dataForm.append('paymentpic', $('#uploadfile1')[0].files[0]);
            }

            $.ajax({
                type: "POST",
                url: webapi + "/Order/savepaymentslip/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                    //sendtoline("ได้รับโอนเงินจำนวน " + $('#txtpayamt').val() + " บาท โปรดตรวจสอบ Order เลขที่ #" + orderid + " ที่ www.vdevsoft.co.th");
                    getmyorder(0, 0);
                    getmyorder(1, 1);
                    getmyorder(2, 4);
                    getmyorder(5, 5);



                    $('#modalpayment').modal('toggle');
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }


        function imageIsLoaded1(e) {
            $('#showimage1').attr('src', e.target.result);
        };

        function testAjax(orderdetailid) {
            $.ajax({
                url: webapi + "/Order/getOrderdetail/ALL/" + orderdetailid +"/ALL",
                success: function (data) {
                 handleData(data);

                }
            });
        }

        function getmyorder(s_processstatus, n_processstatus) {
            console.log(webapi + "/Order/getorder_master/" + _loginid + "/ALL/" + s_processstatus + "/" + n_processstatus);
            $.ajax({
                type: "get",
                url: webapi + "/Order/getorder_master/" + _loginid + "/ALL/" + s_processstatus + "/" + n_processstatus ,
                data: {},
                dataType: "json",
                success: function (response) {
                    console.log("response", response);
                    var pro = "";
                    var test = "";
                    var count = 0;
                    for (i = 0; i < response.length; i++) {
                        pro += '<tr> ';
                        pro += ' <td class="text-center">#' + response[i].orderid + '</td>';
                        pro += ' <td class="text-center modalstatus" data-orderid="' + response[i].orderid + '" data-processstatus="' + response[i].processstatus + '" data-deliverystatus="' + response[i].deliverystatus + '" data-deliveryprice="' + response[i].deliveryprice + '" ><div class="media"> <div class="d-flex">    ';

                        for (j = 0; j < response[i].Details.length; j++) {
                            pro += '  <img src="' + webapi + '/img/product/' + response[i].Details[j].pic1 + '" style="object-fit:cover;object-position:center;height:40px;width:40px;" alt=""> ';
                        }

                        pro += '  </div></div></td> ';
                        pro += ' <td class="text-center">' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice) ) + ' </td> ';
                        pro += ' <td class="text-center"> ' + response[i].orderdate1  + ' </td> ';



                        if (response[i].paymentstatus == 0) {
                            pro += ' <td class="text-center addpayment" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus1 + '" data-ordertotal="' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice)) + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"  title ="ยังไม่ได้ชำระเงิน"> <i class="fa fa-times-circle text-danger ">แจ้งโอนเงิน</i> </td> ';
                        } else if (response[i].paymentstatus == 1) {
                            pro += ' <td class="text-center addpayment" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus1 + '" data-ordertotal="' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice)) + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"  title ="ชำระแล้ว">  <i class="far fa-check-circle text-warning">แจ้งโอนเงิน</i> </td> ';
                        } else if (response[i].paymentstatus == 2) {
                            pro += ' <td class="text-center addpayment" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus1 + '" data-ordertotal="' + response[i].ordertotal + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"  title ="อนุมัติการชำระ">  <i class="far fa-check-circle text-success">แจ้งโอนเงิน</i> </td> ';
                        }

                        if (response[i].deliverystatus == 0) {
                            pro += ' <td class="text-center adddelivery" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="ยังไม่ได้จัดส่ง"> <i class="fa fa-times-circle text-danger "></i> </td> ';
                        } else if (response[i].deliverystatus == 1) {
                            pro += ' <td class="text-center adddelivery" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="กำลังแพ็คของ"> <i class="far fa-check-circle text-warning"></i> </td> ';
                        } else if (response[i].deliverystatus == 2) {
                            pro += ' <td class="text-center adddelivery" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="จัดส่งแล้ว รอรับของ"> <i class="far fa-check-circle text-success"></i> </td> ';
                        } else if (response[i].deliverystatus == 3) {
                            pro += ' <td class="text-center adddelivery" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"  title ="รับของแล้ว"> <i class="far fa-check-circle text-success"></i> </td> ';
                        }

                        if (response[i].processstatus == 5) {
                            pro += ' <td class="text-center"> <a class="smpl-step-icon modalstatus" title="จัดส่ง" data-orderid="' + response[i].orderid + '" data-processstatus="' + response[i].processstatus + '" data-deliverystatus="' + response[i].deliverystatus + '" data-deliveryprice="' + response[i].deliveryprice + '"   style="cursor:pointer;"><i style="font-size: 15px; color: green;">complete</i></a> </td> ';
                        } else {
                            pro += ' <td class="text-center"> <a class="smpl-step-icon modalstatus" title="จัดส่ง" data-orderid="' + response[i].orderid + '" data-processstatus="' + response[i].processstatus + '" data-deliverystatus="' + response[i].deliverystatus + '" data-deliveryprice="' + response[i].deliveryprice + '"   style="cursor:pointer;"><i class="fa fa-eye" style="font-size: 25px; color: brown;"></i></a> </td> ';
                        }

                        pro += '</tr> ';

                        count += 1;
                    }

                    if (n_processstatus == 0) {
                        $("#tab1notifynumber").html(count);
                        $("#tbdata1").html("");
                        $("#tbdata1").append(pro);
                    } else if (n_processstatus == 1) {
                        $("#tab2notifynumber").html(count);
                        $("#tbdata2").html("");
                        $("#tbdata2").append(pro);
                    } else if (n_processstatus == 4) {
                        $("#tab3notifynumber").html(count);
                        $("#tbdata3").html("");
                        $("#tbdata3").append(pro);
                    } else if (n_processstatus == 5) {
                        $("#tab4notifynumber").html(count);
                        $("#tbdata4").html("");
                        $("#tbdata4").append(pro);
                    }

                    $(".modalstatus").click(function () {
                        Loaddatadetail($(this).attr("data-orderid"), $(this).attr("data-deliveryprice"));

                        $('#lbname').html($(this).attr("data-name"));
                        $('#lbprice').html(parseFloat($(this).attr("data-total")) / parseFloat($(this).attr("data-qty")));
                        $('#lbqty').html($(this).attr("data-qty"));
                        $('#lbtotal').html($(this).attr("data-total"));
                        $('#lbdate').html($(this).attr("data-date"));
                        $('#propic').attr("src", webapi +"/img/product/"+ $(this).attr("data-pic"));

                        if ($(this).attr("data-processstatus") == 0) {
                            $("#process2").removeClass("active");
                            $("#process2").removeClass("complete");
                            $("#process2").addClass("disabled");

                            $("#process3").addClass("disabled");
                            $("#process3").removeClass("complete");
                            $("#process3").removeClass("active");
                            $("#process4").addClass("disabled");
                            $("#process4").removeClass("complete");
                            $("#process4").removeClass("active");

                        }
                        if ($(this).attr("data-processstatus") == 1) {
                            $("#process2").removeClass("disabled");
                            $("#process2").removeClass("complete");
                            $("#process2").addClass("active");

                            $("#process3").addClass("disabled");
                            $("#process3").removeClass("complete");
                            $("#process3").removeClass("active");
                            $("#process4").addClass("disabled");
                            $("#process4").removeClass("complete");
                            $("#process4").removeClass("active");
                        }
                        if ($(this).attr("data-processstatus") == 2) {
                            $("#process2").removeClass("active");
                            $("#process2").removeClass("disabled");
                            $("#process2").addClass("complete");

                            $("#process3").addClass("disabled");
                            $("#process3").removeClass("complete");
                            $("#process3").removeClass("active");
                            $("#process4").addClass("disabled");
                            $("#process4").removeClass("complete");
                            $("#process4").removeClass("active");

                        }

                        if ($(this).attr("data-processstatus") == 3) {
                            $("#process3").removeClass("disabled");
                            $("#process3").removeClass("complete");
                            $("#process3").addClass("active");
                            $("#process4").addClass("disabled");
                            $("#process4").removeClass("complete");
                            $("#process4").removeClass("active");
                        }
                        if ($(this).attr("data-processstatus") == 4) {
                            $("#process3").removeClass("disabled");
                            $("#process3").removeClass("active");
                            $("#process3").addClass("complete");

                        }

                        if ($(this).attr("data-processstatus") == 5) {
                            $("#process3").removeClass("disabled");
                            $("#process3").removeClass("active");
                            $("#process3").addClass("complete");

                            $("#process4").removeClass("disabled");
                            $("#process4").removeClass("active");
                            $("#process4").addClass("complete");
                        }


                        $('#modalstatus').modal('toggle');
                    });
                    $(".addpayment").click(function () {
                        if ($(this).attr("data-paymentpic") === "") {
                            $('#showimage1').attr('src', webapi + "/assets/img/payment/nophoto.png");
                        } else {
                            $('#showimage1').attr("src", webapi + "/assets/img/payment/" + $(this).attr("data-paymentpic"));
                        }
                        $('#txtpayamt').val($.number($(this).attr("data-ordertotal")));
                        $('#btnconfirm').attr("data-orderid", $(this).attr("data-orderid"));

                        $('#txtpaymentstatus').val($(this).attr("data-paymentstatus"));
                        $('#txtorderno').val("#"+ $(this).attr("data-orderid"));
                        $('#txtremark').val($(this).attr("data-paymentremark"));
                        $('#modalpayment').modal('toggle');
                    });
                }
            });
        }

        function Loaddatadetail(orderid,deliveryprice) {

            $.ajax({
                type: "get",
                url: webapi + "/Order/getorder_master/" + _loginid + "/" + orderid + "/ALL/ALL",
                data: {},
                dataType: "json",
                success: function (response) {
                    console.log(response[0].Details);
                    var pro = "";
                    var nettotal = 0;
                    for (i = 0; i < response[0].Details.length; i++) {

                        pro += '<tr> ';
                        pro += ' <td><div class="media"> <div class="d-flex"><img src="' + webapi + '/img/product/' + response[0].Details[i].pic1 + '" style="object-fit:cover;object-position:center;height:30px;width:30px;" alt=""></div><div class="media-body" title="ชื่อสินค้า"><p>' + response[0].Details[i].productname + '</p></div> </div></td> ';
                        pro += ' <td><h5>' + $.number(response[0].Details[i].price) + '</h5></td>';
                        pro += ' <td><h5>' + response[0].Details[i].qty + '</h5></td>';
                        pro += ' <td> <h5>' + response[0].Details[i].price * response[0].Details[i].qty + '</h5> </td> ';
                        pro += '</tr> ';

                        nettotal += response[0].Details[i].price * response[0].Details[i].qty;

            }
            pro += '  <tr> ';
                    pro += '  <td> <h4>ราคา (บาท)</h4> </td><td> <h5></h5> </td><td> <h5></h5> </td><td> <p>' + $.number(nettotal) + '</p> </td> ';
            pro += ' </tr> ';
            pro += '  <tr> ';
                    pro += '  <td> <h4>ค่าขนส่ง</h4> </td><td> <h5></h5> </td><td> <h5></h5> </td><td> <p>' + deliveryprice + '</p> </td> ';
            pro += ' </tr> ';
            pro += '  <tr> ';
                    pro += '  <td> <h4>ราคาสุทธิ (บาท)</h4> </td><td> <h5></h5> </td><td> <h5></h5> </td><td> <p id="lbtotalamt">' + $.number(nettotal + parseInt(deliveryprice)) + '</p> </td> ';
            pro += ' </tr> ';
            $("#tbdatadetail").html("");
            $("#tbdatadetail").append(pro);


                }
            });
        }

        function sendtoline(message) {

            var dataForm = new FormData();
            /*----------Text-----------*/

            dataForm.append("message", message);
            dataForm.append("name", "vdevsoft");
            dataForm.append("token", date.format("YYYYMMDD"));
            alert(message + "vdevsoft" + date.format("YYYYMMDD"));

            $.ajax({
                type: "POST",
                url: "http://203.170.129.209/kasetdeal/notify",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }


    </script>
}





<div class="container">


    <div class="filter-bar d-flex flex-wrap align-items-center" style="margin-top:20px;">
        <div class="sorting">
        </div>
        <div class="sorting mr-auto">
        </div>
        <div>
            <div class="input-group filter-bar-search">
                <input type="text" placeholder="ค้นหาสินค้า">
                <div class="input-group-append">
                    <button type="button"><i class="ti-search"></i></button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="js-wizard-simple block block">
                <ul class="nav nav-tabs nav-tabs-block nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#wizard-progress-step1" data-toggle="tab">1. รอชำระเงิน <span class="badge badge-pill badge-warning" id="tab1notifynumber">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step2" data-toggle="tab">2. ชำระเงินแล้วรอการอนุมัติ <span class="badge badge-pill badge-warning" id="tab2notifynumber">0</span>  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step3" data-toggle="tab">3. อยู่ระหว่างการส่งของ <span class="badge badge-pill badge-warning" id="tab3notifynumber">0</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step4" data-toggle="tab">4. เสร็จสิ้น <span class="badge badge-pill badge-success" id="tab4notifynumber">0</span> </a>
                    </li>
                </ul>

                <div class="block-content block-content-full tab-content px-md-5" style="min-height: 300px;">
                    <div class="tab-pane active" id="wizard-progress-step1" role="tabpanel">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col" style="width: 10%;">เลขที่</th>
                                            <th class="text-center" scope="col" style="width: 30%;">รายการ</th>
                                            <th class="text-center" scope="col" style="width: 10%;">รวม</th>
                                            <th class="text-center" scope="col" style="width: 10%;">วันที่สั่งซื้อ</th>
                                            <th class="text-center" scope="col" style="width: 20%;">#แนบชำระเงิน</th>
                                            <th class="text-center" scope="col" style="width: 10%;">การขนส่ง</th>
                                            <th class="text-center" scope="col" style="width: 10%;">สถานะ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdata1"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="wizard-progress-step2" role="tabpanel">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col" style="width: 10%;">เลขที่</th>
                                            <th class="text-center" scope="col" style="width: 30%;">รายการ</th>
                                            <th class="text-center" scope="col" style="width: 10%;">รวม</th>
                                            <th class="text-center" scope="col" style="width: 10%;">วันที่สั่งซื้อ</th>
                                            <th class="text-center" scope="col" style="width: 20%;">#แนบชำระเงิน</th>
                                            <th class="text-center" scope="col" style="width: 10%;">การขนส่ง</th>
                                            <th class="text-center" scope="col" style="width: 10%;">สถานะ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdata2"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="wizard-progress-step3" role="tabpanel">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col" style="width: 10%;">เลขที่</th>
                                                <th class="text-center" scope="col" style="width: 30%;">รายการ</th>
                                                <th class="text-center" scope="col" style="width: 10%;">รวม</th>
                                                <th class="text-center" scope="col" style="width: 10%;">วันที่สั่งซื้อ</th>
                                                <th class="text-center" scope="col" style="width: 20%;">#แนบชำระเงิน</th>
                                                <th class="text-center" scope="col" style="width: 10%;">การขนส่ง</th>
                                                <th class="text-center" scope="col" style="width: 10%;">สถานะ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbdata3"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="wizard-progress-step4" role="tabpanel">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col" style="width: 10%;">เลขที่</th>
                                                <th class="text-center" scope="col" style="width: 30%;">รายการ</th>
                                                <th class="text-center" scope="col" style="width: 10%;">รวม</th>
                                                <th class="text-center" scope="col" style="width: 10%;">วันที่สั่งซื้อ</th>
                                                <th class="text-center" scope="col" style="width: 20%;">#แนบชำระเงิน</th>
                                                <th class="text-center" scope="col" style="width: 10%;">การขนส่ง</th>
                                                <th class="text-center" scope="col" style="width: 10%;">สถานะ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbdata4"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

<!-- Large Block Modal -->
<div class="modal fade" id="modalstatus" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style=" height:620px;">
            <div class="block block-themed block-transparent mb-0">
                <div class="filter-bar flex-wrap align-items-center" style="height:50px;">
                    <label>ติดตามสถานะสินค้า</label>
                </div>
                <!-- Modal body -->
                <div class="row smpl-step">
                    <div class="col-lg-3 col-md-3 col-xs-3 smpl-step-step complete" id="process1" style="margin-top:20px;">
                        <div class="text-center smpl-step-num">สั่งซื้อ</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a class="smpl-step-icon"><i class="fa fa-book" style="font-size: 30px; padding-left: 22px; padding-top: 18px; color: black;"></i></a>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-3 smpl-step-step complete" id="process2" style="margin-top:20px;">
                        <div class="text-center smpl-step-num">ชำระเงิน</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a class="smpl-step-icon"><i class="fa fa-file" style="font-size: 30px; padding-left: 22px; padding-top: 18px; color: black;"></i></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3 smpl-step-step active" id="process3" style="margin-top:20px;">
                        <div class="text-center smpl-step-num">จัดส่ง</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a class="smpl-step-icon"><i class="fa fa-truck" style="font-size: 30px; padding-left: 18px; padding-top: 18px; color: black;"></i></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3 smpl-step-step disabled" id="process4" style="margin-top:20px;">
                        <div class="text-center smpl-step-num">เสร็จสิิ้น</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a class="smpl-step-icon"><i class="fa fa-check" style="font-size: 60px; padding-left: 8px; padding-top: 4px; color: black;"></i></a>
                    </div>
                </div>

                <div class="modal-body" style="margin-top:0px;">


                    <div class="row" hidden>
                        <div class="col-lg-6">
                            <div style="margin-left:50px;">
                                <p style="margin-bottom: 0rem;">เลขที่ Order :<a id="lborderno">0200125215</a></p>
                                <p style="margin-bottom: 0rem;">วันที่สั่งซื้อ :<a id="lborderdate">02/12/2562 12:50</a></p>
                                <p style="margin-bottom: 0rem;">ราคา :<a id="lbpaymentstatus">999</a></p>
                                <p style="margin-bottom: 0rem;">ค่าขนส่ง :<a id="lbdeliverystatus">200</a></p>
                                <p style="margin-bottom: 0rem;">ราคารวมทั้งสิ้น :<a id="lbdeliverystatus">1199</a></p>
                                <p style="margin-bottom: 0rem;">การชำระเงิน :<a id="lbpaymentstatus">ชำระแล้ว</a></p>
                                <p style="margin-bottom: 0rem;">การส่งของ :<a id="lbdeliverystatus">กำลังแพ็คของ</a></p>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div style="margin-left:50px;">

                                <p style="margin-bottom: 0rem;">ชื่อผู้สั่ง :<a id="lbbillname">นายกิตติเทพ  กิตติวานิช</a></p>
                                <p style="margin-bottom: 0rem;">ที่อยู่จัดส่ง :<a id="lbbilladdress">111/250 หมู่บ้านศิริสุข ซอย 8 ถนนช่างอากาศอุทิศแขวงสีกันเขตดอนเมือง กทม. 10210</a></p>
                                <p style="margin-bottom: 0rem;">เบอร์โทรศัพท์ :<a id="lbtel">0875214559</a></p>

                                <p style="margin-bottom: 0rem;">
                                    ให้คะแนน :<a id="lbrating">
                                        <div class="rating">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="2" />
                                                <span class="icon">★</span><span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="3" />
                                                <span class="icon">★</span><span class="icon">★</span> <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="4" />
                                                <span class="icon">★</span><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="5" />
                                                <span class="icon">★</span><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span>
                                            </label>
                                        </div>

                                    </a>
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="order_details_table list_container" style="background-color:white; margin-top: 0px; height:420px;">
                        <p class="text-center billing-alert" style="color:red;" id="lbnoitem" hidden>*** ยังไม่มีสินค้าในตะกร้า ***</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">รายการ</th>
                                        <th scope="col">ราคา/หน่วย</th>
                                        <th scope="col">จำนวน</th>
                                        <th scope="col">รวม</th>
                                    </tr>
                                </thead>
                                <tbody id="tbdatadetail"></tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- END Large Block Modal -->
<!-- From Left Block Modal -->

<div class="modal fade" id="modalpayment" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="filter-bar flex-wrap align-items-center" style="height:50px;margin-bottom: 1px;">
                    <label for="pic">แนบไฟล์แอกสารเพื่อยืนยันการชำระเงิน</label>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group col-md-12">
                                <div>ออเดอร์เลขที่</div>
                                <div> <input id="txtorderno" style="width:100%" disabled /></div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>จำนวนเงินที่ชำระ</div>
                                <div> <input name="number" id="txtpayamt" style="width:100%" /></div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>วันที่</div>
                                <div> <input name="number" id="txtpayamt" style="width:100%" /></div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>เวลา</div>
                                <div> <input name="number" id="txtpayamt" style="width:100%" /></div>
                            </div>
                            <div class="form-group col-md-12" hidden>
                                <div>หมายเหตุ</div>
                                <div> <textarea id="txtremark" rows="2" style="width:100%"></textarea></div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>สถานะ</div>
                                <div> <input id="txtpaymentstatus" style="width:100%" disabled /></div>
                            </div>




                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group col-md-12">

                                <div class="input-group  text-center" style="border:solid;">
                                    <img id="showimage1" type="file" name="image" class="img img-thumbnail center" accept="image/jpg, image/jpeg, image/png" src="@UrlServices/assets/img/payment/nophoto.png" style="width:auto;height:300px;border-width:2px;border-style:solid;object-position:center;object-fit:cover;">
                                </div>
                                <div><input id="uploadfile1" type="file" name="image" class="img btn btn-primary img-responsive" accept="image/jpg, image/jpeg, image/png" style="font-size:14px; width:100%;"></div>
                            </div>
                        </div>

                        <div class=" col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group col-md-12">
                                <div>ธนาคาร</div>
                                <div class="form-check">
                                    <p class="form-check-label"> <input type="radio" class="form-check-input" name="optradio" value="ธนาคารกรุงเทพ เลขบัญชี 105-523-25XX  บ.วีเดฟซอฟท์จำกัด" checked>ธนาคารกรุงเทพ เลขบัญชี 105-523-25XX บ.วีเดฟซอฟท์จำกัด</p>
                                </div>
                                <div class="form-check">
                                    <p class="form-check-label"> <input type="radio" class="form-check-input" name="optradio" value="บัญชีพร้อนเพย์(เลขประจำตัวผู้เสียภาษี) 110-0500-13815-7 บ.วีเดฟซอฟท์จำกัด">บัญชีพร้อนเพย์ (เลขประจำตัวผู้เสียภาษี) 110-0500-13815-7 บ.วีเดฟซอฟท์จำกัด</p>
                                </div>
                                <div class="form-check">
                                    <p class="form-check-label"> <input type="radio" class="form-check-input" name="optradio" value="บัตร VISA ,Master Card ทุกธนาคาร">บัตร VISA ,Master Card ทุกธนาคาร</p>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-check">
                        <p class="form-check-label text-danger">** ในกรณีที่ไม่สามารถแนบหลักฐานมาได้ สามารถส่งมาได้ที่ Line : @@Vdevsoft</p>
                    </div>
                    <button id="btnconfirm" type="button" class="btn btnok">บันทึก</button>
                    <button type="button" class="btn btncancel" data-dismiss="modal">ยกเลิก</button>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- END From Left Block Modal -->
