﻿
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
    string _authen = "";

    try
    {
        _authen = Request.Cookies["Vlogin"]["authen"];
    }
    catch
    {

    }

}
@section Styles {
    <style>
        .cart_inner .table tbody tr td {
            padding-bottom: 1px;
            padding-top: 1px;
        }
    </style>
    <link href="~/assets/css/main.css" rel="stylesheet" />
}
@section Scripts {
    <script>
        var _authen = "@_authen";
        var webapi = "@UrlServices";
        var cartdata = new Array();
        cartdata = { 'order': [], "detail": [] };
        var nettotal = 0;
        $(function () {
            Loadcbodelivery();
            LoadcboProvince();
            //LoadcboAmporbyProvince("ALL");
            //LoadcboTambonByAmpor("ALL");

            //$(".pixel-radio").prop("disabled", true);
            $("#leftsidebar").prop("disabled", true);
            $(".pixel-radio").click(function () {
                alert("กรุณากลับไปที่หน้าสินค้าก่อนทำการเลือกข้อมูล");
            });


            if (localStorage.getItem("cartdata") != null) {
                cartdata = JSON.parse(localStorage.getItem("cartdata"));
                var num = 0
                for (i = 0; i < cartdata.detail.length; i++) {
                    num += cartdata.detail[i].p_qty
                }
                $("#maincartitem").html(num);
                Loaddata();
            } else {

            }

            if (cartdata.detail.length == 0) {
                $('#lbnoitem').removeAttr('hidden');
            }


            $("#btcheckout").click(function () {
                if (cartdata.detail.length == 0) {
                    alert("กรุณาเลือกสินค้าก่อนทำการสั่งซื้อ");
                    return;
                }

                if (_authen != "OK") {


                     location.href='@Url.Action("register", "login")';
                } else {

                    if ($("#lbdeliveryprice").attr("data-deliveryprice") === "0") {
                        alert("กรุณาเลือกรูปแบบการจัดส่งก่อนทำการสั่งซื้อ");
                        return;
                    }

                    if ($("#txtname").val() === "") {
                        alert("กรุณาใส่ชื่อก่อนทำการสั่งซื้อ");
                        return;
                    }
                    if ($("#cbprovince").val() === "null") {
                        alert("กรุณาเลือกจังหวัดก่อนทำการสั่งซื้อ");
                        return;
                    }
                    if ($("#cbampor").val() == null) {
                        alert("กรุณาเลือกอำเภอก่อนทำการสั่งซื้อ");
                        return;
                    }
                    if ($("#cbtambon").val() == null) {
                        alert("กรุณาเลือกตำบลก่อนทำการสั่งซื้อ");
                        return;
                    }
                    if ($("#txtpostcode").val() === "") {
                        alert("กรุณาใส่รหัสไปรษณีย์ก่อนทำการสั่งซื้อ");
                        return;
                    }
                    if ($("#txtaddress").val() === "") {
                        alert("กรุณาใส่ที่อยู่ก่อนทำการสั่งซื้อ");
                        return;
                    }
                    if ($("#txttel").val() === "") {
                        alert("กรุณาใส่เบอร์โทรศัพท์ก่อนทำการสั่งซื้อ");
                        return;
                    }
                    localStorage.setItem("deliveryprice", $("#lbdeliveryprice").attr("data-deliveryprice"));
                    localStorage.setItem("deliveryname", $("#cbdelivery option:selected").text());

                    localStorage.setItem("billname", $("#txtname").val());
                    localStorage.setItem("billaddress", $("#txtaddress").val() + " " + $("#cbtambon").val() + " " + $("#cbampor").val() + " " + $("#cbprovince").val() + " " + $("#txtpostcode").val());
                    localStorage.setItem("billtel", $("#txttel").val());
                    localStorage.setItem("billemail", $("#txtemail").val());
                    localStorage.setItem("billpaymentremark", $('input[name="optradio"]:checked').val());
                    location.href = '@Url.Action("Confirmation", "product")';




                }



            });

            $("#cbdelivery").on('change', function () {

                $("#lbnettotal").html((nettotal + parseInt($("#cbdelivery").val())) + "฿");

                $("#lbdeliveryprice").attr("data-deliveryprice", $("#cbdelivery").val())
                $("#lbdeliveryprice").html($("#cbdelivery").val() + "฿")

            });

        });


          function Loaddata() {

              var pro = "";
              nettotal = 0;
              for (i = 0; i < cartdata.detail.length; i++) {

                  pro += '<tr > ';
                  pro += ' <td><div class="media"> <div class="d-flex"><img src="' + webapi + '/img/product/' + cartdata.detail[i].p_pic +'" style="object-fit:cover;object-position:center;height:100px;width:100px;" alt=""></div><div class="media-body" title="ชื่อสินค้า"><p>' + cartdata.detail[i].p_name +'</p></div> </div></td> ';
                  pro += ' <td><h5>' + cartdata.detail[i].p_price +'฿</h5></td>';
                  pro += ' <td> ';
                  pro += '    <div class="product_count"> ';
                  pro += '    <input type="text" name="qty"  maxlength="12" value="' + cartdata.detail[i].p_qty +'" title="จำนวน"class="input-text qty" style="background-color:white;" disabled>';
                  pro += '    <button  class="increase items-count"  data-id="' + cartdata.detail[i].p_id + '" type="button"><i class="lnr lnr-chevron-up"></i></button>';
                  pro += '    <button  class="reduced items-count"  data-id="' + cartdata.detail[i].p_id + '" type="button"><i class="lnr lnr-chevron-down"></i> </button> ';
                  pro += '    </div> ';
                  pro += ' </td> ';
                  pro += ' <td> <h5>' + $.number(cartdata.detail[i].p_price * cartdata.detail[i].p_qty) + '฿</h5> </td> ';
                  pro += ' <td><i class="fa fa-trash del" data-id="' + cartdata.detail[i].p_id + '"  style="cursor:pointer;"></i>  </td> ';
                  pro += '</tr> ';

                  nettotal += cartdata.detail[i].p_price * cartdata.detail[i].p_qty;

              }
              $("#lbnettotal").html((nettotal +parseInt($("#cbdelivery").val())) + "฿");
                $("#tbdata").html("");
                $("#tbdata").append(pro);

              $(".del").click(function () {
                  for (i = 0; i < cartdata.detail.length; i++) {
                      if (cartdata.detail[i].p_id === $(this).attr("data-id")) {
                          cartdata.detail.splice(i,1);
                          localStorage.setItem("cartdata", JSON.stringify(cartdata))
                          var num = 0
                          for (i = 0; i < cartdata.detail.length; i++) {
                              num += cartdata.detail[i].p_qty
                          }
                          $("#maincartitem").html(num);
                          Loaddata();
                      }
                  }
              });
              $(".increase").click(function () {

                  for (i = 0; i < cartdata.detail.length; i++) {
                      if (cartdata.detail[i].p_id === $(this).attr("data-id")) {
                          cartdata.detail[i].p_qty = parseInt(cartdata.detail[i].p_qty) + parseInt(1)
                          localStorage.setItem("cartdata", JSON.stringify(cartdata))
                          Loaddata();
                      }
                  }
                  refresh_maincartitem();

              });
              $(".reduced").click(function () {
                  //  alert($(this).attr("data-id"));
                  for (i = 0; i < cartdata.detail.length; i++) {
                      if (cartdata.detail[i].p_id === $(this).attr("data-id")) {
                          cartdata.detail[i].p_qty = parseInt(cartdata.detail[i].p_qty) - parseInt(1)
                          if (parseInt(cartdata.detail[i].p_qty)  <= 0) {
                              cartdata.detail.splice(i, 1);
                          }
                          localStorage.setItem("cartdata", JSON.stringify(cartdata))
                          Loaddata();
                      }
                  }
                  refresh_maincartitem();

              });


        }


        function refresh_maincartitem() {
            var num = 0
            for (i = 0; i < cartdata.detail.length; i++) {
                num += cartdata.detail[i].p_qty
            }
            $("#maincartitem").html(num);
        }

        function LoadcboProvince() {

            $.ajax({
                type: "get",
                url: "https://www.xn--12cfsxwzpdhs1afud2b6iscg8h.com/kasettrackingservices/" + "GetAllProvince",
                data: {},
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    var pro = "";
                    for (i = 0; i < response.length; i++) {
                        pro += "<option data-id='" + response[i].ch_ID + "' value='" + response[i].CHANGWAT_T + "'>" + response[i].CHANGWAT_T + "</option>"
                    }
                    $("#cbprovince").append(pro);
                    $("#cbprovince").niceSelect('update');

                    $("#cbprovince").on('change', function () {

                        LoadcboAmporbyProvince($(this).find(':selected').data('id'));
                    });



                }
            });
        }

        function LoadcboAmporbyProvince(id) {

            $.ajax({
                type: "get",
                url: "https://www.xn--12cfsxwzpdhs1afud2b6iscg8h.com/kasettrackingservices/" + "GetAmporByProvince/" + id,
                data: {},
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    var ampor = "";
                    for (i = 0; i < response.length; i++) {
                        ampor += "<option data-id='" + response[i].AM_ID + "' value='" + response[i].AMPHOE_T + "'>" + response[i].AMPHOE_T + "</option>"
                    }
                    $("#cbampor").html("");
                    $("#cbampor").append(ampor);

                    $("#cbampor").niceSelect('update');

                    $("#cbampor").on('change', function () {

                        LoadcboTambonByAmpor($(this).find(':selected').data('id'));
                    });
                }
            });
        }


        function LoadcboTambonByAmpor(id) {
            $.ajax({
                type: "get",
                url: "https://www.xn--12cfsxwzpdhs1afud2b6iscg8h.com/kasettrackingservices/" + "GetTambonByAmpor/" + id,
                data: {},
                dataType: "json",
                success: function (response) {

                    var tambon = "";
                    for (i = 0; i < response.length; i++) {
                            tambon += "<option value='" + response[i].TAMBON_T + "'>" + response[i].TAMBON_T + "</option>"
                    }
                    $("#cbtambon").html("");
                    $("#cbtambon").append(tambon);
                    $("#cbtambon").niceSelect('update');
                }
            });
        }

        function Loadcbodelivery() {
            $.ajax({
                type: "get",
                url: webapi + "/product/GetDelivery/ALL/ALL/",
                data: {},
                dataType: "json",
                success: function (response) {

                    var text = "";
                    for (i = 0; i < response.length; i++) {
                        text += "<option value='" + response[i].deliveryprice + "'>" + response[i].deliverybrand + "  " + response[i].deliverytype + " ใช้เวลา" + response[i].deliverydescription + "</option>"
                    }
                    $("#cbdelivery").html("");
                    $("#cbdelivery").append(text);
                    $("#cbdelivery").niceSelect('update');

                    $("#cbdelivery").val("67");
                }
            });
        }

    </script>
}


<!--================Cart Area =================-->
<section class="">
    <div class="container">
        <div>
            <h4 style="margin-top:10px; margin-bottom:10px;">รายละเอียด<span class="section-intro__style">สินค้า</span></h4>
        </div>

        <div class="cart_inner newboxshadow">
            <div class="table-responsive" style="overflow-x:unset;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">สินค้า</th>
                            <th scope="col">ราคา</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">รวม</th>
                        </tr>
                    </thead>
                    <tbody id="tbdata">
                        @*<tr>
                                <td><div class="media"> <div class="d-flex"><img src="~/assets/img/cart/cart1.png" alt=""></div><div class="media-body" title="ชื่อสินค้า"><p>Minimalistic shop for multipurpose use</p></div> </div></td>
                                <td><h5>$360.00</h5></td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="จำนวน" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i> </button>
                                    </div>
                                </td>
                                <td> <h5>$720.00</h5> </td>
                            </tr>*@
                    </tbody>
                    <tbody>

                        <tr class="bottom_button">
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"> <h5>ส่วนลด</h5></td>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"> <h5 id="lbdiscount">0฿</h5></td>
                        </tr>
                        <tr>
                            <td style=" padding-bottom: 10px;  padding-top: 10px;">
                                <select id="cbdelivery" style="width:100%">
                                    <option value="0">เลือกรูปแบบการส่ง</option>
                                    <option value="30">Kerry ธรรมดา 30 บาท</option>
                                    <option value="40">Kerry ส่งด่วน 40 บาท</option>
                                </select>
                            </td>
                            <td style=" padding-bottom: 10px;  padding-top: 10px;"></td>
                            <td style=" padding-bottom: 10px;  padding-top: 10px;"> <h5>ค่าจัดส่ง</h5></td>
                            <td style=" padding-bottom: 10px;  padding-top: 10px;"> <h5 id="lbdeliveryprice" data-deliveryprice="0">0<a>฿</a></h5></td>
                        </tr>

                        <tr>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"> <h5>รวมทั้งสิ้น</h5></td>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;"> <h5 id="lbnettotal">0฿</h5></td>
                        </tr>
                        <p class="text-center billing-alert" style="color:red;" id="lbnoitem" hidden>*** ยังไม่มีสินค้าในตะกร้า ***</p>

                        <tr>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;" colspan="4">
                                <div>
                                    <h4 style="margin-top:10px; margin-bottom:10px;">วิธีการ<span class="section-intro__style">ชำระเงิน</span></h4>
                                </div>
                                <div class="form-check">
                                    <p class="form-check-label"> <input type="radio" class="form-check-input" name="optradio" value="โอนเงินผ่าน Internet Banking เคาน์เตอร์ธนาคาร หรือ ตู้ ATM" checked>โอนเงินผ่าน Internet Banking เคาน์เตอร์ธนาคาร หรือ ตู้ ATM</p>
                                    <label>- ธนาคารกรุงเทพ เลขบัญชี 091-7-25549-9  บจ.วีเดฟซอฟท์ (เลขประจำตัวผู้เสียภาษี) 0135562001283</label>
                                </div>
                                <div class="form-check">
                                    <p class="form-check-label"> <input type="radio" class="form-check-input" name="optradio" value="บัตร VISA ,Master Card ทุกธนาคาร">บัตร VISA ,Master Card ทุกธนาคาร</p>
                                    <label>- ชำระด้วยบัตรเครดิต / เดบิต Visa หรือ Master Card ทุกธนาคาร</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style=" padding-bottom: 20px;  padding-top: 20px;" colspan="4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 style="margin-top:10px; margin-bottom:10px;">ที่อยู่ในการจัดส่ง<span class="section-intro__style">ออกใบเสร็จ</span></h4>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">ชื่อ-นามสกุล <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtname" class="" style="width:100%">
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">ที่อยู่ <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea id="txtaddress" rows="3" style="width:100%"> </textarea>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">จังหวัด <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="cbprovince" style="width:100%"></select>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">อำเภอ/เขต <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="cbampor" style="width:100%"></select>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">ตำบล/แขวง <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="cbtambon" style="width:100%"></select>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">รหัสไปรษณีย์ <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtpostcode" style="width:100%">
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">เบอร์โทร <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txttel" style="width:100%">
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">e-mail <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtemail" style="width:100%">
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p style="margin-top:10px; margin-bottom:10px;">หมายเหตุ <a class="text-danger">*</a></p>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtremark" style="width:100%">
                                    </div>
                                </div>

                            </td>

                        </tr>
                    </tbody>




                </table>

            </div>
        </div>






        <div class="cart_inner">
            <table class="table">
                <tbody>
                    <tr class="bottom_button" style="padding-bottom:1px;padding-top:1px;">
                        <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                        <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                        <td style=" padding-bottom: 20px;  padding-top: 20px;"></td>
                        <td style=" padding-bottom: 20px;  padding-top: 20px;" colspan="4">
                            <div class="cupon_text d-flex align-items-center" id="divcheckout"><input type="text" placeholder="Coupon Code"><a class="primary-btn" title="ใช้คูปอง">ใช้คูปอง</a>     <a class="primary-btn ml-2" id="btcheckout" style="cursor:pointer;">ยืนยันการสั่งซื้อ</a> </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
