﻿
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}

@section Styles {

}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
    <script>

        var _loginid = "@Request.Cookies["Vlogin"]["loginid"]";
        var webapi = "@UrlServices";
        var _billname = localStorage.getItem("billname");
        var _billaddress = localStorage.getItem("billaddress");
        var _billtel = localStorage.getItem("billtel");
        var _billemail = localStorage.getItem("billemail");
        var _billpayment = localStorage.getItem("billpaymentremark");
        var _deliveryname = localStorage.getItem("deliveryname");



        var cartdata = new Array();
        cartdata = { 'order': [], "detail": [] };

        var date = moment(); //Get the current date
        var d = new Date();



        $(function () {

            if (localStorage.getItem("cartdata") != null) {
                cartdata = JSON.parse(localStorage.getItem("cartdata"));
                var num = 0
                for (i = 0; i < cartdata.detail.length; i++) {
                    num += cartdata.detail[i].p_qty
                }
                $("#maincartitem").html(num);
                Loaddata();
                $("#lbname").html(_billname);
                $("#txtaddress").html(_billaddress);
                $("#txttel").html(_billtel);
                $("#txtemail").html(_billemail);
                $("#paymentremark").html(_billpayment);

            }




            $("#lborderno").html("INV_" + date.format("YYYYMMDDHHmmss"))
            $("#lborderdate").html(date.format("DD/MM/YYYY"))

            $("#btcheckout").click(function () {

                savedata()
            });

        });

           function savedata() {
            var dataForm = new FormData();
            /*----------Text-----------*/

               dataForm.append("loginid", _loginid);
               dataForm.append("billaddress", $("#txtaddress").html());
               dataForm.append("billtel", $("#txttel").html());
               dataForm.append("billemail", $("#txtemail").html());
               dataForm.append("total", $("#lbtotalamt").val());

               dataForm.append("deliveryprice", localStorage.getItem("deliveryprice"));
               dataForm.append("deliveryname", localStorage.getItem("deliveryname"));

               dataForm.append("PaymentStatus", "0");
               dataForm.append("attachfile", "");

            $.ajax({
                type: "POST",
                url: webapi + "/Order/SaveOrder/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    if (data.length >  10) {
                        alert(data);
                        return;
                    }

                    for (i = 0; i < cartdata.detail.length; i++) {
                        savedatadetail(data, cartdata.detail[i].p_id, cartdata.detail[i].p_qty, cartdata.detail[i].p_price   )
                    }
                    localStorage.removeItem("cartdata");
                    location.href = '@Url.Action("MyOrder", "Order")';
                   // sendtoline("โปรดตรวจสอบ Order เลขที่ #" + data + " จำนวนเงิน " + $("#lbtotalamt").html() + " บาท ที่ www.vdevsoft.co.th");

                    var html = ""; //เนื้อหา mail
                    html += ' <br /><br /> <h4>สวัสดี คุณ <a>' + _billname + '</a></h4>';
                    html += ' <br /> <br /> <h4>รายการสั่งซื้อเลขที่ #<a class="orderno">' + orderid + '</a></h4>';
                    html += ' <div>สั่งซื้อ ณ วันที่ : <a >' + date.format("DD/MM/YYYY") + '</a></div> ';
                    html += ' <div>อยู่ในสถานะ : <a id="orderstatus">' + รอการชำระเงิน + '</a></div> ';
                    html += ' <img name="image" class="img img-thumbnail center" src="~/assets/img/step1.png"> ';
                    html += ' <br /> <br />  <h4>ขอบคุณที่ใช้บริการ</h4>';
                    html += ' <div> บริษัท วีเดฟซอฟท์ จำกัด </div> ';
                    html += ' <div> อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 </div> ';
                    html += ' <div>  ห้อง 213 เลขที่ 141 หมู่ 9 ถนนพหลโยธิน </div> ';
                    html += ' <div> ตำบลคลองหนึ่ง อำเภอคลองหลวง </div> ';
                    html += ' <div> จังหวัดปทุมธานี 12120 </div> ';
                    html += ' <div> email : webmaster@vdevsoft.co.th </div> ';
                    html += ' <div> โทร : 0875621040 </div> ';


                    send_email($("#txtaddress").val(), "แจ้งสถานะการสั่งซื้อของ", html)
                },
                error: function (data) {
                    console.log("Error");
                }
               });


        }

        function send_email(sendto, sendsubject, senddata) {

            var dataForm = new FormData();
            /*----------Text-----------*/

            dataForm.append("sendto", sendto);
            dataForm.append("sendsubject", sendsubject);
            dataForm.append("senddata", senddata);


            $.ajax({
                type: "POST",
                url: webapi + "/Order/sendmail/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log("Error");
                }
            });

        }



        function sendtoline(message) {

            var dataForm = new FormData();
            /*----------Text-----------*/


            dataForm.append("message", message);
            dataForm.append("name", "vdevsoft");
            dataForm.append("token", date.format("YYYYMMDD"));
            alert(message + "vdevsoft" + date.format("YYYYMMDD") );

            $.ajax({
                type: "POST",
                url: "http://203.170.129.209/kasetdeal/notify",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }

        function savedatadetail(orderid, productid, qty, price) {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("orderid", orderid);
            dataForm.append("productid", productid);
            dataForm.append("qty", qty);
            dataForm.append("price", price);
            dataForm.append("discountrate", "0");
            dataForm.append("discount", "0");
            $.ajax({
                type: "POST",
                url: webapi + "/Order/SaveOrderDetail/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log("SaveOrderDetail",data);
                },
                error: function (data) {
                    console.log("SaveOrderDetailError", data);
                }
            });
        }

        function Loaddata() {
            console.log(cartdata.detail);
            var pro = "";
            var nettotal = 0;
            for (i = 0; i < cartdata.detail.length; i++) {

                pro += '<tr> ';
                pro += ' <td><div class="media"> <div class="d-flex"><img src="' + webapi + '/img/product/' + cartdata.detail[i].p_pic + '" style="object-fit:cover;object-position:center;height:50px;width:50px;" alt=""></div><div class="media-body" title="ชื่อสินค้า"><p>' + cartdata.detail[i].p_name + '</p></div> </div></td> ';
                pro += ' <td><h5>' + $.number(cartdata.detail[i].p_price) + ' บาท</h5></td>';
                pro += ' <td><h5>' + $.number(cartdata.detail[i].p_qty) + '</h5></td>';
                pro += ' <td> <h5>' + $.number(cartdata.detail[i].p_price * cartdata.detail[i].p_qty) + ' บาท</h5></td> ';
                pro += '</tr> ';

                nettotal += cartdata.detail[i].p_price * cartdata.detail[i].p_qty;

            }
                pro += '  <tr> ';
            pro += '  <td> <h4>ราคา (บาท)</h4> <td> <h5></h5> </td></td><td> <h5></h5> </td><td> <p>' + $.number(nettotal) + '  บาท</p> </td> ';
                pro += ' </tr> ';
                //pro += '  <tr> ';
                //pro += '  <td> <h4>Vat 7%</h4> </td><td> <h5></h5> </td><td> <p>' + (nettotal * 7) / 100 + '</p> </td> ';
                //pro += ' </tr> ';
                //pro += '  <tr> ';

                pro += '  <tr> ';
            pro += '  <td> <h4>ค่าขนส่ง ' + _deliveryname + ' </h4> </td><td> <h5></h5> </td><td> <h5></h5> </td><td> <p>' + localStorage.getItem("deliveryprice") + '  บาท</p> </td> ';
                pro += ' </tr> ';
                pro += '  <tr> ';

            pro += '  <td> <h4>ราคาสุทธิ (บาท)</h4> </td><td> <h5></h5> </td><td> <h5></h5> </td><td> <p id="lbtotalamt">' + (nettotal + parseInt(localStorage.getItem("deliveryprice"))) + '  บาท</p> </td> ';
                pro += ' </tr> ';
            $("#tbdata").html("");
            $("#tbdata").append(pro);

        }




        function LoadcboPlant() {
            $.ajax({
                type: "get",
                url: webapi + "getallPlant/@GlobalVal.apikey",
                data: {},
                dataType: "json",
                success: function (response) {
                    var pro = "";
                    for (i = 0; i < response.length; i++) {

                        pro += "<option value='" + response[i].PlantId + "'>" + response[i].Plantname + "</option>"
                    }
                    $("#cbplant").append(pro);
                    $("#cbplant").val(1);

                }
            });
        }


    </script>





}





<!--================Order Details Area =================-->

<div class="container">
    <div>
        <h4 style="margin-top:10px; margin-bottom:10px;">รายการ<span class="section-intro__style">สินค้า</span></h4>
    </div>
    <div class="order_details_table" style="background-color:white;margin-top:5px;">
        <p class="text-center billing-alert" style="color:red;" id="lbnoitem" hidden>*** ยังไม่มีสินค้าในตะกร้า ***</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">รายการ</th>
                        <th scope="col">ราคา/หน่วย</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">รวม</th>
                    </tr>
                </thead>
                <tbody id="tbdata"></tbody>
            </table>
        </div>
    </div>

  


    <div class="order_details_table newboxshadow " style="background-color:#f1f6f7;margin-top:5px;">
        <div>
            <h4 style="margin-top:10px; margin-bottom:10px;">รายละเอียด<span class="section-intro__style">จัดส่ง</span></h4>
        </div>
        <div class="confirmation-card" style="margin-top:5px;padding:10px;">
            <table class="order-rable" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 30%;"></th>
                        <th class="text-center" style="width: 70%;"></th>
                    </tr>
                </thead>
                <tr>
                    <td>Order number</td>
                    <td id="lborderno"> INV_6211019</td>
                </tr>
                <tr>
                    <td>วันที่สั่งซื้อ</td>
                    <td id="lborderdate"> 19/11/2562</td>
                </tr>
                <tr>
                    <td>ชื่อ-นามสกุล</td>
                    <td id="lbname"> นายกิตติเทพ  กิตติวานิช</td>
                </tr>
                <tr>
                    <td>ที่อยู่จัดส่ง</td>
                    <td id="txtaddress"></td>
                </tr>
                <tr>
                    <td>เบอร์โทรศัพท์</td>
                    <td id="txttel"></td>
                </tr>
                <tr>
                    <td>e-mail</td>
                    <td id="txtemail"></td>
                </tr>

            </table>
        </div>
    </div>




    <div class="order_details_table newboxshadow" style="background-color:white;margin-top:5px;">
        <div>
            <h4 style="margin-top:10px; margin-bottom:10px;">วิธีการ<span class="section-intro__style">ชำระเงิน</span></h4>
        </div>
        <label><img src="https://www.aia.co.th/content/dam/th/th/payment/P4_ATM/1BBL_ATM.png" style="object-fit:cover;object-position:center;height:50px;width:50px;" alt=""> ธนาคารกรุงเทพ เลขบัญชี 105-523-25XX (ออมทรัพย์) บ.วีเดฟซอฟท์จำกัด</label>
        <label><img src="https://promptpay.bangkokbank.com/assets/icons/LogoPP.png" style="object-fit:cover;object-position:center;height:50px;width:50px;" alt="">  บัญชีพร้อนเพย์ (เลขประจำตัวผู้เสียภาษี) 110-0500-13815-7 บ.วีเดฟซอฟท์จำกัด</label>

    </div>
</div>




<!--================End Order Details Area =================-->
<div class="container">
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr class="bottom_button">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4">


                            <div class="cupon_text align-items-center text-right">

                                <a> <p class="text-center billing-alert">** ตรวจสอบรายการ และยืนยันการสั่งซื้อ ** </p> </a>  <a class="primary-btn ml-2" id="btcheckout" style="cursor:pointer;">ยืนยันการสั่งซื้อ</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>