﻿
@{
    ViewBag.Title = "ProductListfarm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}


@section Styles {
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/css/main.css" rel="stylesheet" />
}
@section Scripts {


    <script>

        var webapi = "@UrlServices";
        var cartdata = new Array();
        cartdata = { 'order': [], "detail": [] };



        $(function () {
            if (localStorage.getItem("cartdata") != null) {
                cartdata = JSON.parse(localStorage.getItem("cartdata"));

                refresh_maincartitem()
            }
            Loaddata("farm", "ALL");
            $(".pixel-radio").click(function () {
                Loaddata("farm", $(this).attr("data-value"));
            })
        });

        function Loaddata(group, family) {

            $.ajax({
                type: "get",
                url: webapi + "/product/getproduct/" + group + "/" + family + "/",
                data: {},
                dataType: "json",
                success: function (data) {

                    var pro = "";
                    for (i = 0; i < data.length; i++) {
                        pro += '  <div class="col-md-6 col-lg-4"> ';
                        pro += '   <div class="card text-center card-product">';
                        pro += '  <div class="card-product__img"> ';
                        pro += '   <img class="card-img img-thumbnail" src="'+ webapi +'/img/product/' + data[i].Pic1 +'" alt="" style="object-fit:cover;object-position:center;height:250px;width:250px;"> ';
                        pro += '  <ul class="card-product__imgOverlay"> ';
                        pro += '    <li><button title ="ดูรายละเอียด" class="productdetail" data-id="' + data[i].productid + '"  data-name="' + data[i].ProductName + '" data-detail="" data-pic="' + data[i].Pic1 + '" data-price="' + data[i].FullPrice + '" data-family="' + data[i].ProductFamily +'"><i class="ti-search"></i></button></li> ';
                        pro += '    <li><button title ="เพิ่มลงตะกร้า" class="addtocart" data-pic="' + data[i].Pic1 + '" data-id="' + data[i].productid + '" data-name="' + data[i].ProductName + '" data-price="' + data[i].FullPrice + '"><i class="ti-shopping-cart"></i></button></li> ';
                        pro += '    <li><button title ="สินค้าชื่นชอบ" class="addtolike"><i class="ti-heart"></i></button></li>  ';
                        pro += '  </ul> ';
                        pro += '  </div>  ';
                        pro += '  <div class="card-body"> ';
                        pro += '   <p>' + data[i].ProductFamily +'</p> ';
                        pro += '  <h4 class="card-product__title"><a class="productdetail" data-id="' + data[i].productid + '" data-name="' + data[i].ProductName + '" data-detail="" data-pic="' + data[i].Pic1 + '" data-price="' + data[i].FullPrice + '" data-family="' + data[i].ProductFamily +'" style="cursor:pointer;">' + data[i].ProductName +'</a></h4>  ';
                        pro += '   <p class="card-product__price">' + data[i].FullPrice +'฿</p> ';
                        pro += '   </div> ';
                        pro += '   </div> ';
                        pro += ' </div> ';
                    }
                    $("#carditem").html("");
                    $("#carditem").append(pro);

                    $(".productdetail").click(function () {
                        localStorage.setItem("proid", $(this).attr("data-id"));
                        localStorage.setItem("name", $(this).attr("data-name"));
                        localStorage.setItem("detail", $(this).attr("data-detail"));
                        localStorage.setItem("pic", $(this).attr("data-pic"));
                        localStorage.setItem("family", $(this).attr("data-family"));
                        localStorage.setItem("price", $(this).attr("data-price"));
                        location.href='@Url.Action("productdetail", "product")';
                    });
                    $(".addtocart").click(function () {
                        if (checkdup($(this).attr("data-id")) === "0") {
                            cartdata['detail'].push({
                                'p_id': $(this).attr("data-id"),
                                'p_name': $(this).attr("data-name"),
                                'p_qty': 1,
                                'p_pic': $(this).attr("data-pic"),
                                'p_price': $(this).attr("data-price")
                            });
                        }
                        localStorage.setItem("cartdata", JSON.stringify(cartdata))
                        //fly to cart
                        $('html, body').animate({
                            'scrollTop': $(".fa-shopping-cart").position().top
                        });
                        var itemImg = $(this).parent().find('i').eq(0);
                        console.log("itemImg", itemImg);
                        flyToElement($(itemImg), $('.fa-shopping-cart'));
                         //fly to cart
                        refresh_maincartitem();
                    });

                    $(".addtolike").click(function () {
                        if (checkdup($(this).attr("data-id")) === "0") {

                        }

                        //fly to cart
                        $('html, body').animate({
                            'scrollTop': $(".img-circle").position().top
                        });
                        var itemImg = $(this).parent().find('img').eq(0);
                        console.log("itemImg", itemImg);
                        flyToElement($(itemImg), $('.fa-shopping-cart'));
                        //fly to cart

                    });


                }
            });
        }

        function refresh_maincartitem() {
            var num = 0
            for (i = 0; i < cartdata.detail.length; i++) {
                num += cartdata.detail[i].p_qty
            }
            $("#maincartitem").html(num);
        }

        function checkdup(id) {

            for (i = 0; i < cartdata.detail.length; i++) {
                console.log("id", id);
                console.log("p_id", cartdata.detail[i].p_id);
                if (cartdata.detail[i].p_id === id) {
                    cartdata.detail[i].p_qty = parseInt(cartdata.detail[i].p_qty) + parseInt(1)
                    return cartdata.detail[i].p_qty
                }
            }

            return "0"
        }

    </script>

}


<div class="container">

    <!-- Start Best Seller -->
    <section class="lattest-product-area pb-40 category-list">


        <div class="filter-bar d-flex flex-wrap align-items-center" style="">
            <div class="sorting">
            </div>
            <div class="sorting mr-auto">
            </div>
            <div>
                <div class="input-group filter-bar-search">
                    <input type="text" placeholder="ค้นหาสินค้า">
                    <div class="input-group-append">
                        <button type="button"><i class="ti-search"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="carditem">


        </div>
    </section>
</div>
<!-- End Best Seller -->
