﻿
@{
    ViewBag.Title = "ProductDetail";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}

@section Styles {




}
@section Scripts {

    <script>
        var _productid = localStorage.getItem("proid");
        var _productname = localStorage.getItem("name");
        var _productdetail = localStorage.getItem("detail");
        var _productpic = localStorage.getItem("pic");
        var _productfamily = localStorage.getItem("family");
        var _productprice = localStorage.getItem("price");

         var webapi = "@UrlServices";

        cartdata = { 'order': [], "detail": [] };

        $(function () {
          
            if (localStorage.getItem("cartdata") != null) {
                cartdata = JSON.parse(localStorage.getItem("cartdata"));
                var num = 0
                for (i = 0; i < cartdata.detail.length; i++) {
                    num += cartdata.detail[i].p_qty
                }
                $("#maincartitem").html(num);
            }

            $("#productname").html(_productname);
            $("#productprice").html(_productprice);
            $("#productfamily").html(_productfamily);
            $("#productdetail1").html(_productname);
            $("#productdetail2").html(_productname);

            $("#productpic1").attr("src", webapi +  "/assets/img/product/" + _productpic);
            $("#productpic2").attr("src", webapi +  "/assets/img/product/" + _productpic);


            $("#btaddtocart").click(function () {
      
                if (checkdup(_productid) === "0") {
            
                    cartdata['detail'].push({
                        'p_id': _productid,
                        'p_name': _productname,
                        'p_qty': parseInt($("#sst").val()),
                        'p_pic': _productpic,
                        'p_price': _productprice
                    });
                 
                }

                localStorage.setItem("cartdata", JSON.stringify(cartdata))
                var num = 0
                for (i = 0; i < cartdata.detail.length; i++) {
                    num += cartdata.detail[i].p_qty
                }
                $("#maincartitem").html(num);

                //fly to cart

                $('html, body').animate({
                    'scrollTop': $(".fa-shopping-cart").position().top
                });
                var itemImg = $(this).parent().find('i').eq(0);
                flyToElement($(itemImg), $('.fa-shopping-cart'));


                //fly to cart
            });



        });

        function checkdup(id) {

            for (i = 0; i < cartdata.detail.length; i++) {
                console.log("id", id);
                console.log("p_id", cartdata.detail[i].p_id);
                if (cartdata.detail[i].p_id === id) {
                    cartdata.detail[i].p_qty = parseInt(cartdata.detail[i].p_qty) + parseInt($("#sst").val())
                    return cartdata.detail[i].p_qty
                }
            }

            return "0"
        }


    </script>
}

<!--================Single Product Area =================-->

    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="">
                    <div class="single-prd-item">
                        <img id="productpic1" class="img-fluid img-thumbnail" src="" alt="" style="object-fit:cover;object-position:center;height:300px;width:300px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 id="productname">มะเขือเทศ</h3>
                    @*<h2 id="productprice">$10.00</h2>*@
                    <ul class="list">
                        <li><a id="productfamily"><span>ตระกูล</span> : ผัก</a></li>
                        <li><a><span>สถานะ</span> : มีสินค้าอยู่</a></li>
                    </ul>
                    <p id="productdetail1">
                        มะเขือเทศ เป็นพืชชนิดหนึ่งที่อุดมไปด้วยคุณค่าทางอาหาร
                        มะเขือเทศขนาดปานกลางจะมีปริมาณวิตามินซีครึ่งหนึ่ง
                        ของส้มโอทั้งผล มะเขือเทศผลหนึ่งจะมีวิตามินเอราว 1 ใน 3
                        ของวิตามินเอที่ร่างกายต้องการในหนึ่งวัน
                        นอกจากนี้มะเขือเทศยังมีโปแตสเซียม ฟอสฟอรัส แมกนีเซียมและแร่ธาตุอื่นๆ อีกหลายชนิด
                    </p>
                    <div class="product_count" style="margin-top:10px;">
                        <label for="qty">จำนวน:</label>
                        @*<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                    class="increase items-count" type="button">
                <i class="ti-angle-left"></i>
            </button>*@
                        <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:"
                               class="input-text qty"><label for="qty"> กก.</label>
                        @*<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                    class="reduced items-count" type="button">
                <i class="ti-angle-right"></i>
            </button>*@
                        <a class="button primary-btn" id="btaddtocart" href="#"><i class="ti-shopping-cart"></i>เพิ่มลงตะกร้า</a>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="icon_btn"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area" hidden>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">รายละเอียดสินค้า</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">สเป็คสินค้า</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">คอมเมนท์</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">ให้คะแนน</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p id="productdetail2">
                    Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes
                    and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in
                    Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to
                    London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an
                    officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a
                    job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when
                    showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a
                    child’s painting set for her birthday and it was with this that she produced her first significant work, a
                    half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly
                    named ‘Hangover’ by Beryl’s husband and
                </p>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>ความกว้าง</h5>
                                </td>
                                <td>
                                    <h5>128 มม.</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>ความสูง</h5>
                                </td>
                                <td>
                                    <h5>508 มม.</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>ความลึก</h5>
                                </td>
                                <td>
                                    <h5>85 มม.</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>น้ำหนัก</h5>
                                </td>
                                <td>
                                    <h5>52 กก.</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>ตรวจสอบคุณภาพ</h5>
                                </td>
                                <td>
                                    <h5>yes</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>อายุการใช้งาน</h5>
                                </td>
                                <td>
                                    <h5>03 ชิ้น</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>การบรรจุหีบห่อ</h5>
                                </td>
                                <td>
                                    <h5>แพ็คใส่กล่อง</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>ปริมาณภายในกล่อง</h5>
                                </td>
                                <td>
                                    <h5>60 ชิ้น</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>ดอกไม้ พิมพา</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        @*<a class="reply_btn" href="#">ตอบกลับ</a>*@
                                    </div>
                                </div>
                                <p>
                                    พัฒนาบุคลากรให้มีความเชี่ยวชาญในวิชาชีพอย่างต่อเนื่อง สร้างสรรค์ผลงานโดยคำนึงถึงผลกระทบที่มีต่อสังคม ธรรมชาติและสิ่งแวดล้อม ให้บริการวิชาชีพที่มีคุณภาพและสร้างความพึงพอใจสูงสุดให้แก่ผู้รับบริการ
                                </p>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>แสดงความคิดเห็น</h4>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="ชื่อ">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="อีเมล์">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="เบอร์โทรศัพท์">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="ข้อความ"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn primary-btn">แสดงความคิดเห็น</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                     
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>นายรัตนาภรณ์  ว่องเกษฏา</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    พัฒนาบุคลากรให้มีความเชี่ยวชาญในวิชาชีพอย่างต่อเนื่อง สร้างสรรค์ผลงานโดยคำนึงถึงผลกระทบที่มีต่อสังคม ธรรมชาติและสิ่งแวดล้อม ให้บริการวิชาชีพที่มีคุณภาพและสร้างความพึงพอใจสูงสุดให้แก่ผู้รับบริการ
                                </p>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>รีวิว</h4>
                            <p>ให้คะแนน :</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>คะแนน</p>
                            <form action="#/" class="form-contact form-review mt-3">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text" placeholder="ชื่อ" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="อีเมล์" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="subject" type="text" placeholder="หัวข้อ">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control different-control w-100" name="textarea" id="textarea" cols="30" rows="5" placeholder="ข้อความ"></textarea>
                                </div>
                                <div class="form-group text-center text-md-right mt-3">
                                    <button type="submit" class="button button--active button-review">รีวิว</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

