﻿
@{
    ViewBag.Title = "ProductListIOT";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}


@section Styles {
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/css/main.css" rel="stylesheet" />
}
@section Scripts {
    <script>
        var webapi = "@UrlServices";
        var cartdata = new Array();
        cartdata = { 'order': [], "detail": [] };


        $(function () {
            if (localStorage.getItem("cartdata") != null) {
                cartdata = JSON.parse(localStorage.getItem("cartdata"));
                var num = 0
                for (i = 0; i < cartdata.detail.length; i++) {
                    num += cartdata.detail[i].p_qty
                }
                $("#maincartitem").html(num);
            }
            Loaddata("iot","ALL");

            $(".pixel-radio").click(function () {
                Loaddata("iot", $(this).attr("data-value"));
            })




        });



        function Loaddata(group, family) {
            console.log(webapi + "/product/getproduct/" + group + "/" + family + "/");
            $.ajax({
                type: "get",
                url: webapi + "/product/getproduct/" + group + "/" + family +"/",
                data: {},
                dataType: "json",
                success: function (data) {
                    console.log(data);

                    var pro = "";
                    for (i = 0; i < data.length; i++) {
                        pro += '  <div class="col-md-6 col-lg-4"> ';
                        pro += '   <div class="card text-center card-product">';
                        pro += '  <div class="card-product__img"> ';

                        pro += '  <a class="d-block w-100" href="' + webapi + '/img/product/' + data[i].Pic1 + '" target="_blank" data-size="1600x1067"> ';
                        pro += '   <img class="card-img img-thumbnail" src="' + webapi + '/img/product/' + data[i].Pic1 + '"  alt="" style="object-fit:cover;object-position:center;height:250px;width:250px;cursor:zoom-in;"> ';
                        pro += '  </a> ';
                   
                        pro += '  <ul class="card-product__imgOverlay"> ';
                        pro += '    <li><button title ="ดูรายละเอียด" class="productdetail" data-id="' + data[i].productid + '" data-name="' + data[i].ProductName + '" data-detail="" data-pic="' + data[i].Pic1 + '" data-price="' + data[i].FullPrice + '" data-family="' + data[i].ProductFamily +'"><i class="ti-search"></i></button></li> ';
                        pro += '    <li><button title ="เพิ่มลงตะกร้า" class="addtocart" data-pic="' + data[i].Pic1 + '" data-id="' + data[i].productid + '" data-name="' + data[i].ProductName + '" data-price="' + data[i].FullPrice + '"><i class="ti-shopping-cart"></i></button></li> ';
                        pro += '    <li><button title ="สินค้าชื่นชอบ"><i class="ti-heart"></i></button></li>  ';
                        pro += '  </ul> ';
                        pro += '  </div>  ';
                        pro += '  <div class="card-body"> ';
                        pro += '   <p>' + data[i].ProductFamily +'</p> ';
                        pro += '  <h4 class="card-product__title"><a class="productdetail" data-id="' + data[i].productid + '" data-name="' + data[i].ProductName + '" data-detail="" data-pic="' + data[i].Pic1 + '" data-price="' + data[i].FullPrice + '" data-family="' + data[i].ProductFamily +'" style="cursor:pointer;">' + data[i].ProductName +'</a></h4>  ';
                        //pro += '   <p class="card-product__price">' + data[i].FullPrice +'฿</p> ';
                        pro += '   <p class="card-product__price text-danger">ติดต่อเรา...</p> ';
                        pro += '   </div> ';
                        pro += '   </div> ';
                        pro += ' </div> ';
                    }
                    $("#carditem").html("");
                    $("#carditem").append(pro);

                    $(".productdetail").click(function () {

                        localStorage.setItem("proid", $(this).attr("data-id"));
                        localStorage.setItem("name", $(this).attr("data-name"));
                        localStorage.setItem("detail", $(this).attr("data-detail"));
                        localStorage.setItem("pic", $(this).attr("data-pic"));
                        localStorage.setItem("family", $(this).attr("data-family"));
                        localStorage.setItem("price", $(this).attr("data-price"));
                        location.href='@Url.Action("productdetail", "product")';
                    });

                    $(".addtocart").click(function () {
                        if (checkdup($(this).attr("data-id")) === "0") {
                            cartdata['detail'].push({
                                'p_id': $(this).attr("data-id"),
                                'p_name': $(this).attr("data-name"),
                                'p_qty': 1,
                                'p_pic': $(this).attr("data-pic"),
                                'p_price': $(this).attr("data-price")
                            });
                        }

                        localStorage.setItem("cartdata", JSON.stringify(cartdata))
                        var num = 0
                        for (i = 0; i < cartdata.detail.length; i++) {
                            num += cartdata.detail[i].p_qty
                        }
                        $("#maincartitem").html(num);

                        //fly to cart
                        $('html, body').animate({
                            'scrollTop': $(".fa-shopping-cart").position().top
                        });
                        var itemImg = $(this).parent().find('i').eq(0);
                        console.log("itemImg", itemImg);
                        flyToElement($(itemImg), $('.fa-shopping-cart'));
                         //fly to cart

                    });



                }
            });
        }


        function checkdup(id) {
            for (i = 0; i < cartdata.detail.length; i++) {
                if (cartdata.detail[i].p_id === id) {
                    cartdata.detail[i].p_qty = parseInt(cartdata.detail[i].p_qty) + parseInt(1)
                    return cartdata.detail[i].p_qty
                }
            }
            return "0"
        }

    </script>
}



        <header class="masthead masthead-page mb-5">
            <img class="d-block w-100" src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/grid_computing-s.jpg?itok=lHW1Qggn" alt="Second slide" style="height:200px;object-fit:cover;object-position:center;filter:brightness(0.5)">
        </header>

    <div class="container">

        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list">


            <div class="filter-bar d-flex flex-wrap align-items-center" style="">
                <div class="sorting">
                </div>
                <div class="sorting mr-auto">
                </div>
                <div>
                    <div class="input-group filter-bar-search">
                        <input type="text" placeholder="ค้นหาสินค้า">
                        <div class="input-group-append">
                            <button type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" id="carditem">
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img img-thumbnail" src="~/img/product/Light.png" alt="" style="object-fit:cover;object-position:center;height:250px;width:250px;">
                            <ul class="card-product__imgOverlay">
                                <li><button><i class="ti-search productdetail" data-name="อุปกรณ์สำหรับวัดแสง" data-detail="" data-pic="Light.png" data-price="150.00" data-family="ผลไม้"></i></button></li>
                                <li><button><i class="ti-shopping-cart addtocart"></i></button></li>
                                <li><button><i class="ti-heart"></i></button></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Iot Sensor</p>
                            <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับวัดแสง" data-detail="" data-pic="Light.png" data-price="150.00" data-family="ผลไม้" style="cursor:pointer;">อุปกรณ์สำหรับวัดแสง</a></h4>
                            <p class="card-product__price">150.00</p>
                        </div>
                    </div>
                </div>



            </div>
        </section>

    </div>
    <!-- End Best Seller -->
