﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;

}
@section Styles {


}
@section Scripts {
    <script>
        var webapi = "@UrlServices";
        var cartdata = new Array();
        cartdata = { 'order': [], "detail": [] };


        $(function () {


        
            $("#btlogin").click(function () {
             
                login($("#txtuser").val(), $("#txtpass").val());
            });

            $("#register").click(function () {

                if (check_character($("#txtuname").val()) == false) {
                    $("#txtuname").val("")
                    alert("กรุณาใส่ชื่อผู้ใช้เป็นภาษาอังกฤษ");
                    return
                }

                if ($('#txtuname').val() == "") {
                    alert('Please complete the username field');
                    return
                }

                if ($('#txtuname').val() == "") {
                    alert('Please complete the username field');
                    return
                }
                if ($('#txtemail').val() == "") {
                    alert('Please complete the email address field');
                    return 
                }
              
                if ($('#txtpwd').val() == "") {
                    alert('Please complete the Password field');
                    return
                }
                if ($('#txtpwd2').val() == "") {
                    alert('Please complete the Confirm Password field');
                    return
                }

                checkdup($("#txtuname").val(), $('#txtuname').val());

               
               
            });

            $("#txtpwd2").change(function () {
                if ($("#txtpwd2").val() != $("#txtpwd").val()) {
                    $("#txtpwd2").val("");
                    alert("รหัสผ่านไม่ตรงกัน");
                }
            });


        });

        // ตรวจสอบ A-Z และ 0-9
        function check_character(ch) {
            var len, digit;
            if (ch == " ") {
                len = 0;
            } else {
                len = ch.length;
            }
            for (var i = 0; i < len; i++) {
                digit = ch.charAt(i)
                if ((digit >= "a" && digit <= "z") || (digit >= "0" && digit <= "9") || (digit >= "A" && digit <= "Z") || (digit == "_")) {
                    ;
                } else {
                    return false;
                }
            }
            return true;
        }

        function checkdup(username, email) {
            $.ajax({
                type: "get",
                url: webapi + "/login/CheckDuplicate/" + username + "/" + email ,
                data: {},
                dataType: "text",
                success: function (data) {
                    if (data === "DUP") {
                        alert('Cannot Register because Username is dupplicate.');
                    }
                    else {
                        register();
                    }
                }
            });
        }

        function login(username, password) {
            console.log(webapi + "/login/getlogin/" + username + "/" + password + "/");
            $.ajax({
                type: "get",
                url: webapi + "/login/getlogin/" + username + "/" + password  +"/",
                data: {},
                dataType: "json",
                success: function (data) {
            
                    console.log("data",data);

                    if (data.length > 0) {
                       location.href='@Url.Action("Index", "Home")';
                    } else {
                        alert("Login  ไม่สำเร็จ");
                    }


                }
            });
        }
        

        function register() {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("email", $("#txtemail").val());
            dataForm.append("username", $("#txtuname").val());
            dataForm.append("password", $("#txtpwd").val());
            $.ajax({
                type: "POST",
                url: webapi + "/Login/register/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    login($("#txtuname").val(), $("#txtpwd").val());
                    console.log(data);
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }

    </script>


}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin" >
    <div class="container">



            <div class="js-wizard-simple block block">
                <ul class="nav nav-tabs nav-tabs-block nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#wizard-progress-step1" data-toggle="tab">Login <span class="badge badge-pill badge-warning" id="tab1notifynumber">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step2" data-toggle="tab">Register <span class="badge badge-pill badge-warning" id="tab2notifynumber">0</span>  </a>
                    </li>
                </ul>

                <div class="block-content block-content-full tab-content px-md-5" style="min-height: 300px;">
                    <div class="tab-pane active" id="wizard-progress-step1" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login_box_img">

                                    @*<img class="img-responsive" src="https://icon-library.net/images/registration-icon-png/registration-icon-png-6.jpg" alt="" style="object-fit:cover;object-position:center;height:300px;width:300px;margin-bottom:30px;">
                <h4>มีบัญชีแล้วหรือยัง?</h4>
                <p>ลงทะเบียนผู้ใช้งาน เพื่อที่จะซื้อสินค้าจากในระบบได้</p>
                <a class="button button-account" href="login.html">เข้าสู่ระบบ</a>*@

                                    <div class="login_form_inner register_form_inner">
                                        <div class="col-md-12 form-group">
                                            <label class="button-register" style=" font-size:26px; background-color:#4c5ced; color:#ffffff;">หน้าจอเข้าสู่ระบบ</label>
                                            <img class="img-responsive" src="https://icon-library.net/images/registration-icon-png/registration-icon-png-6.jpg" alt="" style="object-fit:cover;object-position:center;height:80px;width:80px;margin-bottom:30px;">
                                        </div>

                                        <div class="row login_form">
                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <input type="text" class="form-control" id="txtuser" name="name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <input type="password" class="form-control" id="txtpass" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <div class="creat_account">
                                                        <input type="checkbox" id="f-option2" name="selector">
                                                        <label for="f-option2" style="color:white;">จดจำฉันไว้ในครั้งหน้า</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 form-group" id="btlogin">
                                                    <button class="button button-register w-100" style="font-size:18px;">เข้าสู่ระบบ</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="wizard-progress-step2" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login_form_inner register_form_inner" style="height: 620px;">
                                    <p style=" font-size:26px;">หน้าจอลงทะเบียน</p>
                                    <div class="row login_form">
                                        <div class="col-md-12 form-group">
                                            <input type="text" class="form-control" id="txtuname" name="txtuname" placeholder="Username **" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required=''>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input type="text" class="form-control" id="txtemail" name="txtemail" placeholder="Email Address **" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required=''>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input type="password" class="form-control" id="txtpwd" name="txtpwd" placeholder="Password **" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required=''>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input type="password" class="form-control" id="txtpwd2" name="txtpwd2" placeholder="Confirm Password **" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required=''>
                                        </div>
                                        <div class="col-md-12 form-group" id="">
                                            <button class="button button-register w-100" style="font-size:18px;" id="register">ลงทะเบียน</button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            

    </div>
</section>
<!--================End Login Box Area =================-->



