﻿
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}


@section Styles {
    <link href="~/assets/css/main.css" rel="stylesheet" />
}
@section Scripts {

    <script>
        var webapi = "@UrlServices";
        var _loginid = "@Request.Cookies["Vlogin"]["loginid"]";
        $(function () {
            
            Loaddata();

            $("#btsave").click(function () {
                UpdateProfile();
            });
            

            $("#uploadfile1").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded1;
                    reader.readAsDataURL(this.files[0]);
                }
                else {
                    $('#showimage1').attr('src', webapi + "/assets/img/payment/nophoto.png");
                }
            });
        });

        function imageIsLoaded1(e) {
            $('#showimage1').attr('src', e.target.result);
        };
         function Loaddata() {

            $.ajax({
                type: "get",
                url: webapi + "/Login/getLoginbyid/" + _loginid +"/",
                data: {},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#txtfname').val(data[0].fName);
                    $('#txtlname').val(data[0].lName);
                    $('#txtusername').val(data[0].UserName);
                    $('#txtpassword').val(data[0].Password);
                    $('#txtaddress1').val(data[0].Address1);
                    $('#txtaddress2').val(data[0].Address2);

                    $('#cbtambon').val(data[0].tambon);
                    $('#cbampor').val(data[0].ampor);
                    $('#cbprovince').val(data[0].province);

                    $('#txttel').val(data[0].Tel);
                    $('#txtemail').val(data[0].eMail);
                    $('#txtpostcode').val(data[0].PostCode);
                    $('#showimage1').attr("src", webapi + "/assets/img/Avatar/" + data[0].Pic1);
                }
            });
        }

        function UpdateProfile() {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("fname", $('#txtfname').val());
            dataForm.append("lname", $('#txtlname').val());
            dataForm.append("username", $('#txtusername').val());
            dataForm.append("password", $('#txtpassword').val());
            dataForm.append("address1", $('#txtaddress1').val());
            dataForm.append("address2", $('#txtaddress2').val());
            dataForm.append("postcode", $('#txtpostcode').val());

            dataForm.append("tambon", $('#cbtambon').val());
            dataForm.append("ampor", $('#cbampor').val());
            dataForm.append("province", $('#cbprovince').val());

            dataForm.append("tel", $('#txttel').val());
            dataForm.append("email", $('#txtemail').val());
            dataForm.append("Loginid", _loginid);
            if ($('#uploadfile1')[0].files[0] === undefined || $('#uploadfile1')[0].files[0] === null) {
                dataForm.append("pic1", null);
            } else {

                dataForm.append('pic1', $('#uploadfile1')[0].files[0]);
            }

            $.ajax({
                type: "POST",
                url: webapi + "/Login/UpdateProfile/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                    alert(data);
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }

    </script>
}

    <div class="container">
        <section class="">
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="input-group  text-center" style="border:solid;">
                            <img id="showimage1" type="file" name="image" class="img img-thumbnail center img-circle" accept="image/jpg, image/jpeg, image/png" src="@UrlServices/assets/img/payment/nophoto.png" style="width:auto;height:285px;border-width:2px;border-style:solid;object-position:center;object-fit:cover;">
                        </div>
                        <div><input id="uploadfile1" type="file" name="image" class="img btn btn-primary img-responsive" accept="image/jpg, image/jpeg, image/png" style="font-size:14px; width:100%;"></div>
                    </div>

                    <div class="form-group">
                        <label for="wizard-progress-lastname">username</label>
                        <input class="form-control" name="username" id="txtusername" type="email">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">password</label>
                        <input class="form-control" name="password" id="txtpassword" type="email">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">เบอร์โทรศัพท์</label>
                        <input class="form-control" name="subject" id="txttel" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">อีเมล์</label>
                        <input class="form-control" name="email" id="txtemail" type="email">
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="wizard-progress-lastname">ชื่อ</label>
                        <input class="form-control" name="name" id="txtfname" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">นามสกุล</label>
                        <input class="form-control" name="name" id="txtlname" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">บ้านเลขที่</label>
                        <input class="form-control" name="subject" id="txtaddress1" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">หมู่</label>
                        <input class="form-control" name="subject" id="txtaddress2" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">ตำบล</label>
                        <input class="form-control" name="subject" id="cbtambon" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">อำเภอ</label>
                        <input class="form-control" name="subject" id="cbampor" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">จังหวัด</label>
                        <input class="form-control" name="subject" id="cbprovince" type="text">
                    </div>
                    <div class="form-group">
                        <label for="wizard-progress-lastname">รหัสไปรษณีย์</label>
                        <input class="form-control" name="subject" id="txtpostcode" type="text">
                    </div>



                </div>
            </div>
            <div class="form-group text-center text-md-right mt-3">
                <button class="button button--active button-contactForm" id="btsave">บันทึก</button>
            </div>

            <hr />
        </section>
    </div>