﻿
@{
    ViewBag.Title = "CompanyRegister";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Styles {

}
@section Scripts {

}


<section class="section-margin">
    <div class="container">


        <div>

         

            <div itemprop="articleBody">
                <p> <strong>การจดทะเบียนบริษัท</strong> </p>
                <div class="table-responsive">

                    <table border="1">
                        <tbody>
                            <tr>
                                <td >
                                    • สถานที่จดทะเบียน
                                </td>
                                <td>
                                    <p> สำนักงานทะเบียนหุ้นส่วนบริษัทกรุงเทพมหานคร </p>
                                    <p> กรมพัฒนาธุรกิจการค้า กระทรวงพาณิชย์ </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>  </p>
                                    <p> • เลขที่ของผู้ประกอบการ &nbsp; &nbsp; </p>
                                </td>
                                <td>
                                    <p>  </p>
                                    <p> ทะเบียนเลขที่ 0105533128271 </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>  </p>
                                    <p> • วันที่จดทะเบียน &nbsp; &nbsp; </p>
                                </td>
                                <td>
                                    <p>  </p>
                                    <p> 26 ตุลาคม 2562 </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>  </p>
                                    <p> • ทุนจดทะเบียน </p>
                                </td>
                                <td>
                                    <p>  </p>
                                    <p> 1,000,000 บาท (หนึ่งล้านบาท) </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>  </p>
                                    <p> • ปีที่ก่อตั้งบริษัท </p>
                                </td>
                                <td>
                                    <p>  </p>
                                    <p> พ.ศ. 2562 </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>

                <p> <strong>การจดทะเบียนด้านวิชาชีพ</strong> </p>
                <table border="1">
                    <tbody>
                        <tr>
                            <td >
                                • ศูนย์ข้อมูลที่ปรึกษา<br> &nbsp; &nbsp;สำนักบริหารหนี้สาธารณะ กระทรวงการคลัง

                            </td>
                            <td>
                                <p> สถานภาพประเภท A หมายเลขสมาชิก 18 </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <p>  </p>
                                <p>
                                    •  สำนักงานนโยบายและแผนทรัพยากร  ธรรมชาติ <br>&nbsp; และสิ่งแวดล้อม &nbsp;กระทรวงทรัพยากรธรรมชาติและ<br>&nbsp; สิ่งแวดล้อม
                                </p>
                            </td>
                            <td>
                                <p>  </p>
                                <p> ใบอนุญาตจัดทำรายงาน EIA เลขที่ 14/2556 </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <p>  </p>
                                <p>
                                    •  สภาวิศวกร &nbsp; &nbsp;
                                </p>
                            </td>
                            <td>
                                <p> </p>
                                <p>
                                    ผู้ประกอบวิชาชีพวิศวกรรมควบคุม&nbsp;  ประเภทนิติบุคคล<br> ใบอนุญาตเลขที่ 0011/44 <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>  <br> </p>

                <p> <strong>การเป็นสมาชิกองค์กรทางวิศวกรรม</strong> </p>
                <table border="1" >
                    <tbody>
                        <tr>
                            <td >
                                <p><span style=" line-height: 18px;">•&nbsp;  Association of State Dam Safety Officials, USA </span></p>
                            </td>
                            <td>
                                <p>  </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <p>  </p>
                                <p>
                                    •&nbsp; วิศวกรรมสถานแห่งประเทศไทย ในพระบรมราชูปถัมภ์
                                </p>
                            </td>
                            <td>
                                <p>  </p>
                                <p> หมายเลขสมาชิก C1/031 </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <p>  </p>
                                <p>
                                    •&nbsp; สมาคมวิศวกรที่ปรึกษาแห่งประเทศไทย
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12.727272033691406px; line-height: normal;">
                                    </span>
                                </p>
                                <p>
                                    หมายเลขสมาชิก 2025

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <p>
                                </p>
                                <p>
                                    • สมาคมวิศวกรรมสิ่งแวดล้อมแห่งประเทศไทย
                                </p>
                            </td>
                            <td>
                                <p>หมายเลขสมาชิก ป. 070 </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <p>
                                </p>
                                <p>
                                    • สมาคมนักอุทกวิทยาไทย &nbsp;(Thai Hydrologist Association) &nbsp; <br>&nbsp; กรมชลประทาน

                                </p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td >
                                <p>

                                </p>
                                <p>
                                    • สมาคมการสำรวจและการแผนที่

                                </p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <hr>
                <p>&nbsp;</p>
                <p><br><br></p>
            </div>

        </div>

    </div>
</section>