﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Styles {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

    <style>
        .gm-style img {
            object-fit: cover;
        }

        @@import url('https://fonts.googleapis.com/css?family=Abel');

        .newfont {
            background: rgb(255, 255, 255);
            font-family: Abel, Arial, Verdana, sans-serif;
            font-size: 18px;
        }


        .map-container {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

            .map-container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }


    </style>
}
@section Scripts {

    <script>
        $(function () {
            $("#btsave").click(function () {

                if ($('#txtcontactname').val() == "") {
                    alert('Please complete the contactname field');
                    return
                }
                if ($('#txtcontactemail').val() == "") {
                    alert('Please complete the email email field');
                    return
                }

                if ($('#txtcontacttitlel').val() == "") {
                    alert('Please complete the titlel field');
                    return
                }
                if ($('#txtcontactdescription').val() == "") {
                    alert('Please complete the Confirm description field');
                    return
                }
                savecontact();
            });
        });

        function savecontact() {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("loginid", "");
            dataForm.append("contactname", $("#txtcontactname").val());
            dataForm.append("contactemail", $("#txtcontactemail").val());
            dataForm.append("contacttitlel", $("#txtcontacttitlel").val());
            dataForm.append("contactdescription", $("#txtcontactdescription").val());
            $.ajax({
                type: "POST",
                url: webapi + "/contact/savecontact/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                    alert("ส่งข้อความถึงแอดมินเรียบร้อยแล้ว");
                    location.reload();
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }

    </script>

}



<section class="section-margin">
    <div class="container newboxshadow">


        <div class="row" style="margin-bottom :50px;">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-center">
                    <a class="text-center" style="font-size: 36px;"> ติดต่อเรา</a>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4 mb-md-0">

                <address>
                    <strong>
                        ติดต่อ บริษัทวีเดฟซอฟท์ จำกัด<br />
                        Vdevsoft.co,.ltd.<br />
                    </strong>
                    131 อุทยานวิทยาศาสตร์ ประเทศไทย สวทช. อาคารกลุ่ม นวัตกรรม INC1
                    231-232 ชั้น 2 หมู่ 9 ถนนพหลโยธิน ตำบลคลองหนึ่ง อำเภอคลองหลวง จังหวัดปทุมธานี 12120 <br /> Tel. 02-564-7000 ต่อ 5231,5232<br />
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">webmaster@vdevsoft.co.th</a><br />
                </address>


            </div>
            <div class="col-md-8 col-lg-9">
                <div class="form-contact contact_form">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input class="form-control" name="name" id="txtcontactname" type="text" placeholder="ชื่อ **">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" id="txtcontactemail" type="email" placeholder="อีเมล์ **">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="subject" id="txtcontacttitlel" type="text" placeholder="หัวเรื่อง **">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <textarea class="form-control different-control w-100" name="message" id="txtcontactdescription" cols="30" rows="5" placeholder="รายละเอียด"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center text-md-right mt-3">
                        <button class="button button--active button-contactForm" id="btsave">ส่งข้อความ</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-none d-sm-block mb-5 pb-4">

            <div id="map-container-google-1" class="map-container">
                <iframe src="https://maps.google.com/maps?q=Thailand Science Park&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        style="border:0" allowfullscreen></iframe>
            </div>

        </div>



    </div>
</section>




