﻿
@{
    ViewBag.Title = "CSR";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Styles {

    <style>

        .gallery-title {
            font-size: 36px;
            color: #42B32F;
            text-align: center;
            font-weight: 500;
            margin-bottom: 70px;
        }

            .gallery-title:after {
                content: "";
                position: absolute;
                width: 7.5%;
                left: 46.5%;
                height: 45px;
                border-bottom: 1px solid #5e5e5e;
            }

        .filter-button {
            font-size: 18px;
            border: 1px solid #42B32F;
            border-radius: 5px;
            text-align: center;
            color: #42B32F;
            margin-bottom: 30px;
        }

            .filter-button:hover {
                font-size: 18px;
                border: 1px solid #42B32F;
                border-radius: 5px;
                text-align: center;
                color: #ffffff;
                background-color: #42B32F;
            }

        .btn-default:active .filter-button:active {
            background-color: #42B32F;
            color: white;
        }

        .port-image {
            width: 100%;
        }

        .gallery_product {
            margin-bottom: 30px;
        }
    </style>
}
@section Scripts {

    <script>
             var ROOT = '@Url.Content("~/")';
        $(function () {
            //getalbum();
            getpicture();
            console.log("start")
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

        });


        function getalbum() {
            console.log(webapi + "/gallery/getalbum/9");
            $.ajax({
                type: "get",
                url: webapi + "/gallery/getalbum/9",
                data: {},
                dataType: "json",
                success: function (response) {
                    var pro = "";
                
                    for (i = 0; i < response.length; i++) {
                        pro += ' <button class="btn btn-default filter-button" data-filter="' + response[i].albumcode + '">' + response[i].albumname +'</button> ';
                    }
                    pro += ' <button class="btn btn-default filter-button" style="color:darkblue;" data-filter="all">ทั้งหมด</button> ';
                    $("#albumname").html("");
                    $("#albumname").append(pro);

                }
            });
        }


        function getpicture() {
            $.ajax({
                type: "get",
                url: webapi + "/gallery/getgallery/ALL",
                data: {},
                dataType: "json",
                success: function (response) {
                    var pro = "";

                    for (i = 0; i < response.length; i++) {
                        pro += ' <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ' + response[i].albumcode + '"> ';
                        pro += '        <a class="d-block w-100" href="' + ROOT + 'assets/img/gallery/' + response[i].albumcode + '/' + response[i].picture + '" data-size="1600x1067"> ';
                        pro += '  <img class="card-img rounded-0 img-thumbnail img-responsive" src="' + ROOT + 'assets/img/gallery/' + response[i].albumcode + '/' + response[i].picture + '" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">';
                        pro += '        </a>';
                        pro += ' </div> ';
                    }
                    $("#picture").html("");
                    $("#picture").append(pro);

                }
            });
        }

    </script>
}



    <div class="container">

        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h4 style="margin-top:40px; margin-bottom:30px;">กิจกรรม<span class="section-intro__style">บริษัท</span></h4>
                </div>
                <div align="left" id="albumname">
                    <button class="btn btn-default filter-button" data-filter="pac">Pac Team</button>
                    <button class="btn btn-default filter-button" data-filter="event1">งานเทคโนโลยีการเกษตร</button>
                    <button class="btn btn-default filter-button" data-filter="0110">Thailand TechLand</button>
                    <button class="btn btn-default filter-button" data-filter="smartfarm">smartfarm</button>
                    <button class="btn btn-default filter-button" data-filter="tts">Thailand Techshow</button>
                    <button class="btn btn-default filter-button" data-filter="moac"> คณะอนุกรรมการขับเคลื่อน E-Commerce </button>
                    <button class="btn btn-default filter-button" data-filter="jump"> Dxexpert by ATSI </button>
                    <button class="btn btn-default filter-button" data-filter="2p"> 2P Safty By NSTDA </button>
                    <button class="btn btn-default filter-button" data-filter="bikeman"> Bikeman </button>
                    <button class="btn btn-default filter-button" data-filter="indo"> สวทช & Indo </button>
                    <button class="btn btn-default filter-button" data-filter="krabi"> กระบี่ Premium </button>
                    <button class="btn btn-default filter-button" style="color:darkblue;" data-filter="all">ทั้งหมด</button>
                </div>
            </div>
            <br />
            <div class="row" id="picture">
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter eve">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/eve1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter bank">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/bank1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">

                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter eve">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/eve2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter bank">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/bank2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter eve">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/eve3.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/3.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/4.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/5.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/6.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/7.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/8.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/9.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/10.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/11.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter event1">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/event1/12.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter 0110">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/0110/1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter 0110">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/0110/2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter 0110">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/0110/3.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter 0110">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/0110/4.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter 0110">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/0110/5.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>


                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/3.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/4.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/5.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/6.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/7.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/8.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/9.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/10.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/11.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/12.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/13.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/14.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/15.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/16.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/17.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/18.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter smartfarm">
                    <img class="card-img rounded-0 img-thumbnail img-responsive" src="~/assets/img/gallery/smartfarm/19.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                </div>
            </div>


           
        </div>


    </div>
