﻿
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Styles {


}
@section Scripts {

}
<section class="blog" style="margin-bottom:40px;">
    <div class="container newboxshadow blog_right_sidebar" style="margin-top:30px;">




        <div class="row" style="margin-bottom :20px;">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-left">
                    <h2 class="text-left"> ประวัติบริษัท</h2>
                    <p></p>
                </div>
            </div>
        </div>

        <div itemprop="articleBody">
            <p style="text-indent: 2.5em;">
                @* <img src="~/assets/img/team.jpg" alt="py" class="img img-thumbnail" width="400" height="419" style="font-size: 12.16px; line-height: 15.808px; margin-left: 10px; margin-bottom: 10px; float: right; object-fit:cover;object-position:center;">*@
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" style=" height:400px; width:400px;font-size: 12.16px; line-height: 15.808px; margin-left: 10px; margin-bottom: 10px; float: right; object-fit:cover;object-position:center;">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/1.jpg" style="object-fit:cover;object-position:center; height:400px; width:auto;" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/2.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/3.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/4.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/5.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/6.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/7.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/8.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/9.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <b>บริษัท วีเดฟซอฟท์ จำกัด (VDEV SOFT)</b>  จดทะเบียนนิติบุคคลบริษัทเมื่อวันที่ 14 มกราคม 2562
                ที่ตั้งสำนักงานวิจัยและพัฒนาซอฟท์แวร์ : เลขที่ 131 หมู่ 9 อุทยานวิทยาศาสตร์ประเทศไทย
                สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) อาคารกลุ่มนวัตกรรม 1 ห้องเลขที่ INC1 231-232
                ถนนพหลโยธิน  ตำบลคลองหนึ่ง อำเภอคลองหลวง จ.ปทุมธานี 12120
                โทรศัพท์ 02-564-7000 ต่อ 5231, 5232  มือถือ 092-259-8929
                เลขผู้เสียภาษี 0745562001283 <br />
<p style="text-indent: 2.5em;">
                <b> ผู้ก่อตั้งคือ</b> นายประวิทย์  จันวะดี  เป็นนักพัฒนาซอฟท์แวร์ที่มีประสบการณ์ทำงานกว่า 20 ปี  มีผลงานซอฟท์แวร์ประเภทวิเคราะห์ข้อมูล (analysis) การจัดการฐานข้อมูลขนาดใหญ่ (Big DATA)  และซอฟท์แวร์ที่สามารถควบคุมและการทำงานของอุปกรณ์ IOT ให้ทำงานได้อย่างอัตโนมัติ (Automatic and Control)  ตลอดระยะเวลาการทำงานผู้ก่อตั้ง ได้พัฒนาซอฟท์แวร์และโซลูชั่นหลายโครงการ
                ให้กับหน่วยงานทั้งของภาครัฐและภาคเอกชน ได้แก่  กรมชลประทาน  กรมศุลกากร  วิทยุการบินแห่งประเทศไทย สพฐ. สวทช. (NECTEC: STL, TMEC)  เป็นต้น  ในส่วนภาคเอกชน ได้แก่ Hutch AIS DTAC True  CMO Isara Software  เป็นต้น<br />
            <p style="text-indent: 2.5em;">
                <b>ปีพ.ศ. 2556-2559 </b>ทีมผู้ก่อตั้ง VDEVSOFT ได้เข้าร่วมการบ่มเพาะธุรกิจด้านผู้ประกอบการซอฟท์แวร์ โครงการ Success รุ่น 2 กับ หน่วยงาน BIC ของ สวทช. และมีบุคลากรที่มีประสบการณ์พัฒนาซอฟท์แวร์ประเภทวิเคราะห์ข้อมูลที่มีคุณภาพ<br />
            <p style="text-indent: 2.5em;">
                <b>ปีพ.ศ. 2559-2561 </b>ผู้ก่อตั้งได้ทำสัญญาร่วมวิจัยกับหน่วยงาน NECTEC: STL โครงการเครื่องต้นแบบ solar monitoring systems (โครงการสื่อสุริยะอาสา) เพื่อติดตั้งระบบกับโรงเรียนตำรวจตระเวนชายแดน จังหวัดตาก และจังหวัดประจวบคีรีขันธ์<br />
            <p style="text-indent: 2.5em;">
                <b>เมษายน พ.ศ. 2562 </b> ได้ร่วมเป็นทีม Developer กับ วิทยาลัยนานาชาติ คณะวิศวกรรมซอฟต์แวร์ ของสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง  ในโครงการออกแบบและพัฒนาระบบต้นแบบแสดงผลสภาพอากาศและสถานการณ์น้ำ ให้กับสถานบันสารสนเทศทรัพยากรน้ำและการเกษตร (สสนก.)<br />
            <p style="text-indent: 2.5em;">
                <b>
                    พฤษภาคม พ.ศ. 2562
                </b>VDEVSOFT </b> ได้จัดทำแอพพลิเคชั่นข้อมูลการผลิตและการตลาดพืชผักปลอดภัย ให้กับสำนักงานเกษตรจังหวัดนครปฐม โดยผู้ใช้งานระบบคือ เจ้าหน้าที่เกษตรจังหวัดนครปฐม และเกษตรกรจังหวัดนครปฐม    เป็นโครงการยกระดับกระบวนการผลิตผลผลิตเกษตร ตลอดจน ภาคพาณิชยกรรม
                อุตสาหกรรมสินค้าชุมชน และภาคแรงงาน  เพื่อพัฒนาเกษตรกรให้มีความรู้ความเข้าใจและสามารถใช้เทคโนโลยีดิจิตอลสำหรับบันทึกการปลูกให้สามารถติดตามผลผลิตเกษตรเป็นไปตามมาตรฐานเกษตร GAP
                และมุ่งสู่มาตรฐานเกษตรอินทรีย์ เพื่อสร้างแหล่งผลผลิตทางการเกษตรที่มีความปลอดภัยและมีคุณภาพ   ตลอดจนเชื่อมโยงตลาดกับแหล่งผลิตให้แก่เกษตรกรให้มีรายได้มั่นคงและยั่งยืน<br />
            <p style="text-indent: 2.5em;">

                <b>  VDEV SOFT </b>จึงก่อตั้งขึ้นมาเพื่อต่อยอดและขยายผลงานด้านซอฟท์แวร์และโซลูชั่นด้าน monitoring and automatic control โดยเฉพาะอย่างยิ่ง การจัดศูนย์รวมฐานข้อมูลและวิเคราะห์
                (Big DATA and analysis) ให้เป็น Software Solutions ที่มีความ commercial มากขึ้นให้เป็นซอฟท์แวร์ที่มีมาตรฐานการผลิตและตอบโจทย์ลูกค้าให้มากที่สุด ตลอดจนให้เกิดความร่วมมือกับนักวิจัย สวทช.
                และหน่วยงานของภาครัฐ เพื่อผลิตนวัตกรรมซอฟท์แวร์ฝีมือคนไทยที่ดีมีมาตรฐานพร้อมออกสู่ตลาดสากล<br />
            <p>


            </p>
            <p>&nbsp;</p>
        </div>

        


        @*<div class="row" id="vdevnews">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/assets/img/gallery/team/1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/assets/img/gallery/team/2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/assets/img/gallery/team/3.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/assets/img/gallery/team/4.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/assets/img/gallery/team/5.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/assets/img/gallery/team/6.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                </div>
            </div>
        </div>*@

    </div>
</section>
