﻿
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/assets/css/main.css" rel="stylesheet" />

}
@section Scripts {

}



<!--================ Hero banner start =================-->
<section class="hero-banner ">
    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner" style="height:auto;">
            <div class="carousel-item active">
                <a class="d-block w-100" href="~/assets/img/slider1.png" target="_blank" data-size="1600x1067">
                    <img class="d-block w-100" src="~/assets/img/slider1.png" style="object-fit:scale-down;object-position:center; height:800px; cursor:zoom-in" alt="First slide">
                </a>
              
            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="~/assets/img/slider1.png" target="_blank" data-size="1600x1067">
                    <img class="d-block w-100" src="~/assets/img/slider2.png" style="object-fit:scale-down;object-position:center; height:800px;cursor:zoom-in" alt="Second slide">
                </a>

            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="~/assets/img/slider1.png" target="_blank" data-size="1600x1067">
                    <img class="d-block w-100" src="~/assets/img/slider3.png" style="object-fit:scale-down;object-position:center; height:800px;cursor:zoom-in;" alt="Second slide">
                </a>
            </div>

            <div class="carousel-item">
                <a class="d-block w-100" href="~/assets/img/slider1.png" target="_blank" data-size="1600x1067">
                    <img class="d-block w-100" src="~/assets/img/slider4.png" style="object-fit:scale-down;object-position:center; height:800px;cursor:zoom-in" alt="First slide">
                </a>

            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="~/assets/img/slider1.png" target="_blank" data-size="1600x1067">
                    <img class="d-block w-100" src="~/assets/img/slider5.png" style="object-fit:scale-down;object-position:center; height:800px;cursor:zoom-in" alt="Second slide">
                </a>

            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="~/assets/img/slider1.png" data-size="1600x1067">
                    <img class="d-block w-100" src="~/assets/img/slider6.png" style="object-fit:scale-down;object-position:center; height:800px;cursor:zoom-in" alt="Second slide">
                </a>

            </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!--================ Hero banner start =================-->




@*<section class="section-margin--small mb-5">

    <div class="container">

        <div class="row">


            <div class="col-xl-3 col-lg-4 col-md-5" id="leftsidebar">


                <div class="sidebar-categories text-center" style="background-color:#f1f6f7;margin-bottom:20px; ">
                    <div class="head">Add Friend</div>
                    <img src="~/assets/img/kasetdealqr.jpg" alt="" width="179" height="177">
                </div>

                <div class="sidebar-categories text-center" style="background-color:white;margin-bottom:20px; ">
                    <div class="head">เช็คสถานะส่งของ</div>
                    <a href="https://th.kerryexpress.com/th/track/" title="เช็ค Kerry" target="_blank" rel="noopener noreferrer">
                        <img src="https://ft.lnwfile.com/_/ft/_raw/41/4t/t6.gif" alt="" width="216" height="151">
                    </a><a href="https://track.thailandpost.co.th/" target="_blank" rel="noopener noreferrer" title="เช็คEMS">
                        <img src="https://ft.lnwfile.com/_/ft/_raw/nd/ae/tj.gif" alt="" width="206" height="169">
                    </a>
                </div>


                <div class="sidebar-categories" style="background-color:#f1f6f7;margin-bottom:20px; ">
                    <div class="head">สถิติการเข้าชม</div>
                    <div class="smini-hide" style="margin-top:20px;padding-bottom:20px;">
                        <ul class="nav-main">
                            <li class="nav-main-item">
                                <svg width="98%" height="90" id="besucherzaehler2" style="fill: #ffffff00;">
                                    <g>
                                        <rect width="98%" height="90" x="0" y="0" style="fill: #ffffff00;" fill-opacity="1.0">
                                        </rect>
                                        <text x="19" y="44" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="counttotal">ทั้งหมด : </text>
                                        <text x="19" y="62" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="counttoday">วันนี้ : </text>
                                        <text x="19" y="80" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="countyesterday">เมื่อวาน :</text>
                                        <rect width="5" height="9" x="19" y="14" style="fill: #777;"></rect>
                                        <rect width="5" height="17" x="27" y="6" style="fill: #777;"></rect>
                                        <rect width="5" height="13" x="35" y="10" style="fill: #777;"></rect>
                                        <text x="47" y="23" style="font-weight: bold;" font-family="Roboto, sans-serif" font-size="14" fill="#777">ผู้เข้าชม</text>
                                    </g>
                                </svg>
                            </li>
                            <li class="nav-main-item">
                                <svg width="98%" height="45" id="besucherzaehler2" style="fill: #ffffff00;">
                                    <g>
                                        <rect width="98%" height="45" x="0" y="0" style="fill: #ffffff00;" fill-opacity="1.0">
                                        </rect>
                                        <rect width="5" height="9" x="19" y="14" style="fill: #777;"></rect>
                                        <rect width="5" height="17" x="27" y="6" style="fill: #777;"></rect>
                                        <rect width="5" height="13" x="35" y="10" style="fill: #777;"></rect>
                                        <text x="47" y="23" style="font-weight: bold;" font-family="Roboto, sans-serif" font-size="14" fill="#777">เข้าสู่ระบบ</text>
                                        <text x="19" y="44" style="" font-family="Roboto, sans-serif" font-size="14" fill="#777" id="logintotal">ทั้งหมด : 7,789 ครั้ง</text>
                                    </g>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="newsletter" style="padding-top:5px;height:470px;">
                    <div class="container">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" style="height:auto;">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="~/assets/img/p1.png" style="object-fit:cover;object-position:center;" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/assets/img/p2.png" style="object-fit:cover;object-position:center;" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/assets/img/p3.png" style="object-fit:cover;object-position:center;" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>*@
