﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}
@section Styles {
    <style>
        :root {
            --lh: 1.4rem;
        }
        .truncate-overflow {
            --max-lines: 3; /*ใส่จำนวนบรรทัด*/
            position: relative;
            max-height: calc(var(--lh) * var(--max-lines));
            overflow: hidden;
            padding-right: 1rem;
        }
        .truncate-overflow::before {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .truncate-overflow::after {
            content: "";
            position: absolute;
            right: 0;
            width: 1rem;
            height: 1rem;
            background: white;
        }

        .image-modal.hidden {
            display: none;
        }

        .image-modal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #000000c7;
            z-index: 100;
            text-align: center;
        }

            .image-modal .content {
                display: inline-flex;
                width: auto;
                max-width: 100%;
                height: 100vh;
                padding: 50px 10px;
            }

                .image-modal .content img {
                    width: 100%;
                    object-fit: contain;
                }

            .image-modal .btn-close {
                position: absolute;
                top: 35px;
                left: calc(50% - 14px);
                background: #607D8B;
                color: #ffffff;
                border-radius: 50%;
                cursor: pointer;
            }

                .image-modal .btn-close i {
                    font-size: 1rem;
                    padding: 6px 9px;
                }

    </style>

}
@section Scripts {
    <script>
    
        $(function () {

            getnews();

            $('.img-thumbnail').click(function () {
                show_fill_image($(this).attr('src'));
            }); 

        })

        function show_fill_image(res) {
            console.log(res)
            $('#img_full').attr('src', res)
            $('#image_modal').removeClass('hidden')
        } 
        function getnews() {
            console.log(webapi + "/news/getnews/3");
            $.ajax({
                type: "get",
                url: webapi + "/news/getnews/3",
                data: {},
                dataType: "json",
                success: function (response) {
                    var pro = "";
                    for (i = 0; i < response.length; i++) {
                        pro += ' <div class="col-md-6 col-lg-4 mb-4 mb-lg-0"> ';
                        pro += '     <div class="card card-blog"> ';
                        pro += '         <div class="card-blog__img"> ';
                        pro += '        <a class="d-block w-100" href="' + webapi + '/assets/img/blog/' + response[i].fullpic + '" data-size="1600x1067"> ';
                        pro += '            <img class="card-img rounded-0 img-thumbnail" src="' + webapi + '/assets/img/blog/' + response[i].fullpic + '" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;"> ';
                        pro += '        </a>';
                        pro += '        </div> ';
                        pro += '        <div class="card-body"> ';
                        pro += '            <ul class="card-blog__info"> ';
                        pro += '               <li><a href="#">By ' + response[i].createby +'</a></li> ';
                        pro += '           </ul> ';
                        pro += '            <h4 class=""><a>' + response[i].newsheader +'</a></h4> ';
                        pro += '           <p class="truncate-overflow">' + response[i].newsbody +'</p> ';
                        pro += '            <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="' + response[i].newsheader + '" data-detail="' + response[i].newsbody +'" data-pic="' + response[i].fullpic +'">อ่านต่อ..<i class="ti-arrow-right"></i></a> ';
                        pro += '       </div> ';
                        pro += '   </div> ';
                        pro += ' </div> ';
                    }
                    $("#vdevnews").html("");
                    $("#vdevnews").append(pro);

                    $(".blogdetail").click(function () {

                        localStorage.setItem("title", $(this).attr("data-title"));
                        localStorage.setItem("detail", $(this).attr("data-detail"));
                        localStorage.setItem("pic", $(this).attr("data-pic"));
                        location.href = '@Url.Action("blogdetail", "blog")';
                    });

                }
            });
        }



    </script>


}


<!--================ Hero banner start =================-->
<section class="hero-banner ">
    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" style="height:auto;">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/img/p5.png" style="object-fit:cover;object-position:center; height:800px;" alt="First slide">
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100" src="~/assets/img/p6.png" style="object-fit:cover;object-position:center; height:800px;" alt="Second slide">
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100" src="~/assets/img/p2.png" style="object-fit:cover;object-position:center; height:800px;" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/assets/img/p4.png" style="object-fit:cover;object-position:center; height:800px;" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/assets/img/p3.png" style="object-fit:cover;object-position:center; height:800px;" alt="Fifth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!--================ Hero banner start =================-->

<section class="newletter">
    <div class="newsletter">
        <div class="container">

        </div>
    </div>
</section>

<main class="site-main">


    <!-- ================ Blog section start ================= -->
    <section class="blog">
        <div class="container">
            <div>
                <h4 style="margin-top:40px; margin-bottom:30px;">ข่าว<span class="section-intro__style">ประชาสัมพันธ์</span></h4>
            </div>

            <div class="row" id="vdevnews">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <a class="d-block w-100" href="~/img/blog/blog1.jpg" data-size="1600x1067">
                                <img class="card-img rounded-0 img-thumbnail" src="~/img/blog/blog1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;cursor:zoom-in;">
                            </a>
                          
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><a href="#">By Admin</a></li>
                                @*<li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>*@
                            </ul>
                            <h4 class=""><a>บริษัทได้รับเลือกเข้าร่วมในทีม พัฒนาระบบฐานข้อมูลด้านเกษตรเเห่งชาติ </a></h4>
                            <p>พิธีลงนามของหน่วยงานจาก 10 หน่วยงาน ซึ่งตกลงร่วมมือกันในการสนับสนุนการพัฒนาระบบฐานข้อมูลด้านการเกษตรแห่งชาติ</p>
                            <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="สวทช.เยี่ยมชมผลงานของบริษัทวีเดฟซอฟท์ 28/10/2562" data-detail="สวทช.ได้เดินทางไปที่กรมการเกษตรจังหวัดนครปฐมเพื่อเข้าเยี่ยมชมผลงานการทำระบบติดตามผลผลิตทางการเกษตรของบริษัทวีเดฟซอฟท์เมื่อวันที่ 28/10/2562" data-pic="blog1.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <a class="d-block w-100" href="~/img/blog/blog2.jpg" data-size="1600x1067">
                                <img class="card-img rounded-0 img-thumbnail" src="~/img/blog/blog2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                            </a>
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><a href="#">By Admin</a></li>
                            </ul>
                            <h4 class=""><a>เปิดบูทแสดงสินค้า IOT ในงาน Thailand Tech Show 2019</a></h4>
                            <p> บริษัทวีเดฟซอฟท์ออกงานเปิดบูทแสดงสินค้านอกสถานที่ในงาน Thailand Tech Show 2019 วันศุกร์ที่ 6 กันยายน 2562 เวลา 09.00 - 16.00 น. ณ ห้องคอนเวนชั่นเซ็นเตอร์</p>
                            <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="เปิดบูทแสดงสินค้า IOT ในงาน Thailand Tech Show 2019" data-detail="บริษัทวีเดฟซอฟท์ออกงานเปิดบูทแสดงสินค้านอกสถานที่ในงาน Thailand Tech Show 2019 วันศุกร์ที่ 6 กันยายน 2562 เวลา 09.00 - 16.00 น. ณ ห้องคอนเวนชั่นเซ็นเตอร์" data-pic="blog2.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ================ Blog section end ================= -->
    <!-- ================ trending product section start ================= -->
    @*<section class="">
            <div class="container">
                <div>
                    <h4 style="margin-top:40px; margin-bottom:30px;">ตัวอย่าง<span class="section-intro__style">สินค้า</span></h4>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/Light.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">

                            </div>
                            <div class="card-body">
                                <p>Iot Sensor</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับวัดแสง" data-detail="" data-pic="Light.png" data-price="150.00" data-family="Iot Sensor" style="cursor:pointer;">อุปกรณ์สำหรับวัดแสง</a></h4>
                                <p class="card-product__price">150.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/temp_humid.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>Iot Sensor</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับวัดอุณหภูมิและความชื้น" data-detail="" data-pic="temp_humid.png" data-price="300.00" data-family="Iot Sensor" style="cursor:pointer;">อุปกรณ์สำหรับวัดอุณหภูมิและความชื้น</a></h4>
                                <p class="card-product__price">300.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/wind_director.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>Iot Sensor</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับหาทิศทางลม" data-detail="" data-pic="wind_director.png" data-price="500.00" data-family="Iot Sensor" style="cursor:pointer;">อุปกรณ์สำหรับหาทิศทางลม</a></h4>
                                <p class="card-product__price">500.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/wind_speed.jpg" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>Iot Sensor</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับหาความเร็วลม" data-detail="" data-pic="wind_speed.jpg" data-price="750.00" data-family="Iot Sensor" style="cursor:pointer;">อุปกรณ์สำหรับหาความเร็วลม</a></h4>
                                <p class="card-product__price">750.00</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/product1.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>ผลไม้</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="มะละกอ" data-detail="" data-pic="product1.png" data-price="199.00" data-family="ผลไม้" style="cursor:pointer;">มะละกอ</a></h4>
                                <p class="card-product__price">199.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/product2.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>แตง</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="มะเขือเทศท้อ" data-detail="" data-pic="product2.png" data-price="60.00" data-family="แตง" style="cursor:pointer;">มะเขือเทศท้อ</a></h4>
                                <p class="card-product__price">60.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/product3.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>ผัก</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับหาทิศทางลม" data-detail="" data-pic="product3.png" data-price="40.00" data-family="ผัก" style="cursor:pointer;">อุปกรณ์สำหรับหาทิศทางลม</a></h4>
                                <p class="card-product__price">40.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="img img-thumbnail" src="~/assets/img/product/product4.png" alt="" style="object-fit:cover;object-position:center;height:150px;width:150px;">
                            </div>
                            <div class="card-body">
                                <p>ผัก</p>
                                <h4 class="card-product__title"><a class="productdetail" data-name="อุปกรณ์สำหรับหาความเร็วลม" data-detail="" data-pic="product4.png" data-price="80.00" data-family="ผัก" style="cursor:pointer;">อุปกรณ์สำหรับหาความเร็วลม</a></h4>
                                <p class="card-product__price">80.00</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>*@
    <!-- ================ trending product section end ================= -->


</main>

<!--================ Hero banner start =================-->
@*<div class="container blog_right_sidebar">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="~/assets/img/logovdev.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>บริษัท</h4>
                    <h1>วีเดฟซอฟท์ จำกัด</h1>
                    <p>ให้บริการด้านพัฒนาซอร์ฟแวร์ ขายอุปกรณ์ Iot Sensor รวมไปถึงสินค้าเกษตรแบบครบวงจร</p>
                    <a class="button button-hero" href="#">เยี่ยมชมสินค้า</a>
                    <a class="button button-hero" href="@Url.Content("~/")Product/ProductListFarm">เยี่ยมชมสินค้า</a>
                </div>
            </div>
        </div>
    </div>*@

<!--================ Hero banner start =================-->


<div class="blog newboxshadow blog_right_sidebar">


    <!--================ History =================-->

    <div class="container blog_right_sidebar">
        <div>
            <h4 style=" margin-bottom:30px;">ประวัติ<span class="section-intro__style">บริษัท</span></h4>
        </div>
        <div itemprop="articleBody">
            <p style="text-indent: 2.5em;">
                @* <img src="~/assets/img/team.jpg" alt="py" class="img img-thumbnail" width="400" height="419" style="font-size: 12.16px; line-height: 15.808px; margin-left: 10px; margin-bottom: 10px; float: right; object-fit:cover;object-position:center;">*@
                <div id="carouselExampleIndicators22" class="carousel slide" data-ride="carousel" style=" height:400px; width:400px;font-size: 12.16px; line-height: 15.808px; margin-left: 10px; margin-bottom: 10px; float: right; object-fit:cover;object-position:center;">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators22" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/1.jpg" style="object-fit:cover;object-position:center; height:400px; width:auto;" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/2.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/3.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/4.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/5.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/6.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/7.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/8.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-thumbnail" src="~/assets/img/gallery/team/9.jpg" style="object-fit:cover;object-position:center; height:400px;" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators22" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators22" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <b>บริษัท วีเดฟซอฟท์ จำกัด (VDEV SOFT)</b>  จดทะเบียนนิติบุคคลบริษัทเมื่อวันที่ 14 มกราคม 2562
                ที่ตั้งสำนักงานวิจัยและพัฒนาซอฟท์แวร์ : เลขที่ 131 หมู่ 9 อุทยานวิทยาศาสตร์ประเทศไทย
                สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) อาคารกลุ่มนวัตกรรม 1 ห้องเลขที่ INC1 231-232
                ถนนพหลโยธิน  ตำบลคลองหนึ่ง อำเภอคลองหลวง จ.ปทุมธานี 12120
                โทรศัพท์ 02-564-7000 ต่อ 5231, 5232  มือถือ 092-259-8929
                เลขผู้เสียภาษี 0745562001283 <br />
            <p style="text-indent: 2.5em;">
                <b> ผู้ก่อตั้งคือ</b> นายประวิทย์  จันวะดี  เป็นนักพัฒนาซอฟท์แวร์ที่มีประสบการณ์ทำงานกว่า 20 ปี  มีผลงานซอฟท์แวร์ประเภทวิเคราะห์ข้อมูล (analysis) การจัดการฐานข้อมูลขนาดใหญ่ (Big DATA)  และซอฟท์แวร์ที่สามารถควบคุมและการทำงานของอุปกรณ์ IOT ให้ทำงานได้อย่างอัตโนมัติ (Automatic and Control)  ตลอดระยะเวลาการทำงานผู้ก่อตั้ง ได้พัฒนาซอฟท์แวร์และโซลูชั่นหลายโครงการ
                ให้กับหน่วยงานทั้งของภาครัฐและภาคเอกชน ได้แก่  กรมชลประทาน  กรมศุลกากร  วิทยุการบินแห่งประเทศไทย สพฐ. สวทช. (NECTEC: STL, TMEC)  เป็นต้น  ในส่วนภาคเอกชน ได้แก่ Hutch AIS DTAC True  CMO Isara Software  เป็นต้น<br />
            <p style="text-indent: 2.5em;">
                <b>ปีพ.ศ. 2556-2559 </b>ทีมผู้ก่อตั้ง VDEVSOFT ได้เข้าร่วมการบ่มเพาะธุรกิจด้านผู้ประกอบการซอฟท์แวร์ โครงการ Success รุ่น 2 กับ หน่วยงาน BIC ของ สวทช. และมีบุคลากรที่มีประสบการณ์พัฒนาซอฟท์แวร์ประเภทวิเคราะห์ข้อมูลที่มีคุณภาพ<br />
            <p style="text-indent: 2.5em;">
                <b>ปีพ.ศ. 2559-2561 </b>ผู้ก่อตั้งได้ทำสัญญาร่วมวิจัยกับหน่วยงาน NECTEC: STL โครงการเครื่องต้นแบบ solar monitoring systems (โครงการสื่อสุริยะอาสา) เพื่อติดตั้งระบบกับโรงเรียนตำรวจตระเวนชายแดน จังหวัดตาก และจังหวัดประจวบคีรีขันธ์<br />
            <p style="text-indent: 2.5em;">
                <b>เมษายน พ.ศ. 2562 </b> ได้ร่วมเป็นทีม Developer กับ วิทยาลัยนานาชาติ คณะวิศวกรรมซอฟต์แวร์ ของสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง  ในโครงการออกแบบและพัฒนาระบบต้นแบบแสดงผลสภาพอากาศและสถานการณ์น้ำ ให้กับสถานบันสารสนเทศทรัพยากรน้ำและการเกษตร (สสนก.)<br />
            <p style="text-indent: 2.5em;">
                <b>
                    พฤษภาคม พ.ศ. 2562
                </b>VDEVSOFT </b> ได้จัดทำแอพพลิเคชั่นข้อมูลการผลิตและการตลาดพืชผักปลอดภัย ให้กับสำนักงานเกษตรจังหวัดนครปฐม โดยผู้ใช้งานระบบคือ เจ้าหน้าที่เกษตรจังหวัดนครปฐม และเกษตรกรจังหวัดนครปฐม    เป็นโครงการยกระดับกระบวนการผลิตผลผลิตเกษตร ตลอดจน ภาคพาณิชยกรรม
                อุตสาหกรรมสินค้าชุมชน และภาคแรงงาน  เพื่อพัฒนาเกษตรกรให้มีความรู้ความเข้าใจและสามารถใช้เทคโนโลยีดิจิตอลสำหรับบันทึกการปลูกให้สามารถติดตามผลผลิตเกษตรเป็นไปตามมาตรฐานเกษตร GAP
                และมุ่งสู่มาตรฐานเกษตรอินทรีย์ เพื่อสร้างแหล่งผลผลิตทางการเกษตรที่มีความปลอดภัยและมีคุณภาพ   ตลอดจนเชื่อมโยงตลาดกับแหล่งผลิตให้แก่เกษตรกรให้มีรายได้มั่นคงและยั่งยืน<br />
            <p style="text-indent: 2.5em;">

                <b>  VDEV SOFT </b>จึงก่อตั้งขึ้นมาเพื่อต่อยอดและขยายผลงานด้านซอฟท์แวร์และโซลูชั่นด้าน monitoring and automatic control โดยเฉพาะอย่างยิ่ง การจัดศูนย์รวมฐานข้อมูลและวิเคราะห์
                (Big DATA and analysis) ให้เป็น Software Solutions ที่มีความ commercial มากขึ้นให้เป็นซอฟท์แวร์ที่มีมาตรฐานการผลิตและตอบโจทย์ลูกค้าให้มากที่สุด ตลอดจนให้เกิดความร่วมมือกับนักวิจัย สวทช.
                และหน่วยงานของภาครัฐ เพื่อผลิตนวัตกรรมซอฟท์แวร์ฝีมือคนไทยที่ดีมีมาตรฐานพร้อมออกสู่ตลาดสากล<br />
            <p>


            </p>
            <p>&nbsp;</p>
        </div>
    </div>

    <!--================ History =================-->


    <section class="blog">
        <div class="container">
            <!-- Start Slider -->

            <div>
                <h4 style=" margin-bottom:30px;">ขอบเขต<span class="section-intro__style">การให้บริการ</span></h4>
            </div>
            <div class="row">


                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                    <div class="text-center">
                        <div align="center">
                            <img src="~/assets/img/icon/www.png" alt="" style="width:auto;height: 150px;">
                        </div>
                        <h3 class="service_title">พัฒนาเว็บไซต์</h3>
                        <p>
                            พัฒนาเว็บไซต์ทุกชนิด เช่นเว็บประชาสัมพันธ์ เว็บแอพพลิเคชั่น ,Web Design ,Web Developments ,Smart Coding ,UI/UX Design
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                    <div class="text-center">
                        <div align="center">
                            <img src="~/assets/img/icon/smartphone.png" alt="" style="width:auto;height: 150px;">
                        </div>
                        <h3 class="service_title">แอพพลิเคชั่นมือถือ</h3>
                        <p>
                            พัฒนาแอพพลิเคชั่นมือถือสำหรับแสดงข้อมูลหรือควบคุมอุปกรณ์ต่างๆ , App Design , App Developments ,Smart Coding ,UI/UX Design
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                    <div class="text-center">
                        <div align="center">
                            <img src="~/assets/img/icon/farm.png" alt="" style="width:auto;height: 150px;">
                        </div>
                        <h3 class="service_title">ระบบ Smart Farm</h3>
                        <p>
                            สามารถเก็บข้อมูลจากอุปกรณ์ sensor สามารถควบคุมปั๊มน้ำได้ สามารถรายงานข้อมูล และแจ้งเตือน สามารถวางแผนควบคุมวัตถุดิบได้ สามารถออกรายงานได้
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                    <div class="text-center">
                        <div align="center">
                            <img src="~/assets/img/icon/durian.png" alt="" style="width:auto;height: 150px;">
                        </div>
                        <h3 class="service_title">ระบบติดตามผลผลิต</h3>
                        <p>
                            ระบบจองผลผลิตสำหรับชาวสวน ทำให้ชาวสวนสามารถประมาณการวันที่ออกผลผลิตและให้ประชาชนสามารถเข้ามาจองผลไม้ได้ถึงแม้ผลไม้ยังอยู่ในต้นก็ตาม
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                    <div class="text-center">
                        <div align="center">
                            <img src="~/assets/img/icon/power.png" alt="" style="width:auto;height: 150px;">
                        </div>
                        <h3 class="service_title">ระบบ Power Monitor</h3>
                        <p>
                            สามารถวัดค่าพลังงานได้ ออกรายงานการใช้พลังงานได้ แจ้งเตือนตามเงื่อนไขที่ระบุได้ ควบคุมในระยะไกล้ได้ คำนวณค่าใช้จ่ายในการใช้พลังงานได้
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                    <div class="text-center">
                        <div align="center">
                            <img src="~/assets/img/icon/solar.png" alt="" style="width:auto;height: 150px;">
                        </div>
                        <h3 class="service_title">ระบบ Solar Monitor</h3>
                        <p>
                            สามารถเก็บข้อมูลการผลิตไฟฟ้า Solar cell ได้ สามารถแจ้งเตือนความผิดปกติตามเงื่อนไขที่กำหนดไว้ได้ สามารถตั้งค่าเปิด ปิดเครื่องได้
                        </p>
                    </div>
                </div>
            </div>


            <br>

            <!--/ End Project -->
        </div>
    </section>

    <div id="image_modal" class="image-modal hidden">

        <div class="content">
            <img id="img_full" src="">
        </div>
        <div class="btn-close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>




