﻿
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Styles {
    <style>
        :root {
            --lh: 1.4rem;
        }

        .truncate-overflow {
            --max-lines: 3; /*ใส่จำนวนบรรทัด*/
            position: relative;
            max-height: calc(var(--lh) * var(--max-lines));
            overflow: hidden;
            padding-right: 1rem;
        }

            .truncate-overflow::before {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            .truncate-overflow::after {
                content: "";
                position: absolute;
                right: 0;
                width: 1rem;
                height: 1rem;
                background: white;
            }
    </style>

}
@section Scripts {

    <script>

        $(function () {


            getnews();

        });



        function getnews() {
            console.log(webapi + "/news/getnews/9");
            $.ajax({
                type: "get",
                url: webapi + "/news/getnews/9",
                data: {},
                dataType: "json",
                success: function (response) {
                    var pro = "";
                    for (i = 0; i < response.length; i++) {
                        pro += ' <div class="col-md-6 col-lg-4 mb-4 mb-lg-0"> ';
                        pro += '     <div class="card card-blog"> ';
                        pro += '         <div class="card-blog__img"> ';
                        pro += '             <img class="card-img rounded-0 img-thumbnail" src="' + webapi + '/assets/img/blog/' + response[i].fullpic +'" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;"> ';
                        pro += '        </div> ';
                        pro += '        <div class="card-body"> ';
                        pro += '            <ul class="card-blog__info"> ';
                        pro += '               <li><a href="#">By ' + response[i].createby +'</a></li> ';
                        pro += '           </ul> ';
                        pro += '            <h4 class=""><a>' + response[i].newsheader +'</a></h4> ';
                        pro += '           <p class="truncate-overflow">' + response[i].newsbody +'</p> ';
                        pro += '            <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="' + response[i].newsheader + '" data-detail="' + response[i].newsbody +'" data-pic="' + response[i].fullpic +'">อ่านต่อ..<i class="ti-arrow-right"></i></a> ';
                        pro += '       </div> ';
                        pro += '   </div> ';
                        pro += ' </div> ';
                    }
                    $("#vdevnews").html("");
                    $("#vdevnews").append(pro);

                    $(".blogdetail").click(function () {
                        localStorage.setItem("title", $(this).attr("data-title"));
                        localStorage.setItem("detail", $(this).attr("data-detail"));
                        localStorage.setItem("pic", $(this).attr("data-pic"));
                        location.href = '@Url.Action("blogdetail", "blog")';
                    });

                }
            });
        }

    </script>

}

<!-- ================ Blog section start ================= -->
<section class="blog" style="margin-bottom:40px;">
    <div class="container">
        <div>
            <h4 style="margin-top:40px; margin-bottom:30px;">ข่าว<span class="section-intro__style">ประชาสัมพันธ์</span></h4>
        </div>

        <div class="row" id="vdevnews">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/img/blog/blog1.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li><a href="#">By Admin</a></li>
                            @*<li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>*@
                        </ul>
                        <h4 class=""><a>สวทช.เยี่ยมชมผลงานของบริษัทวีเดฟซอฟท์ 28/10/2562 </a></h4>
                        <p>สวทช.ได้เดินทางไปที่กรมการเกษตรจังหวัดนครปฐมเพื่อเข้าเยี่ยมชมผลงานการทำระบบติดตามผลผลิตทางการเกษตรของบริษัทวีเดฟซอฟท์เมื่อวันที่ 28/10/2562</p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="สวทช.เยี่ยมชมผลงานของบริษัทวีเดฟซอฟท์ 28/10/2562" data-detail="สวทช.ได้เดินทางไปที่กรมการเกษตรจังหวัดนครปฐมเพื่อเข้าเยี่ยมชมผลงานการทำระบบติดตามผลผลิตทางการเกษตรของบริษัทวีเดฟซอฟท์เมื่อวันที่ 28/10/2562" data-pic="blog1.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/img/blog/blog2.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li><a href="#">By Admin</a></li>
                        </ul>
                        <h4 class=""><a>เปิดบูทแสดงสินค้า IOT ในงาน Thailand Tech Show 2019</a></h4>
                        <p> บริษัทวีเดฟซอฟท์ออกงานเปิดบูทแสดงสินค้านอกสถานที่ในงาน Thailand Tech Show 2019 วันศุกร์ที่ 6 กันยายน 2562 เวลา 09.00 - 16.00 น. ณ ห้องคอนเวนชั่นเซ็นเตอร์</p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="เปิดบูทแสดงสินค้า IOT ในงาน Thailand Tech Show 2019" data-detail="บริษัทวีเดฟซอฟท์ออกงานเปิดบูทแสดงสินค้านอกสถานที่ในงาน Thailand Tech Show 2019 วันศุกร์ที่ 6 กันยายน 2562 เวลา 09.00 - 16.00 น. ณ ห้องคอนเวนชั่นเซ็นเตอร์" data-pic="blog2.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0 img-thumbnail" src="~/img/blog/blog3.jpg" alt="" style="object-fit:cover;object-position:center;height:200px;width:100%;">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li><a href="#">By Admin</a></li>
                        </ul>
                        <h4 class=""><a>บริษัทเข้าร่วมดูงาน 0110 Thailand TECHLAND 2019 ที่ Paragon</a></h4>
                        <p>ทีมพัฒนา Software บริษัทวีเดฟซอฟท์ เข้าร่วมดูงาน 0110 Thailand TECHLAND 2019 ใน วันพุธที่ 6 พฤศจิกายน 2562 13:00 - 19:00 น.ที่ Royal Paragon Hall</p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="บริษัทเข้าร่วมดูงาน 0110 Thailand TECHLAND 2019 ที่ Paragon" data-detail="ทีมพัฒนา Software บริษัทวีเดฟซอฟท์ เข้าร่วมดูงาน 0110 Thailand TECHLAND 2019 ใน วันพุธที่ 6 พฤศจิกายน 2562 13:00 - 19:00 น.ที่ Royal Paragon Hall" data-pic="blog3.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ Blog section end ================= -->
