﻿
@{
    ViewBag.Title = "MyCustomer";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}
@section Styles {

}
@section Scripts {

}


<section class="section-margin">
    <div class="container newboxshadow blog_right_sidebar">

        <div class="row" style="margin-bottom :50px;">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-center">
                    <h2 class="text-center">
                       ลูกค้า
                    </h2>
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Start Project -->
        <section class="archive section page">
            <div class="container">

                <div class="row">

                
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Single Portfolio -->
                        <div>
                            <img src="~/assets/img/customer/2.png" alt="" class="img-responsive" style="object-fit:cover;object-position:center;height:200px;width:200px;">
                        </div>
                        <!--/ End Portfolio -->
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Single Portfolio -->
                        <div>
                            <img src="~/assets/img/customer/3.png" alt="" class="img-responsive" style="object-fit:cover;object-position:center;height:200px;width:200px;">
                        </div>
                        <!--/ End Portfolio -->
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Single Portfolio -->
                        <div>
                            <img src="~/assets/img/customer/4.png" alt="" class="img-responsive" style="object-fit:cover;object-position:center;height:200px;width:200px;">
                        </div>
                        <!--/ End Portfolio -->
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Single Portfolio -->
                        <div>
                            <img src="~/assets/img/customer/5.png" alt="" class="img-responsive" style="object-fit:cover;object-position:center;height:200px;width:200px;">
                        </div>
                        <!--/ End Portfolio -->
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Single Portfolio -->
                        <div>
                            <img src="~/assets/img/customer/6.png" alt="" class="img-responsive" style="object-fit:cover;object-position:center;height:200px;width:200px;">
                        </div>
                        <!--/ End Portfolio -->
                    </div>

                </div>

                <br>

            </div>

        </section>
        <!--/ End Project -->
    </div>
</section>
