﻿
@{
    ViewBag.Title = "MyProject";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Styles {

}
@section Scripts {


    <script>

        $(function () {

            $(".blogdetail").click(function () {
                        localStorage.setItem("title", $(this).attr("data-title"));
                        localStorage.setItem("detail", $(this).attr("data-detail"));
                        localStorage.setItem("pic", $(this).attr("data-pic"));
                        location.href = '@Url.Action("blogdetail", "blog")';
             });

        })
      
    </script>

}






<section class="section-margin ">
    <div class="container newboxshadow blog_right_sidebar">

        <div class="row" style="margin-bottom :50px;">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-center">
                    <a class="text-center" style="font-size: 36px;"> ผลงานของเรา</a>
                </div>
            </div>
        </div>

        <div class="row ">

            <div class="col-md-6" style="margin-bottom:50px;">
                <div class="card-blog">
                    <img class="img img-thumbnail" src="~/assets/img/blog/main-blog/m-blog-1.png" alt="" style="object-fit:cover;object-position:center;height:300px;">
                    <div class="blog_details">
                        <a class="blogdetail" style="cursor:pointer;" data-title="โครงการระบบโรงเรือนอัจฉริยะ 99 โรงเรือนจังหวัดนครปฐม" data-detail="  แอปพลิเคชั่นควบคุมการให้น้ำพืชในโรงเรือนด้วยระบบอัตโนมัติ ซึ่งเป็นตรวจวัดสภาวะแวดแล้มด้วย sensor ที่มีความแม่นยำสูง  ได้แก่ อุณหภูมิ ความเข้มแสง ความชื้นสัมพัทธ์ ความชื้นดิน" data-pic="m-blog-1.png">
                            <h2>โครงการระบบโรงเรือนอัจฉริยะ 99 โรงเรือนจังหวัดนครปฐม</h2>
                        </a>
                        <p>
                            แอปพลิเคชั่นควบคุมการให้น้ำพืชในโรงเรือนด้วยระบบอัตโนมัติ ซึ่งเป็นตรวจวัดสภาวะแวดแล้มด้วย sensor ที่มีความแม่นยำสูง  ได้แก่ อุณหภูมิ ความเข้มแสง ความชื้นสัมพัทธ์ ความชื้นดิน
                        </p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="โครงการระบบโรงเรือนอัจฉริยะ 99 โรงเรือนจังหวัดนครปฐม" data-detail="  แอปพลิเคชั่นควบคุมการให้น้ำพืชในโรงเรือนด้วยระบบอัตโนมัติ ซึ่งเป็นตรวจวัดสภาวะแวดแล้มด้วย sensor ที่มีความแม่นยำสูง  ได้แก่ อุณหภูมิ ความเข้มแสง ความชื้นสัมพัทธ์ ความชื้นดิน" data-pic="m-blog-1.png">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="margin-bottom:50px;">
                <div class="card-blog">
                    <img class="img img-thumbnail" src="~/assets/img/blog/main-blog/m-blog-2.jpg" alt="" style="object-fit:cover;object-position:center;height:300px;">
                    <div class="blog_details">
                        <a class="blogdetail"  style="cursor:pointer;" data-title="ระบบติดตามการเพาะปลูกผลผลิตทางเกษตร" data-detail="แอปพลิเคชั่นติดตามการปลูกพืชผักของเกษตรกรณ์ ซึ่งทำให้เกษตรกรสามารถรับรู้ข่าวสารจากทางเกษตรจังหวัดได้ และสามารถบริหารจัดการพืชผักที่เกษตรกรปลูก ทำให้รู้ว่าพืชชนิดใดกำลังเป็นที่ต้องการ และบริหารจัดการด้านการขาย เป็นโครงการเพื่อยกระดับการผลิตภาคเกษตรกรรม พาณิชยกรรม อุตสาหกรรม สินค้าชุมขน และภาคแรงงาน" data-pic="m-blog-2.jpg">
                            <h2>ระบบติดตามการเพาะปลูกผลผลิตทางเกษตร</h2>
                        </a>
                        <p>
                            แอปพลิเคชั่นติดตามการปลูกพืชผักของเกษตรกรณ์ ซึ่งทำให้เกษตรกรสามารถรับรู้ข่าวสารจากทางเกษตรจังหวัดได้ และสามารถบริหารจัดการพืชผักที่เกษตรกรปลูก ทำให้รู้ว่าพืชชนิดใดกำลังเป็นที่ต้องการ และบริหารจัดการด้านการขาย เป็นโครงการเพื่อยกระดับการผลิตภาคเกษตรกรรม พาณิชยกรรม อุตสาหกรรม สินค้าชุมขน และภาคแรงงาน
                        </p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="ระบบติดตามการเพาะปลูกผลผลิตทางเกษตร" data-detail="แอปพลิเคชั่นติดตามการปลูกพืชผักของเกษตรกรณ์ ซึ่งทำให้เกษตรกรสามารถรับรู้ข่าวสารจากทางเกษตรจังหวัดได้ และสามารถบริหารจัดการพืชผักที่เกษตรกรปลูก ทำให้รู้ว่าพืชชนิดใดกำลังเป็นที่ต้องการ และบริหารจัดการด้านการขาย เป็นโครงการเพื่อยกระดับการผลิตภาคเกษตรกรรม พาณิชยกรรม อุตสาหกรรม สินค้าชุมขน และภาคแรงงาน" data-pic="m-blog-2.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="margin-bottom:50px;">
                <div class="card-blog">
                    <img class="img img-thumbnail" src="~/assets/img/blog/main-blog/m-blog-3.png" alt="" style="object-fit:cover;object-position:center;height:300px;">
                    <div class="blog_details">
                        <a class="blogdetail" style="cursor:pointer;" data-title="โครงการออกแบบและพัฒนาระบบต้นแบบแสดงผลสภาพอากาศและสถานการณ์น้ำ (Weather and Water Information System – WWIS)" data-detail="ระบบต้นแบบของการแสดงผลสภาพอากาศและสถานการณ์น้ำ (Weather and Water Information System – WWIS) เป็นระบบรายงานสภาพอากาศบนเว็บไซต์ โดยสามารถเข้าใช้งานได้ผ่านเว็บบราวเซอร์ ด้วย URL http://map-dev.hii.or.th/" data-pic="m-blog-3.png">
                            <h2>โครงการออกแบบและพัฒนาระบบต้นแบบแสดงผลสภาพอากาศและสถานการณ์น้ำ (Weather and Water Information System – WWIS)</h2>
                        </a>
                        <p>
                            ระบบต้นแบบของการแสดงผลสภาพอากาศและสถานการณ์น้ำ (Weather and Water Information System – WWIS) เป็นระบบรายงานสภาพอากาศบนเว็บไซต์ โดยสามารถเข้าใช้งานได้ผ่านเว็บบราวเซอร์ ด้วย URL http://map-dev.hii.or.th/
                        </p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="โครงการออกแบบและพัฒนาระบบต้นแบบแสดงผลสภาพอากาศและสถานการณ์น้ำ (Weather and Water Information System – WWIS)" data-detail="ระบบต้นแบบของการแสดงผลสภาพอากาศและสถานการณ์น้ำ (Weather and Water Information System – WWIS) เป็นระบบรายงานสภาพอากาศบนเว็บไซต์ โดยสามารถเข้าใช้งานได้ผ่านเว็บบราวเซอร์ ด้วย URL http://map-dev.hii.or.th/" data-pic="m-blog-3.png">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="margin-bottom:50px;">
                <div class="card-blog">
                    <img class="img img-thumbnail" src="~/assets/img/blog/main-blog/m-blog-4.jpg" alt="" style="object-fit:cover;object-position:center;height:300px;">
                    <div class="blog_details">
                        <a class="blogdetail" style="cursor:pointer;" data-title="โปรแกรมบริหารจัดการระบบซื้อ-ขายของบริษัทไบค์แมน" data-detail=" แอปพลิเคชั่นสำหรับใช้ในการซื้อ-ขาย สินค้าและบริการของบริษัทไบค์แมนสามารถออกใบเสนอราคา,ใบสั่งซื้อ,ใบเสร็จรับเงิน,ใบกำกับภาษี สามารถรองรับการใช้งานในรูปแบบคูปองและโปรโมชั่น แอปพลิเคชั่นนี้ยังช่วยในการเก็บ ข้อมูลลูกค้า ข้อมูลรถจักรยานยนต์ ข้อมูลสินค้า ข้อมูลการขายได้อีกด้วย" data-pic="m-blog-4.jpg">
                            <h2>โปรแกรมบริหารจัดการระบบซื้อ-ขายของบริษัทไบค์แมน</h2>
                        </a>
                        <p>
                            แอปพลิเคชั่นสำหรับใช้ในการซื้อ-ขาย สินค้าและบริการของบริษัทไบค์แมนสามารถออกใบเสนอราคา,ใบสั่งซื้อ,ใบเสร็จรับเงิน,ใบกำกับภาษี สามารถรองรับการใช้งานในรูปแบบคูปองและโปรโมชั่น แอปพลิเคชั่นนี้ยังช่วยในการเก็บ ข้อมูลลูกค้า ข้อมูลรถจักรยานยนต์ ข้อมูลสินค้า ข้อมูลการขายได้อีกด้วย
                        </p>
                        <a class="card-blog__link blogdetail" style="cursor:pointer;" data-title="โปรแกรมบริหารจัดการระบบซื้อ-ขายของบริษัทไบค์แมน" data-detail=" แอปพลิเคชั่นสำหรับใช้ในการซื้อ-ขาย สินค้าและบริการของบริษัทไบค์แมนสามารถออกใบเสนอราคา,ใบสั่งซื้อ,ใบเสร็จรับเงิน,ใบกำกับภาษี สามารถรองรับการใช้งานในรูปแบบคูปองและโปรโมชั่น แอปพลิเคชั่นนี้ยังช่วยในการเก็บ ข้อมูลลูกค้า ข้อมูลรถจักรยานยนต์ ข้อมูลสินค้า ข้อมูลการขายได้อีกด้วย" data-pic="m-blog-4.jpg">อ่านต่อ..<i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>


        </div>

        <!--================Blog Area =================-->

    </div>
</section>