﻿
@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Styles {
    <style>
        h4 {
            margin-top: 40px;
        }
 
    </style>
}
@section Scripts {

}


<section class="section-margin">
    <div class="container newboxshadow blog_right_sidebar" >


        <div class="row">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                    <div class="section-title center">
                        <h2> ประกาศรับสมัคร<span>  พนักงาน </span></h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <section id="portfolio">

                <div class="text">
                    <h4>Programmer/ Web Application Programmer(โปรแกรมเมอร์) </h4>
                    <h5>คุณสมบัติ</h5>
                    <p>
                        1.เพศชาย หรือ หญิง อายุไม่เกิน 35 ปี <br>2.จบปริญญาตรีในสาขาวิทยาการคอมพิวเตอร์หรือวิศวกรรมคอมพิวเตอร์ หรือ เทคโนโลยีสารสนเทศหรือสาขาอื่นที่เกี่ยวข้อง <br>3.มีความเข้าใจการพัฒนาในรูปแบบ OOAD , Object–Oriented Programming และ UML
                        <br>4.สามารถพัฒนาโปรแกรมภาษา Java บน J2EE Framework ,C#.NET <br>5.มีประสบการณ์ในการพัฒนาโปรแกรมติดต่อฐานข้อมูลเช่น MySQL,Oracle,SQL Server เป็นต้น <br>6.มีความรู้หรือเคยใช้เทคโนโลยีต่อไปนี้ a.Eclipse , Netbeans , เน้นความรู้ด้าน
                        Html, JSP, Java Servlet, Session b.Web, MVC,JavaScript, HTML, AJAX, JSF, SEAM, Struts, JQuery, EJB, JPA c.Web Service, SOAP, REST, XML , JAX-WS , JAXB d.Tomcat, JBoss, Glassfish, IBM Websphere , Oracle Application Server, BEA
                        Web Logic <br>7.มีมนุษย์สัมพันธ์ดี , สามารถทำงานเป็นทีมได้ , ขยัน อดทน และซื่อสัตย์ , สามารถทำงานภายใต้สภาวะกดดันได้ <br>8.มีความกระตือรือร้น รักการเรียนรู้สิ่งใหม่ ๆ และสนใจเทคโนโลยี <br>9 ทางบริษัทยินดีรับนักศึกษาจบใหม่ มีการอบรมก่อนเร่ิ่มงาน
                        และขณปฏิบัติงาน (มีระบบพี่เลี้ยงคอยสอนงานครับ) ท่านใดที่สนใจสามารถส่งใบสมัครงานหรือ Resume มาสมัครงานได้ครับ ต้องการรับเพิ่มอีกครับและ ต้องการด่วนมาก
                    </p>
                </div>

                <div class="text">
                    <h4>Creative Graphic Designer </h4>
                    <h5>คุณสมบัติ</h5>
                    <p>
                        - พัฒนาแนวคิดและทิศทางสำหรับบริษัทและผลิตภัณฑ์ <br>- การออกแบบกราฟิกและรูปแบบสื่อออนไลน์ สื่อสิ่งพิมพ์ และบูธกิจกรรม <br>- ออกแบบแนวสร้างสรรค์และแนวคิดการโฆษณาสำหรับ sales material <br>- ผลิตดิจิตอลกราฟิก เช่น แบนเนอร์โฆษณา โฆษณาFacebook
                        , E - mail templates และ microsites ที่เกี่ยวข้องกับแคมเปญเฉพาะ <br>- การบริหารจัดการเวลา: ทำตามวันที่ครบกำหนด <br>- สร้างสรรค์เตรียมความพร้อมและแสดงให้เห็นถึงแนวคิดใหม่ออกแบบกราฟิกและรูปแบบ <br>- กราฟิกและ Photo/VDO ตัดต่อและจัดกระบวนการ
                        <br>- จัดเตรียม และแก้ไขการออกแบบขั้นสุดท้าย <br>- ประสานงาน และสนับสนุนทีมงานติดตามการส่งมอบโครงการ
                    </p>
                </div>
                <div class="text">
                    <h4>Senior Hardware Engineer </h4>
                    <h5>คุณสมบัติ</h5>
                    <p>
                        - สามารถออกแบบ PCB และวงจรอิเล็กทรอนิคส์ เพื่อใช้งานตามจุดประสงค์เฉพาะได้ <br>- สามารถออกแบบระบบแขนกล , CNC เพื่อใช้งานตามจุดประสงค์เฉพาะได้ <br>- มีประสบการณ์ในการเขียนโปรแกรมบนไมโครคอนโทรลเลอร์ต่างๆ (เช่น Arduino, Raspberry Pi)
                        <br>- มีทักษะการสื่อสารด้วยวาจาและเป็นลายลักษณ์อักษรที่ดีซึ่งรวมถึงความสามารถในการเขียนเอกสารทางเทคนิค <br>- สามารถประยุกต์ฮาร์ดแวร์ต่าง ๆ ให้เข้ากับงานหรือนวัตกรรมที่หลากหลายและทันสมัย <br>- มีความสามารถในการวางแผนจัดตารางเวลาและนำเสนอการใช้งานที่มีคุณภาพ
                        <br>- มีความเชี่ยวชาญด้านการใช้ตรรกะฮาร์ดแวร์ <br>- ความเป็นเลิศด้านวิศวกรรมรวมถึงการเขียนโค้ดโครงสร้างข้อมูลอัลกอริทึมการทดสอบการแก้จุดบกพร่องและการวิเคราะห์ประสิทธิภาพ <br>- สามารถวิเคราะห์และประเมินผลระบบสถาปัตยกรรมของฮาร์ดแวร์
                        <br>- สามารถเดินทางไปต่างประเทศเพื่อสนับสนุนด้านวิศวกรรมที่สร้างขึ้นหากจำเป็น
                    </p>
                </div>
                <div class="text">
                    <h4>Sale Executive and Marketing Executive/Senior Marketing Executive</h4>
                    <h5>คุณสมบัติ</h5>
                    <p>
                        เพศ : ชาย , หญิง <br>อายุ(ปี) : 20 - 30 <br>ระดับการศึกษา : ปริญญาตรี ขึ้นไป <br>ประสบการณ์(ปี) : ไม่ระบุ <br>อื่นๆ : ยินดีรับนักศึกษาจบใหม่,ยินดีรับผู้ไม่มีประสบการณ์ <br>คุณสมบัติเพิ่มเติม <br>- บุคคลิกภาพดี มนุษย์สัมพันธ์ดี
                        <br>- รักงานขาย มีทักษะการเจรจาต่อรอง
                        <br>- สามารถใช้ความพิวเตอร์ และสื่อสารภาษาอังกฤษได้ดี (มีค่าภาษา) <br>- สามารถขับรถยนต์ได้
                    </p>
                </div>

            </section>


        </div>


    </div>
</section>

