﻿
@{
    ViewBag.Title = "ScropeOfService";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Styles {

}
@section Scripts {

}


<section class="section-margin">
    <div class="container newboxshadow blog_right_sidebar">



        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-center">
                    <a class="text-center" style="font-size: 36px;"> ด้านพัฒนาซอฟท์แวร์</a>
                </div>
            </div>
        </div>

        <!-- Start Project -->
        <section class="archive section page">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                        <div class="text-center">
                            <div align="center">
                                <img src="~/assets/img/icon/www.png" alt="" style="width:auto;height: 150px;">
                            </div>
                            <h3 class="service_title">พัฒนาเว็บไซต์</h3>
                            <p>
                                พัฒนาเว็บไซต์ทุกชนิด เช่นเว็บประชาสัมพันธ์ เว็บแอพพลิเคชั่น ,Web Design ,Web Developments ,Smart Coding ,UI/UX Design
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                        <div class="text-center">
                            <div align="center">
                                <img src="~/assets/img/icon/smartphone.png" alt="" style="width:auto;height: 150px;">
                            </div>
                            <h3 class="service_title">แอพพลิเคชั่นมือถือ</h3>
                            <p>
                                พัฒนาแอพพลิเคชั่นมือถือสำหรับแสดงข้อมูลหรือควบคุมอุปกรณ์ต่างๆ , App Design , App Developments ,Smart Coding ,UI/UX Design
                            </p>
                        </div>
                    </div>

                </div>

                <br>

            </div>

        </section>
        <!--/ End Project -->


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-center">
                    <a class="text-center" style="font-size: 36px;"> ด้านการเกษตร</a>
                </div>
            </div>
        </div>

        <!-- Start Project -->
        <section class="archive section page">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                        <div class="text-center">
                            <div align="center">
                                <img src="~/assets/img/icon/durian.png" alt="" style="width:auto;height: 150px;">
                            </div>
                            <h3 class="service_title">ระบบติดตามผลผลิต</h3>
                            <p>
                                ระบบจองผลผลิตสำหรับชาวสวน ทำให้ชาวสวนสามารถประมาณการวันที่ออกผลผลิตและให้ประชาชนสามารถเข้ามาจองผลไม้ได้ถึงแม้ผลไม้ยังอยู่ในต้นก็ตาม
                            </p>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                        <div class="text-center">
                            <div align="center">
                                <img src="~/assets/img/icon/farm.png" alt="" style="width:auto;height: 150px;">
                            </div>
                            <h3 class="service_title">ระบบ Smart Farm</h3>
                            <p>
                                สามารถเก็บข้อมูลจากอุปกรณ์ sensor สามารถควบคุมปั๊มน้ำได้ สามารถรายงานข้อมูล และแจ้งเตือน สามารถวางแผนควบคุมวัตถุดิบได้ สามารถออกรายงานได้

                            </p>
                        </div>
                    </div>

                </div>

                <br>

            </div>

        </section>
        <!--/ End Project -->






        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                <div class="section-title text-center">
                    <a class="text-center" style="font-size: 36px;"> ด้านพลังงาน</a>
                </div>
            </div>
        </div>
        <!-- Start Project -->
        <section class="archive section page">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                        <div class="text-center">
                            <div align="center">
                                <img src="~/assets/img/icon/power.png" alt="" style="width:auto;height: 150px;">
                            </div>
                            <h3 class="service_title">ระบบ Power Monitor</h3>
                            <p>
                                สามารถวัดค่าพลังงานได้ ออกรายงานการใช้พลังงานได้ แจ้งเตือนตามเงื่อนไขที่ระบุได้ ควบคุมในระยะไกล้ได้ คำนวณค่าใช้จ่ายในการใช้พลังงานได้

                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
                        <div class="text-center">
                            <div align="center">
                                <img src="~/assets/img/icon/solar.png" alt="" style="width:auto;height: 150px;">
                            </div>
                            <h3 class="service_title">ระบบ Solar Monitor</h3>
                            <p>
                                สามารถเก็บข้อมูลการผลิตไฟฟ้า Solar cell ได้ สามารถแจ้งเตือนความผิดปกติตามเงื่อนไขที่กำหนดไว้ได้ สามารถตั้งค่าเปิด ปิดเครื่องได้
                            </p>
                        </div>
                    </div>

                </div>

                <br>

            </div>

        </section>
        <!--/ End Project -->



    </div>
</section>
