﻿
@{
    ViewBag.Title = "ApproveOrder";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}

@section Styles {
    <style>

        .list_container {
            overflow: auto;
        }

        .modal-dialog {
            top: calc(200px);
        }
    </style>

}

@section Scripts {

    <script>
        var _loginid = "@Request.Cookies["Vlogin"]["loginid"]";
        var webapi = "@UrlServices";
        var cartdata = new Array();

        $(function () {

            alert(Loaddata('','','',''))
        });

        function Loaddata(name, orderid, orderdate, orderstatus ) {

            var pro = "";
            pro += ' <br /><br /> <h4>สวัสดี คุณ <a>' + name + '</a></h4>';
            pro += ' <br /> <br /> <h4>รายการสั่งซื้อเลขที่ #<a class="orderno">' + orderid +'</a></h4>';
            pro += ' <div>สั่งซื้อ ณ วันที่ : <a >' + orderdate +'</a></div> ';
            pro += ' <div>อยู่ในสถานะ : <a id="orderstatus">' + orderstatus +'</a></div> ';
            pro += ' <img name="image" class="img img-thumbnail center" src="~/assets/img/step3.png"> ';
            pro += ' <br /> <br />  <h4>ขอบคุณที่ใช้บริการ</h4>';
            pro += ' <div> บริษัท วีเดฟซอฟท์ จำกัด </div> ';
            pro += ' <div> อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 </div> ';
            pro += ' <div>  ห้อง 213 เลขที่ 141 หมู่ 9 ถนนพหลโยธิน </div> ';
            pro += ' <div> ตำบลคลองหนึ่ง อำเภอคลองหลวง </div> ';
            pro += ' <div> จังหวัดปทุมธานี 12120 </div> ';
            pro += ' <div> email : webmaster@vdevsoft.co.th </div> ';
            pro += ' <div> โทร : 0875621040 </div> ';

            return pro;
        }

    </script>
}



    <div class="container">

        @*<br /><br /> <h4>สวัสดี คุณ <a>ben</a></h4> <br /> <br />
        <h4>รายการสั่งซื้อเลขที่ #<a class="orderno">2020</a></h4>
        <div>สั่งซื้อ ณ วันที่ : <a>02/12/2019</a></div>  <div>อยู่ในสถานะ : <a id="orderstatus">รอการชำระเงิน</a></div>
        <img name="image" class="img img-thumbnail center" src="~/assets/img/step2.png">  <br /> <br />  <h4>ขอบคุณที่ใช้บริการ</h4>
        <div> บริษัท วีเดฟซอฟท์ จำกัด </div>  <div> อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 </div>
        <div>  ห้อง 213 เลขที่ 141 หมู่ 9 ถนนพหลโยธิน </div>
        <div> ตำบลคลองหนึ่ง อำเภอคลองหลวง </div>
        <div> จังหวัดปทุมธานี 12120 </div>
        <div> email : webmaster@vdevsoft.co.th </div>
        <div> โทร : 0875621040 </div>*@

      

            @*<h4>สวัสดี คุณ <a id="name"> กิตติเทพ  กิตติวานิช</a></h4>
            <br /> <br />
            <h4>รายการสั่งซื้อเลขที่ #<a class="orderno">20125255305</a></h4>
            <div>สั่งซื้อ ณ วันที่ : <a id="orderdate">26/11/62 </a></div>
            <div>อยู่ในสถานะ : <a id="orderstatus">กำลังจัดเตรียมสินค้า</a></div>
            <img name="image" class="img img-thumbnail center" src="~/assets/img/step3.png">
            <br /> <br />
            <h4>ขอบคุณที่ใช้บริการ</h4>
            <div> บริษัท วีเดฟซอฟท์ จำกัด </div>
            <div> อาคาร อุทยานวิทยาศาสตร์ INC1 ชั้น 2 </div>
            <div>  ห้อง 213 เลขที่ 141 หมู่ 9 ถนนพหลโยธิน </div>
            <div> ตำบลคลองหนึ่ง อำเภอคลองหลวง </div>
            <div> จังหวัดปทุมธานี 12120 </div>
            <div> email : webmaster@vdevsoft.co.th </div>
            <div> โทร : 0875621040 </div>*@





    </div>


