﻿
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Styles {


}
@section Scripts {

}

<section class="blog" style="margin-bottom:40px;">
    <div class="container newboxshadow blog_right_sidebar" style="margin-top:30px;">


                <div class="row" style="margin-bottom :20px;">
                    <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                        <div class="section-title text-left">
                            <h2 class="text-left"> วิศัยทัศน์-พันธกิจ-ค่านิยม</h2>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom :20px;">
                    <div class="col-md-12 col-sm-12 col-xs-12  wow fadeIn">
                        <div class="section-title text-left">
                            <p> วิสัยทัศน์</p>
                            <p>
                                "ทีมงานมืออาชีพที่มีความสามารถและเป็นหนึ่งเดียว
                                พร้อมมุ่งมั่นสร้างสรรค์ผลิตภัณฑ์และบริการชั้นเลิศ เพื่อเป็นกลุ่มการเงินอันดับหนึ่งในใจลูกค้า"
                            </p>
                        </div>
                        <br />
                        <div class="section-title text-left">
                            <p>พัทธกิจ</p>
                            <p>
                                "มุ่งสู่การเป็นสถาบันการเงินชั้นนำระดับภูมิภาคที่ก้าวสู่เวทีโลก
                                ด้วยการเติบโตที่ยั่งยืน รับผิดชอบต่อสังคม และสนองต่อความต้องการของลูกค้า"
                            </p>
                        </div>
                        <br />
                        <div class="section-title text-left">
                            <p>ค่านิยม</p>
                            <p>
                                "มีความทันสมัยทั้งในการคิดและการกระทำ มีทัศนคติเชิงบวกที่จะเปิดรับความทันสมัยอย่างเต็มใจและเปิดใจ มีความคิดริเริ่มไม่หยุดนิ่ง เข้าใจในเทคโนโลยีและพฤติกรรมของคนที่เปลี่ยนแปลงไป
                                มุ่งมั่นปรับตัวเตรียมพร้อมที่จะเผชิญกับอนาคตที่จะมาถึง และช่วยขับเคลื่อนองค์กรให้มีความทันสมัยล้ำหน้าในการทำธุรกิจและการสร้างคุณค่าให้กับลูกค้าอยู่เสมอ"
                            </p>
                        </div>
                    </div>
                </div>




            </div>
        </section>
