/* for main */

@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body {
    color: #777;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none
}

button {
    cursor: pointer
}

button:focus {
    outline: 0;
    box-shadow: none
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prompt', sans-serif;
    color: #222;
    line-height: 1.1
}

h1, .h1 {
    font-size: 50px;
    font-weight: 700
}

h2, .h2 {
    font-size: 36px;
    font-weight: 600
}

h3, .h3 {
    font-size: 26px;
    font-weight: 600
}

@media (min-width: 600px) {
    h3, .h3 {
        font-size: 36px
    }
}

h4, .h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3
}

a {
    display: inline-block
}

.fixed {
    background: #fff;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important
}

.owl-carousel .owl-stage {
    display: flex
}

.section-margin {
    margin: 45px 0
}

@media (min-width: 980px) {
    .section-margin {
        margin: 70px 0
    }
}

@media (min-width: 1100px) {
    .section-margin {
        margin: 120px 0
    }
    .section-margin.calc-60px {
        margin: 120px 0 70px 0
    }
}

.section-margin--small {
    margin: 35px 0
}

@media (min-width: 1000px) {
    .section-margin--small {
        /* margin: 98px 0 */
    }
}

.section-padding {
    padding: 60px 0
}

@media (min-width: 1000px) {
    .section-padding {
        padding: 130px 0
    }
}

.pb-60px {
    padding-bottom: 60px
}

.pt-60px {
    padding-top: 60px
}

.ml-40 {
    margin-left: 40px
}

.header_area {
    position: relative;
    width: 100%;
    z-index: 9999;
    transition: background 0.4s, all 0.3s linear;
    box-shadow: 0px 10px 27px 3px rgba(221, 221, 221, 0.3)
}

.header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px
}

.header_area .navbar .nav .nav-item {
    margin-right: 45px
}

.header_area .navbar .nav .nav-item .nav-link {
    text-transform: capitalize;
    color: #222;
    display: inline-block
}

@media (min-width: 991px) {
    .header_area .navbar .nav .nav-item .nav-link {
        padding: 32px 0px
    }
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #3eb0f1
}

.header_area .navbar .nav .nav-item.submenu {
    position: relative
}

.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px
    }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #222;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #384aeb;
    color: #fff
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%
    }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px
}

.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px
}

.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    color: #222
}

.header_area .navbar .search i {
    font-weight: 600
}

.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1)
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px
}

#search_input_box {
    text-align: center;
    padding: 5px 20px
}

#search_input_box .form-control {
    padding-left: 0;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px
}

#search_input_box .form-control:focus {
    box-shadow: none;
    outline: none
}

#search_input_box input.placeholder {
    color: #ffffff;
    font-size: 16px
}

#search_input_box input:-moz-placeholder {
    color: #ffffff;
    font-size: 16px
}

#search_input_box input::-moz-placeholder {
    color: #ffffff;
    font-size: 16px
}

#search_input_box input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 16px
}

#search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0
}

#search_input_box .lnr-cross {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 0
}

.header-top {
    background: #000000
}

@media (max-width: 991px) {
    .header-top {
        display: none
    }
}

.header-top a {
    color: #fff
}

.header-top ul li {
    display: inline-block;
    margin-left: 15px
}

.header-top .header-top-left a {
    margin-right: 60px;
    font-weight: 600
}

.header-top .header-top-left a .text {
    margin-top: -2px
}

.header-top .header-top-left a .text span {
    font-size: 14px;
    color: #ffffff
}

.header-top .header-top-left a .lnr {
    color: #ffffff;
    margin-right: 8px
}

@media (max-width: 767px) {
    .header-top .header-top-left .text {
        display: none
    }
}

.header-top .header-top-right {
    text-align: right
}

.header-top .header-top-right a {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Prompt', sans-serif;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.nav-shop li {
    display: inline-block;
    /* margin-right: 15px; */
    /* background: #3eb0f1; */
    border: solid 1px #e5e5e5;
    padding: 7px 40px;
    border-radius: 30px;
}

.nav-shop li i, .nav-shop li span {
    font-size: 20px;
    color: #777;
}

.nav-shop li a {
    padding: 0;
    border: 0;
    background: transparent;
    position: relative;
    color: #656565;
}

.nav-shop li a .nav-shop__circle {
    font-size: 9px;
    display: inline-block;
    background: #384aeb;
    color: #fff;
    padding: 0px 5px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -12px
}

.nav-shop li:last-child {
    margin-left: 40px
}

@media (max-width: 1619px) {
    .header_area .navbar .search {
        margin-left: 40px
    }
}

@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 28px
    }
    .home_banner_area .banner_inner {
        padding: 100px 0px
    }
    .header_area .navbar .tickets_btn {
        margin-left: 40px
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px
    }
    .header_area .navbar {
        background: #ffffff
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0
    }
    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px
    }
    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative
    }
    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #384aeb;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer
    }
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px
    }
    .nav {
        padding: 0px 0px
    }
    .header_area+section, .header_area+row, .header_area+div {
        margin-top: 117px
    }
    .header_top .nav {
        padding: 0px
    }
    .header_area .navbar .nav .nav-item .nav-link {
        line-height: 30px;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px
    }
    .header_area .navbar .nav-shop {
        padding-bottom: 40px
    }
    .header_area .navbar .search {
        margin-left: 0px
    }
    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px
    }
    .header_area .navbar .nav .nav-item {
        margin-right: 0px
    }
    .header_area+section, .header_area+row, .header_area+div {
        margin-top: 0px;
        padding-top: 71px
    }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px
    }
    .categories_post img {
        width: 100%
    }
    .categories_post {
        max-width: 360px;
        margin: 0 auto
    }
    .blog_categorie_area .col-lg-4 {
        margin-top: 30px
    }
    .blog_area {
        padding-bottom: 80px
    }
    .single-post-area .blog_right_sidebar {
        margin-top: 30px
    }
    .contact_info {
        margin-bottom: 50px
    }
    .home_banner_area .donation_inner {
        margin-bottom: -30px
    }
    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto
    }
    .footer-area .col-sm-6 {
        margin-bottom: 30px
    }
    .header_area .navbar .tickets_btn {
        margin-left: 0px
    }
    .home_banner_area {
        min-height: 700px
    }
}

@media (max-width: 767px) {
    .home_banner_area {
        min-height: 500px
    }
    .home_banner_area .banner_inner {
        min-height: 500px
    }
    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px
    }
    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px
    }
    .home_banner_area .banner_inner .banner_content p br {
        display: none
    }
    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px
    }
    .footer-bottom {
        text-align: center
    }
    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px
    }
}

@media (max-width: 575px) {
    .top_menu {
        display: none
    }
    .header_area+section, .header_area+row, .header_area+div {
        margin-top: 0px;
        padding-top: 71px
    }
    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 40px;
        line-height: 44px
    }
    .home_banner_area {
        min-height: 500px
    }
    .home_banner_area .banner_inner {
        min-height: 500px
    }
    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px
    }
    .home_banner_area .banner_inner .banner_content img {
        display: none
    }
    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px
    }
    .sample-text-area {
        padding: 70px 0 70px 0
    }
    .generic-blockquote {
        padding: 30px 15px 30px 30px
    }
    .blog_details h2 {
        font-size: 20px;
        line-height: 30px
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 28px;
        line-height: 38px
    }
    .footer-area {
        padding: 70px 0px
    }
    .single-footer-widget .sub-btn {
        right: 0px
    }
}

@media (max-width: 480px) {
    .header_area .navbar-collapse {
        max-height: 250px
    }
    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px
    }
    .banner_area .banner_inner .banner_content h2 {
        font-size: 32px
    }
    .comments-area .thumb {
        margin-right: 10px
    }
}

.header_area-search {
    border-radius: 30px;
    overflow: hidden;
    border: solid 1px #e5e5e5;
}

.header_area-search input {
    border: none !important;
    outline: none !important;
    padding: 0 39px;
    color: #909090;
    text-decoration: none;
}

.header_area-search button {
    color: #fff;
    background: #3eb0f1;
}

.header_area-search button:hover {
    background: #1c8fd1;
}

.header_area-search i {
    padding: 0 3px;
}

.brands {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.brands_slider_container {
    height: 130px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 97px;
    padding-right: 97px;
}

.newsletter {
    width: 100%;
    background: #fafafa;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.newsletter_container {
    width: 100%;
}

.newsletter_title_container {
    width: 40%;
    padding-left: 95px;
}

.newsletter_icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.newsletter_title {
    font-size: 18px;
    color: #000000;
}

.newsletter_text p:last-child {
    margin-bottom: 0;
}

.newsletter_icon img {
    max-width: 100%;
}

.newsletter_content {
    width: 60%;
}

.newsletter_form {
    position: relative;
    width: 569px;
    float: left;
}

.newsletter_input {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    padding-left: 25px;
    font-size: 16px;
    outline: none;
    color: #0e8ce4;
}

.newsletter_input:focus {
    border: solid 1px rgba(14, 140, 228, 0.3);
    box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}

.newsletter_input::-webkit-input-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.newsletter_input:-moz-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.newsletter_input::-moz-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.newsletter_input:-ms-input-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.newsletter_input::input-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.newsletter_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 153px;
    height: 50px;
    background: #0e8ce4;
    color: #FFFFFF;
    line-height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.newsletter_button:hover {
    opacity: 0.8;
}

.newsletter_unsubscribe_link {
    float: right;
    text-align: right;
    height: 50px;
}

.newsletter_unsubscribe_link a {
    font-size: 10px;
    color: #0e8ce4;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 50px;
}

.newsletter_unsubscribe_link a:hover {
    color: #0d82d3;
}

.footer {
    padding-top: 52px;
    padding-bottom: 40px;
}

.footer .logo_container {
    height: auto;
    margin-bottom: 18px;
    margin-top: -10px;
}

.footer .logo {
    top: auto;
    -webkit-transform: transform: none;
    -moz-transform: transform: none;
    -ms-transform: transform: none;
    -o-transform: transform: none;
    transform: none;
}

.footer .logo a {
    color: #000000;
}

.footer_title {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.footer_phone {
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4;
    margin-top: 13px;
}

.footer_contact_text {
    margin-top: 10px;
}

.footer_contact_text p {
    margin-bottom: 0px;
}

.footer_social {
    margin-top: 27px;
}

.footer_social ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
    text-align: center;
}

.footer_social ul li i {
    color: #000000;
    line-height: 30px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_social ul li:hover i {
    color: #0e8ce4;
}

.footer_subtitle {
    font-size: 12px;
    color: #000000;
}

.footer_column ul:first-of-type {
    margin-top: 21px;
}

.footer_column ul {
    margin-top: 7px;
}

.footer_list li {
    margin-bottom: 6px;
}

.footer_list li a {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_list li a:hover {
    color: #0e8ce4;
}

.footer_list_2 {
    margin-top: 42px !important;
}

.copyright {
    width: 100%;
    background: #fafafa;
}

.copyright_container {
    width: 100%;
    height: 56px;
}

.copyright_content {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.copyright_content span {
    font-weight: 500;
}

.logos {}

.logos_list li {
    display: inline-block;
    margin-right: 16px;
}

.logos_list li:last-child {
    margin-right: 0px;
}
.logo_h img{
    height: 55px;
}