﻿
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}


@section Styles {
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/css/main.css" rel="stylesheet" />



}
@section Scripts {
    <script src="~/assets/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/vendors/mail-script.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>
        var _title = localStorage.getItem("title");
        var _detail = localStorage.getItem("detail");
        var _pic = localStorage.getItem("pic");
             var webapi = "@UrlServices";
        $(function () {
            $("#blogpic1").attr("src", webapi + "/assets/img/blog/" + _pic);
            $("#blogtitle").html(_title);
            $("#blogdetail").html(_detail);

        });



    </script>

}


<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                    <div class="single-prd-item">
                        <img class="img-fluid img-thumbnail" id="blogpic1" src="" alt="">
                    </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text" style="margin-top: 10px;">
                    <h3 id="blogtitle">มะเขือเทศ</h3>
    
                    <p id="blogdetail">
                        มะเขือเทศ เป็นพืชชนิดหนึ่งที่อุดมไปด้วยคุณค่าทางอาหาร
                        มะเขือเทศขนาดปานกลางจะมีปริมาณวิตามินซีครึ่งหนึ่ง
                        ของส้มโอทั้งผล มะเขือเทศผลหนึ่งจะมีวิตามินเอราว 1 ใน 3
                        ของวิตามินเอที่ร่างกายต้องการในหนึ่งวัน
                        นอกจากนี้มะเขือเทศยังมีโปแตสเซียม ฟอสฟอรัส แมกนีเซียมและแร่ธาตุอื่นๆ อีกหลายชนิด
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
@*<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">คอมเมนท์</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">ให้คะแนน</a>
            </li>
        </ul>
        
            <div class="tab-pane fade  show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list"> 
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>สุทิน ศิริคงสุข</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                     
                                    </div>
                                </div>
                                <p>
                                    พัฒนาบุคลากรให้มีความเชี่ยวชาญในวิชาชีพอย่างต่อเนื่อง สร้างสรรค์ผลงานโดยคำนึงถึงผลกระทบที่มีต่อสังคม ธรรมชาติและสิ่งแวดล้อม ให้บริการวิชาชีพที่มีคุณภาพและสร้างความพึงพอใจสูงสุดให้แก่ผู้รับบริการ
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>แสดงความคิดเห็น</h4>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="ชื่อ">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="อีเมล์">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="เบอร์โทรศัพท์">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="ข้อความ"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn primary-btn">แสดงความคิดเห็น</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>ทั้งหมด</h5>
                                    <h4>4.0</h4>
                                    <h6>(03 ผู้ให้คะแนน)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>รวม 3 ผู้ให้คะแนน</h3>
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                5 ดาว <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 ดาว <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 ดาว <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 ดาว <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 ดาว <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>นายรัตนาภรณ์  ว่องเกษฏา</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    พัฒนาบุคลากรให้มีความเชี่ยวชาญในวิชาชีพอย่างต่อเนื่อง สร้างสรรค์ผลงานโดยคำนึงถึงผลกระทบที่มีต่อสังคม ธรรมชาติและสิ่งแวดล้อม ให้บริการวิชาชีพที่มีคุณภาพและสร้างความพึงพอใจสูงสุดให้แก่ผู้รับบริการ
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>สุธรรม จันทร์อ่อน</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    พัฒนาบุคลากรให้มีความเชี่ยวชาญในวิชาชีพอย่างต่อเนื่อง สร้างสรรค์ผลงานโดยคำนึงถึงผลกระทบที่มีต่อสังคม ธรรมชาติและสิ่งแวดล้อม ให้บริการวิชาชีพที่มีคุณภาพและสร้างความพึงพอใจสูงสุดให้แก่ผู้รับบริการ
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>นภาพร เชื่อสามัคคี</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    พัฒนาบุคลากรให้มีความเชี่ยวชาญในวิชาชีพอย่างต่อเนื่อง สร้างสรรค์ผลงานโดยคำนึงถึงผลกระทบที่มีต่อสังคม ธรรมชาติและสิ่งแวดล้อม ให้บริการวิชาชีพที่มีคุณภาพและสร้างความพึงพอใจสูงสุดให้แก่ผู้รับบริการ
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>รีวิว</h4>
                            <p>ให้คะแนน :</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>คะแนน</p>
                            <form action="#/" class="form-contact form-review mt-3">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text" placeholder="ชื่อ" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="อีเมล์" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="subject" type="text" placeholder="หัวข้อ">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control different-control w-100" name="textarea" id="textarea" cols="30" rows="5" placeholder="ข้อความ"></textarea>
                                </div>
                                <div class="form-group text-center text-md-right mt-3">
                                    <button type="submit" class="button button--active button-review">รีวิว</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>*@
<!--================End Product Description Area =================-->

<section class="newletter">
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
</section>