﻿
@{
    ViewBag.Title = "ApproveOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UrlServices = HttpContext.Current.Request.IsSecureConnection == true ? GlobalVal.UrlServices2 : GlobalVal.UrlServices;
}

@section Styles {
    <style>

        .list_container {
            overflow: auto;
        }

        .modal-dialog {
            top: calc(200px);
        }
    </style>

    <link href="~/assets/css/main.css" rel="stylesheet" />
}

@section Scripts {

    <script>
        var _loginid = "@Request.Cookies["Vlogin"]["loginid"]";
        var webapi = "@UrlServices";
        var cartdata = new Array();

        $(function () {

            $('#cb1').val(1).niceSelect('update');

            $(".pixel-radio").prop("disabled", true);
            $(".pixel-radio").click(function () {
                alert("กรุณากลับไปที่หน้าสินค้าก่อนทำการเลือกข้อมูล");
            });

            getmyorder(0, 1);
            getmyorder(2, 3);
            getmyorder(4, 4);
            getmyorder(5, 5);
            $("#uploadfile1").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded1;
                    reader.readAsDataURL(this.files[0]);
                }
                else {
                    $('#showimage1').attr('src', webapi + "/assets/img/payment/nophoto.png");
                }
            });

            $("#btnconfirmpayment").click(function () {
                updatepaymentstatus($(this).attr("data-orderid"));
            });
            $("#btnconfirmdelivery").click(function () {
                updatedeliverystatus($(this).attr("data-orderid"));
            });

            $('input[name="number"]').keyup(function (e) {
                if (/\D/g.test(this.value)) {
                    this.value = this.value.replace(/\D/g, '');
                }
            });
            $(':radio').change(function () {
                console.log('New star rating: ' + this.value);
            });

        });

        function getmyorder(s_processstatus, n_processstatus) {
            console.log(webapi + "/Order/getorder_master/ALL/ALL/" + s_processstatus + "/" + n_processstatus) ;
            $.ajax({
                type: "get",
                url: webapi + "/Order/getorder_master/ALL/ALL/" + s_processstatus + "/" + n_processstatus,
                data: {},
                dataType: "json",
                success: function (response) {
                    console.log("response", response);
                    var pro = "";
                    var count = 0;
                    for (i = 0; i < response.length; i++) {
                        pro += '<tr> ';
                        pro += ' <td class="text-center">#' + response[i].orderid + '</td>';

                        pro += ' <td class="text-center modalstatus"  style="cursor:pointer;" data-orderid="' + response[i].orderid + '" data-processstatus="' + response[i].processstatus + '" data-deliverystatus="' + response[i].deliverystatus + '" data-deliveryprice="' + response[i].deliveryprice + '" ><div class="media"> <div class="d-flex">    ';

                        for (j = 0; j < response[i].Details.length; j++) {
                            pro += '  <img src="' + webapi + '/img/product/' + response[i].Details[j].pic1 + '" style="object-fit:cover;object-position:center;height:40px;width:40px;" alt=""> ';
                        }
                        pro += '  </div></div></td> ';
                        pro += ' <td class="text-center">' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice)) + ' </td> ';
                        pro += ' <td class="text-center"> ' + response[i].orderdate1 + ' </td> ';

                        if (response[i].paymentstatus == 0) {
                            pro += ' <td class="text-center addpayment" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus + '" data-ordertotal="' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice)) + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"> <i class="fa fa-times-circle text-danger "></i> </td> ';
                        } else if (response[i].paymentstatus == 1) {
                            pro += ' <td class="text-center addpayment" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus + '" data-ordertotal="' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice)) + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"> <i class="far fa-check-circle text-warning"></i> </td> ';
                        } else if (response[i].paymentstatus == 2) {
                            pro += ' <td class="text-center addpayment" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus + '" data-ordertotal="' + $.number(parseInt(response[i].ordertotal) + parseInt(response[i].deliveryprice)) + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"> <i class="far fa-check-circle text-success"></i> </td> ';
                        }

                        if (response[i].deliverystatus == 0) {
                            pro += ' <td class="text-center adddelivery" data-deliverytrackingnumber="' + response[i].deliverytrackingnumber + '" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="ยังไม่ได้จัดส่ง"> <i class="fa fa-times-circle text-danger "></i> </td> ';
                        } else if (response[i].deliverystatus == 1) {
                            pro += ' <td class="text-center adddelivery"  data-deliverytrackingnumber="' + response[i].deliverytrackingnumber + '" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '" data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="กำลังแพ็คของ"> <i class="far fa-check-circle text-warning"></i> </td> ';
                        } else if (response[i].deliverystatus == 2) {
                            pro += ' <td class="text-center adddelivery"  data-deliverytrackingnumber="' + response[i].deliverytrackingnumber + '" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="จัดส่งแล้ว"> <i class="far fa-check-circle text-success"></i> </td> ';
                        } else if (response[i].deliverystatus == 3) {
                            pro += ' <td class="text-center adddelivery"  data-deliverytrackingnumber="' + response[i].deliverytrackingnumber + '" data-paymentremark="' + response[i].paymentremark + '" data-deliverystatus="' + response[i].deliverystatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;" title ="รับของแล้ว"> <i class="far fa-check-circle text-success">complete</i> </td> ';
                        }
                        pro += ' <td class="text-center printcover" data-paymentremark="' + response[i].paymentremark + '" data-paymentstatus="' + response[i].paymentstatus + '"  data-paymentpic="' + response[i].paymentpic + '" data-orderid="' + response[i].orderid + '" style="cursor:pointer;"> <i class="fa fa-print"></i> </td> ';
                        pro += '</tr> ';

                        count += 1;
                    }

                    if (n_processstatus == 1) {
                        $("#tab1notifynumber").html(count);


                        $("#tbdata").html("");
                        $("#tbdata").append(pro);
                    } else if (n_processstatus == 3) {
                        $("#tab2notifynumber").html(count);
                        $("#tbdata2").html("");
                        $("#tbdata2").append(pro);
                    } else if (n_processstatus == 4) {
                        $("#tab3notifynumber").html(count);
                        $("#tbdata3").html("");
                        $("#tbdata3").append(pro);
                    } else if (n_processstatus == 5) {
                        $("#tab4notifynumber").html(count);
                        $("#tbdata4").html("");
                        $("#tbdata4").append(pro);
                    }

                    $(".modalstatus").click(function () {
                        Loaddatadetail($(this).attr("data-orderid"), $(this).attr("data-deliveryprice"));

                        $('#lbname').html($(this).attr("data-name"));
                        $('#lbprice').html(parseFloat($(this).attr("data-total")) / parseFloat($(this).attr("data-qty")));
                        $('#lbqty').html($(this).attr("data-qty"));
                        $('#lbtotal').html($(this).attr("data-total"));
                        $('#lbdate').html($(this).attr("data-date"));
                        $('#propic').attr("src", webapi + "/img/product/" + $(this).attr("data-pic"));

                        $('#modalstatus').modal('toggle');
                    });

                    $(".addpayment").click(function () {
                        if ($(this).attr("data-paymentpic") === "") {
                            $('#showimage1').attr('src', webapi + "/assets/img/payment/nophoto.png");
                        } else {


                            $('#showimage1').attr("onclick", "location.href = '" + webapi + "/assets/img/payment/" + $(this).attr('data-paymentpic') +"';");
                            $('#showimage1').attr("src", webapi + "/assets/img/payment/" + $(this).attr("data-paymentpic"));
                        }
                        $('#txtpayamt').val($.number($(this).attr("data-ordertotal")));
                        $('#btnconfirmpayment').attr("data-orderid", $(this).attr("data-orderid"));
                        $('#cbopaymentstatus').val($(this).attr("data-paymentstatus")).niceSelect('update');
                        $('#txtorderno').val("#"+$(this).attr("data-orderid"));
                        $('#txtremark').val($(this).attr("data-paymentremark"));
                        $('#modalpayment').modal('toggle');
                    });

                    $(".adddelivery").click(function () {

                        $('#txtdeliveryremark').val($(this).attr("data-deliverytrackingnumber"));
                        $('#btnconfirmdelivery').attr("data-orderid", $(this).attr("data-orderid"));
                        $('#cbopaymentstatus').val($(this).attr("data-paymentstatus")).niceSelect('update');
                        $('#txtorderno').val("#" + $(this).attr("data-orderid"));
                        $('#modaldelivery').modal('toggle');
                    });

                    $(".printcover").click(function () {
                        location.href = webapi + '/Print/PrintCover/' + $(this).attr("data-id");
                    });


                }
            });
        }


        function Loaddatadetail(orderid, deliveryprice) {
            console.log(webapi + "/Order/getorder_master/ALL/" + orderid + "/ALL/ALL");
            $.ajax({
                type: "get",
                url: webapi + "/Order/getorder_master/ALL/" + orderid + "/ALL/ALL",
                data: {},
                dataType: "json",
                success: function (response) {
                    console.log(response[0].Details);
                    var pro = "";
                    var nettotal = 0;
                    for (i = 0; i < response[0].Details.length; i++) {

                        pro += '<tr> ';
                        pro += ' <td><div class="media"> <div class="d-flex"><img src="' + webapi + '/img/product/' + response[0].Details[i].pic1 + '" style="object-fit:cover;object-position:center;height:30px;width:30px;" alt=""></div><div class="media-body" title="ชื่อสินค้า"><p>' + response[0].Details[i].productname + '</p></div> </div></td> ';
                        pro += ' <td><h5>' + $.number(response[0].Details[i].price) + '</h5></td>';
                        pro += ' <td><h5>' + response[0].Details[i].qty + '</h5></td>';
                        pro += ' <td> <h5>' + response[0].Details[i].price * response[0].Details[i].qty + '</h5> </td> ';
                        pro += '</tr> ';

                        nettotal += response[0].Details[i].price * response[0].Details[i].qty;

                    }
                    pro += '  <tr> ';
                    pro += '  <td> <h4>ราคา (บาท)</h4></td>      <td> <h5></h5> </td><td> <h5></h5> </td><td> <p>' + $.number(nettotal) + '</p> </td> ';
                    pro += ' </tr> ';
                    pro += '  <tr> ';
                    pro += '  <td> <h4>ค่าขนส่ง</h4></td>         <td> <h5></h5> </td><td> <h5></h5> </td><td> <p>' + deliveryprice + '</p> </td> ';
                    pro += ' </tr> ';
                    pro += '  <tr> ';
                    pro += '  <td> <h4>ราคาสุทธิ (บาท)</h4></td>   <td> <h5></h5> </td><td> <h5></h5> </td><td> <p id="lbtotalamt">' + $.number(nettotal + parseInt(deliveryprice)) + '</p> </td> ';
                    pro += ' </tr> ';
                    $("#tbdatadetail").html("");
                    $("#tbdatadetail").append(pro);


                }
            });
        }

        function updatepaymentstatus(orderid) {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("orderid", orderid);
            dataForm.append("paymentstatus", $('#cbopaymentstatus').val());


            $.ajax({
                type: "POST",
                url: webapi + "/backend/updatepaymentstatus/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                    getmyorder(0, 1);
                    getmyorder(2, 3);
                    getmyorder(4, 4);
                    getmyorder(5, 5);
                    $('#modalpayment').modal('toggle');
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }


        function updatedeliverystatus(orderid) {
            var dataForm = new FormData();
            /*----------Text-----------*/
            dataForm.append("orderid", orderid);
            dataForm.append("deliverystatus", $('#cbodeliverystatus').val());


            $.ajax({
                type: "POST",
                url: webapi + "/backend/updatedeliverystatus/",
                contentType: false,
                processData: false,
                data: dataForm,

                success: function (data) {
                    console.log(data);
                    getmyorder(0, 1);
                    getmyorder(2, 3);
                    getmyorder(4, 4);
                    getmyorder(5, 5);
                    $('#modaldelivery').modal('toggle');
                },
                error: function (data) {
                    console.log("Error");
                }
            });
        }



    </script>
}


<div class="container">

    <div class="filter-bar d-flex flex-wrap align-items-center" style="margin-top:1px;">
        <div class="sorting">
        </div>
        <div class="sorting mr-auto">
        </div>
        <div>
            <div class="input-group filter-bar-search">
                <input type="text" placeholder="ค้นหาสินค้า">
                <div class="input-group-append">
                    <button type="button"><i class="ti-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="js-wizard-simple block block">
                <ul class="nav nav-tabs nav-tabs-block nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#wizard-progress-step1" data-toggle="tab">1. รอดำเนินการ <span class="badge badge-pill badge-warning" id="tab1notifynumber">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step2" data-toggle="tab">2. พร้อมที่จะจัดส่ง <span class="badge badge-pill badge-warning" id="tab2notifynumber">0</span>  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step3" data-toggle="tab">3. ส่งของแล้ว <span class="badge badge-pill badge-warning" id="tab3notifynumber">0</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wizard-progress-step4" data-toggle="tab">4. เสร็จสิ้น <span class="badge badge-pill badge-success" id="tab4notifynumber">0</span> </a>
                    </li>
                </ul>

                <div class="block-content block-content-full tab-content px-md-5" style="min-height: 300px;">
                    <div class="tab-pane active" id="wizard-progress-step1" role="tabpanel">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">เลขที่</th>
                                            <th class="text-center" scope="col">รายการ</th>
                                            <th class="text-center" scope="col">รวม</th>
                                            <th class="text-center" scope="col">วันที่สั่งซื้อ</th>
                                            <th class="text-center" scope="col">ชำระเงิน</th>
                                            <th class="text-center" scope="col">ขนส่ง</th>
                                            <th class="text-center" scope="col">พิมพ์</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdata"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="wizard-progress-step2" role="tabpanel">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">เลขที่</th>
                                            <th class="text-center" scope="col">รายการ</th>
                                            <th class="text-center" scope="col">รวม</th>
                                            <th class="text-center" scope="col">วันที่สั่งซื้อ</th>
                                            <th class="text-center" scope="col">ชำระเงิน</th>
                                            <th class="text-center" scope="col">ขนส่ง</th>
                                            <th class="text-center" scope="col">พิมพ์</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdata2"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="wizard-progress-step3" role="tabpanel">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">เลขที่</th>
                                                <th class="text-center" scope="col">รายการ</th>
                                                <th class="text-center" scope="col">รวม</th>
                                                <th class="text-center" scope="col">วันที่สั่งซื้อ</th>
                                                <th class="text-center" scope="col">ชำระเงิน</th>
                                                <th class="text-center" scope="col">ขนส่ง</th>
                                                <th class="text-center" scope="col">พิมพ์</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbdata3"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="wizard-progress-step4" role="tabpanel">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">เลขที่</th>
                                                <th class="text-center" scope="col">รายการ</th>
                                                <th class="text-center" scope="col">รวม</th>
                                                <th class="text-center" scope="col">วันที่สั่งซื้อ</th>
                                                <th class="text-center" scope="col">ชำระเงิน</th>
                                                <th class="text-center" scope="col">ขนส่ง</th>
                                                <th class="text-center" scope="col">พิมพ์</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbdata4"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalpayment" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="filter-bar flex-wrap align-items-center" style="height:50px;margin-bottom: 1px;">
                    <label for="pic">แนบไฟล์แอกสารเพื่อยืนยันการชำระเงิน</label>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group col-md-12">
                                <div>ออเดอร์เลขที่</div>
                                <div> <input id="txtorderno" style="width:100%" disabled /></div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>จำนวนเงินที่ชำระ</div>
                                <div> <input name="number" id="txtpayamt" style="width:100%" disabled /></div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>หมายเหตุ</div>
                                <div> <textarea id="txtremark" rows="2" style="width:100%" disabled></textarea></div>
                            </div>
                            <div class="col-md-12">
                                <div>สถานะอนุมัติ</div>
                                <select style="width:100%;" id="cbopaymentstatus">
                                    <option value="0">ยังไม่ชำระ</option>
                                    <option value="1">ชำระแล้ว</option>
                                    <option value="2">อนุมัติการชำระ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group col-md-12">

                                <div class="input-group  text-center" style="border:solid;">
                                    <img id="showimage1" type="file" name="image" class="img img-thumbnail center" accept="image/jpg, image/jpeg, image/png" src="@UrlServices/assets/img/payment/nophoto.png" style="width:auto;height:300px;border-width:2px;border-style:solid;object-position:center;object-fit:cover;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnconfirmpayment" type="button" class="btn btnok">บันทึก</button>
                    <button type="button" class="btn btncancel" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modaldelivery" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="filter-bar flex-wrap align-items-center" style="height:50px;margin-bottom: 1px;">
                    <label for="pic">สถานะการขนส่ง</label>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg-6">

                            <div class="form-group col-md-12">
                                <div>เลข Tracking</div>
                                <div> <textarea id="txtdeliveryremark" rows="2" style="width:100%"></textarea></div>
                            </div>
                            <div class="col-md-12">
                                <div>สถานะอนุมัติ</div>
                                <select style="width:100%;" id="cbodeliverystatus">
                                    <option value="0">ยังไม่ได้จัดส่ง</option>
                                    <option value="1">กำลังแพ็คของ</option>
                                    <option value="2">จัดส่งเรียบร้อยแล้ว</option>
                                    <option value="3">รับของเรียบร้อยแล้ว</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnconfirmdelivery" type="button" class="btn btnok">บันทึก</button>
                    <button type="button" class="btn btncancel" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Large Block Modal -->
<div class="modal fade" id="modalstatus" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style=" height:620px;">
            <div class="block block-themed block-transparent mb-0">
                <div class="filter-bar flex-wrap align-items-center" style="height:50px;margin-bottom: 1px;">
                    <label>รายละเอียด Order</label>
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="margin-top:0px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <div style="margin-left:50px;">
                                <p style="margin-bottom: 0rem;">ชื่อผู้สั่ง :<a id="lbbillname">นายกิตติเทพ  กิตติวานิช</a></p>
                                <p style="margin-bottom: 0rem;">เบอร์โทรศัพท์ :<a id="lbtel">0875214559</a></p>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div style="margin-left:50px;">
                                <p style="margin-bottom: 0rem;">ที่อยู่จัดส่ง :<a id="lbbilladdress">111/250 หมู่บ้านศิริสุข ซอย 8 ถนนช่างอากาศอุทิศแขวงสีกันเขตดอนเมือง กทม. 10210</a></p>
                            </div>
                        </div>

                    </div>
                    <div class="order_details_table list_container" style="background-color:white; margin-top: 0px; height:420px;">
                        <p class="text-center billing-alert" style="color:red;" id="lbnoitem" hidden>*** ยังไม่มีสินค้าในตะกร้า ***</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">รายการ</th>
                                        <th scope="col">ราคา/หน่วย</th>
                                        <th scope="col">จำนวน</th>
                                        <th scope="col">รวม</th>
                                    </tr>
                                </thead>
                                <tbody id="tbdatadetail"></tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- END Large Block Modal -->
